### 예측 단위 : 현재 추정 매출, 다음 분기 매출

In [1]:
# Import the module
import pandas as pd

pd.set_option('display.max_columns', 500)

In [2]:
## 2023년 추출 코드 필요하면 쓰세요
# data = pd.read_csv("../../data/raw data/상권/추정매출/서울시 상권분석서비스(추정매출-상권).csv", encoding="cp949")
# data = data[data['기준_년분기_코드'] >= 2023]
# data.to_csv('../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv', index=False)

## 개별 파일 병합

### 추정매출 sales

In [3]:
sales2019 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2019년.csv", encoding="cp949")
sales2020 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2020년.csv", encoding="cp949")
sales2021 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2021년.csv", encoding="cp949")
sales2022 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2022년.csv", encoding="cp949")
sales2023 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv")

In [4]:
sales2019.shape, sales2020.shape, sales2021.shape, sales2022.shape, sales2023.shape

((78405, 55), (79988, 55), (81826, 55), (83573, 55), (42119, 55))

In [5]:
sales = pd.concat([sales2019, sales2020, sales2021, sales2022, sales2023])
sales = sales.reset_index(drop=True)

In [6]:
sales['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [7]:
sales.isnull().sum().sum()

0

In [8]:
sales

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,D,발달상권,3120037,동대문역사문화공원역,CS200029,네일숍,2.039329e+07,208,1.705198e+07,3.341312e+06,10079574.0,0.0,3251302.0,1736638.0,1.984464e+06,5.968310e+05,2.744481e+06,0.0,0.0,2.806361e+06,1.883718e+06,1.420945e+07,1493760,0.000000e+00,2.039329e+07,0,3494505,2724832.0,0.000000e+00,1.367377e+07,5.001860e+05,176,32,73,0,49,36,18,14,18,0,0,56,39,86,27,0,208,0,56,21,0,123,8
1,20191,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,CS200029,네일숍,7.314771e+07,2136,5.702546e+07,1.612225e+07,11704014.0,9926780.0,13925573.0,11094589.0,1.037450e+07,1.281625e+07,3.306002e+06,0.0,71676.0,1.359320e+07,1.855191e+07,3.932973e+07,1601195,3.011932e+06,7.013578e+07,0,20258941,34029326.0,8.219377e+06,7.853565e+06,2.786502e+06,1757,379,286,364,457,391,259,284,95,0,5,264,562,1270,35,59,2077,0,715,995,236,157,33
2,20191,A,골목상권,3110085,경리단길남측,CS200029,네일숍,3.000000e+06,40,2.337081e+06,6.629190e+05,0.0,604671.0,294118.0,705882.0,7.324100e+05,4.777340e+05,1.851850e+05,0.0,555556.0,1.851850e+05,8.262520e+05,1.026528e+06,406479,0.000000e+00,3.000000e+06,0,479303,1604958.0,9.157390e+05,0.000000e+00,0.000000e+00,32,8,0,5,6,12,9,6,2,0,1,2,14,14,9,0,40,0,8,28,5,0,0
3,20191,A,골목상권,3110166,구의1동주민센터,CS200029,네일숍,8.443798e+06,153,4.984275e+06,3.459523e+06,0.0,0.0,1306931.0,2370413.0,1.306931e+06,2.754805e+06,7.047180e+05,0.0,0.0,1.153174e+06,1.588818e+06,4.420501e+06,1281305,1.281300e+05,8.315668e+06,0,1716948,5445545.0,1.281305e+06,0.000000e+00,0.000000e+00,89,64,0,0,25,38,26,38,26,0,0,26,50,64,13,13,140,0,52,88,13,0,0
4,20191,A,골목상권,3110161,중곡역 3번,CS200029,네일숍,2.075699e+07,305,1.669444e+07,4.062554e+06,245090.0,565445.0,3744146.0,3384050.0,8.755705e+06,3.355372e+06,7.071820e+05,0.0,0.0,2.372621e+06,3.714210e+06,1.205476e+07,2615404,4.198900e+05,2.033710e+07,0,4348966,3810679.0,6.738272e+06,4.159712e+06,1.699361e+06,244,61,7,18,46,47,126,52,9,0,0,36,37,196,36,4,301,0,79,28,68,91,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365906,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300024,운동/경기용품,3.070326e+09,1822,2.995437e+09,7.488909e+07,368003386.0,578387908.0,424583428.0,941263065.0,6.831987e+08,7.488909e+07,0.000000e+00,0.0,98326368.0,1.160527e+09,1.292292e+09,5.191802e+08,0,1.594137e+09,1.147537e+09,0,36448568,36024747.0,6.357308e+08,1.529335e+09,5.041345e+08,1717,105,551,340,297,360,169,63,42,0,212,699,699,212,0,848,572,0,42,21,106,402,848
365907,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300026,완구,7.268984e+08,32273,3.778485e+08,3.490499e+08,65005755.0,47678073.0,56005496.0,63389205.0,1.457700e+08,1.956493e+08,1.534005e+08,0.0,5113254.0,1.347818e+08,2.493450e+08,3.158698e+08,21788492,3.101254e+08,4.167729e+08,6566045,297790485,223835603.0,1.410070e+08,3.883445e+07,1.886476e+07,16675,15598,2738,2447,2854,2709,5927,8520,7078,0,219,5941,11257,13632,1224,14077,18196,383,13914,9987,5975,1499,515
365908,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300028,화초,4.382898e+07,3575,2.733274e+07,1.649624e+07,5150112.0,10516554.0,4290851.0,2930455.0,4.444767e+06,8.751374e+06,7.744863e+06,0.0,9202212.0,1.094013e+07,1.203632e+07,1.101042e+07,639901,1.858803e+07,1.617144e+07,815632,9176155,12872553.0,7.180707e+06,1.734883e+06,2.979540e+06,1884,1691,370,393,297,339,485,915,776,0,443,933,1278,866,55,1800,1679,97,642,1230,891,321,297
365909,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300031,가구,6.480944e+09,3524,3.541939e+09,2.939004e+09,820854468.0,602688339.0,553697884.0,389280275.0,1.175418e+09,1.412546e+09,1.526458e+09,0.0,814510382.0,1.616685e+09,2.577286e+09,1.402678e+09,69784966,2.415713e+09,3.860810e+09,0,134464058,515626722.0,1.444550e+09,1.475739e+09,2.706143e+09,2291,1233,494,282,493,423,599,670,563,0,351,951,1411,776,35,1175,2313,0,36,214,636,713,1889
365910,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300032,가전제품,7.955111e+08,3319,5.625987e+08,2.329124e+08,56654831.0,146702158.0,51407962.0,91538936.0,2.162948e+08,9.836428e+07,1.345482e+08,0.0,28289029.0,1.731439e+08,2.205461e+08,3.669509e+08,6581244,4.239356e+08,2.078127e+08,1079867,108424269,117280618.0,1.120492e+08,1.082600e+08,1.846543e+08,2305,1014,360,450,348,460,687,594,420,0,84,828,882,1447,78,1682,1188,30,774,720,552,456,338

### 집객시설 facilities

In [9]:
facilities = pd.read_csv("../../data/raw data/상권/집객시설/서울시 상권분석서비스(집객시설-상권).csv", encoding="cp949")

In [10]:
# 집객시설 - 2019년 1-4분기, 2020년 1-3분기 데이터 없음
facilities['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204], dtype=int64)

In [11]:
facilities.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

In [12]:
facilities = facilities.fillna(0)
facilities.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [13]:
facilities2019 = facilities[(20191 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20194)]
facilities2020 = facilities[(20201 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20204)]
facilities2021 = facilities[(20211 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20214)]
facilities2022 = facilities[(20221 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20224)]
facilities2023 = facilities[(20231 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20234)]

In [14]:
# 2020년 1, 2, 3분기 데이터 생성(= 2020년 4분기 copy)
facilities20204 = facilities2020[facilities2020['기준_년분기_코드'] == 20204]

facilities20201 = facilities20204.copy()
facilities20202 = facilities20204.copy()
facilities20203 = facilities20204.copy()

facilities20201['기준_년분기_코드'] = 20201
facilities20202['기준_년분기_코드'] = 20202
facilities20203['기준_년분기_코드'] = 20203

print(facilities20201.shape, facilities20202.shape, facilities20203.shape, facilities20204.shape)

facilities2020 = pd.concat([facilities20201, facilities20202, facilities20203, facilities20204])
facilities2020 = facilities2020.reset_index(drop=True)

print(facilities2020['기준_년분기_코드'].unique())

(1578, 25) (1578, 25) (1578, 25) (1578, 25)
[20201 20202 20203 20204]

In [15]:
facilities2019.shape, facilities2020.shape, facilities2021.shape, facilities2022.shape, facilities2023.shape

((0, 25), (6312, 25), (6312, 25), (6312, 25), (3156, 25))

In [16]:
facilities = pd.concat([facilities2019, facilities2020, facilities2021, facilities2022, facilities2023])
facilities = facilities.reset_index(drop=True)

In [17]:
facilities['기준_년분기_코드'].unique()

array([20201, 20202, 20203, 20204, 20214, 20213, 20212, 20211, 20224,
       20223, 20222, 20221, 20232, 20231], dtype=int64)

### 직장인구 office_population

In [18]:
# 직장인구 데이터 load
office_population = pd.read_csv("../../data/raw data/상권/직장인구/서울시 상권분석서비스(직장인구-상권).csv", encoding="cp949")

In [19]:
# 직장인구 - 2019년 2-3분기 데이터 없음
office_population['기준_년분기_코드'].unique()

array([20191, 20212, 20194, 20213, 20221, 20222, 20223, 20224, 20202,
       20231, 20214, 20232, 20201, 20203, 20204, 20211], dtype=int64)

In [20]:
office_population.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [21]:
office_population2019 = office_population[(20191 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20194)]
office_population2020 = office_population[(20201 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20204)]
office_population2021 = office_population[(20211 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20214)]
office_population2022 = office_population[(20221 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20224)]
office_population2023 = office_population[(20231 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20234)]

In [22]:
office_population2019.shape, office_population2020.shape, office_population2021.shape, office_population2022.shape, office_population2023.shape

((3267, 26), (6492, 26), (6492, 26), (6492, 26), (3246, 26))

In [23]:
# 2019년 2,3분기 데이터 생성(= 2019년 1분기 copy)
office_population20191 = office_population2019[office_population2019['기준_년분기_코드']==20191]
office_population20192 = office_population20191.copy()
office_population20193 = office_population20191.copy()
office_population20194 = office_population2019[office_population2019['기준_년분기_코드']==20194]

office_population20192['기준_년분기_코드'] = 20192
office_population20193['기준_년분기_코드'] = 20193

print(office_population20191.shape, office_population20192.shape, office_population20193.shape, office_population20194.shape)

office_population2019 = pd.concat([office_population20191, office_population20192, office_population20193, office_population20194])
office_population2019 = office_population2019.reset_index(drop=True)

print(office_population2019['기준_년분기_코드'].unique())

(1644, 26) (1644, 26) (1644, 26) (1623, 26)
[20191 20192 20193 20194]

In [24]:
office_population = pd.concat([office_population2019, office_population2020, office_population2021, office_population2022, office_population2023])
office_population = office_population.reset_index(drop=True)

In [25]:
office_population['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20202, 20201, 20203, 20204, 20212,
       20213, 20214, 20211, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

### 점포 store

In [26]:
store2019 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2019년.csv", encoding="cp949")
store2020 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2020년.csv", encoding="cp949")
store2021 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2021년.csv", encoding="cp949")
store2022 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2022년.csv", encoding="cp949")
store2023 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2023년.csv")

In [27]:
store2019.shape, store2020.shape, store2021.shape, store2022.shape, store2023.shape

((298601, 14), (301143, 14), (303483, 14), (304755, 14), (152288, 14))

In [28]:
store = pd.concat([store2019, store2020, store2021, store2022, store2023])
store = store.reset_index(drop=True)

In [29]:
store['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [30]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 영역 area

In [31]:
area = pd.read_csv("../../data/raw data/상권/영역/서울시 상권분석서비스(영역-상권).csv", encoding="cp949")
area

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093,453418,11110,종로구,11110515,청운효자동,149264
1,A,골목상권,3110009,자하문터널,196991,455057,11110,종로구,11110550,부암동,178306
2,A,골목상권,3110010,평창동서측,197064,456643,11110,종로구,11110560,평창동,369415
3,A,골목상권,3110017,정독도서관,198581,453781,11110,종로구,11110600,가회동,83855
4,A,골목상권,3110018,중앙고등학교,198883,453690,11110,종로구,11110600,가회동,166872
...,...,...,...,...,...,...,...,...,...,...,...
1645,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,198397,451614,11140,중구,11140520,소공동,983618
1646,U,관광특구,3001493,동대문패션타운 관광특구,200996,451976,11140,중구,11140590,광희동,606058
1647,U,관광특구,3001494,종로?청계 관광특구,199796,452274,11110,종로구,11110615,종로1?2?3?4가동,653127
1648,U,관광특구,3001495,잠실 관광특구,210188,446334,11710,송파구,11710562,방이2동,2462734
1649,U,관광특구,3001496,강남 마이스 관광특구,205282,445736,11680,강남구,11680580,삼성1동,237892

In [32]:
area.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 아파트 apartment

In [33]:
apartment = pd.read_csv("../../data/raw data/상권/아파트/서울시 상권분석서비스(아파트-상권).csv", encoding="cp949")

In [34]:
# 아파트 - 2019년 1-3분기 데이터 없음
apartment['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194], dtype=int64)

In [35]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

In [36]:
apartment = apartment.fillna(0)
apartment.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [37]:
apartment2019 = apartment[(20191 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20194)]
apartment2020 = apartment[(20201 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20204)]
apartment2021 = apartment[(20211 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20214)]
apartment2022 = apartment[(20221 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20224)]
apartment2023 = apartment[(20231 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20234)]

In [38]:
apartment2019.shape, apartment2020.shape, apartment2021.shape, apartment2022.shape, apartment2023.shape

((1484, 20), (5936, 20), (5916, 20), (5855, 20), (2926, 20))

In [39]:
apartment = pd.concat([apartment2019, apartment2020, apartment2021, apartment2022, apartment2023])
apartment = apartment.reset_index(drop=True)

### 소득소비 money

In [40]:
money = pd.read_csv("../../data/raw data/상권/소득소비/서울시 상권분석서비스(소득소비-상권).csv", encoding="cp949")

In [41]:
money['기준_년분기_코드'].unique()

array([20231, 20232, 20191, 20193, 20192, 20194, 20201, 20202, 20203,
       20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223, 20224],
      dtype=int64)

In [42]:
money.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

In [43]:
money = money.fillna(0)
money.isnull().sum()

기준_년분기_코드       0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
여가_지출_총금액       0
문화_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
dtype: int64

In [44]:
money2019 = money[(20191 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20194)]
money2020 = money[(20201 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20204)]
money2021 = money[(20211 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20214)]
money2022 = money[(20221 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20224)]
money2023 = money[(20231 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20234)]

In [45]:
money2019.shape, money2020.shape, money2021.shape, money2022.shape, money2023.shape

((6518, 17), (6524, 17), (6524, 17), (6524, 17), (3262, 17))

In [46]:
money = pd.concat([money2019, money2020, money2021, money2022, money2023])
money = money.reset_index(drop=True)

### 생활인구 de_facto_population

In [47]:
de_facto_population = pd.read_csv("../../data/raw data/상권/생활인구/서울시 상권분석서비스(길단위인구-상권).csv", encoding="cp949")

In [48]:
de_facto_population['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194, 20193, 20192, 20191],
      dtype=int64)

In [49]:
de_facto_population.isnull().sum()

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [50]:
de_facto_population2019 = de_facto_population[(20191 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20194)]
de_facto_population2020 = de_facto_population[(20201 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20204)]
de_facto_population2021 = de_facto_population[(20211 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20214)]
de_facto_population2022 = de_facto_population[(20221 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20224)]
de_facto_population2023 = de_facto_population[(20231 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20234)]

In [51]:
de_facto_population2019.shape, de_facto_population2020.shape, de_facto_population2021.shape, de_facto_population2022.shape, de_facto_population2023.shape

((6600, 27), (6600, 27), (6600, 27), (6599, 27), (3298, 27))

In [52]:
de_facto_population = pd.concat([de_facto_population2019, de_facto_population2020, de_facto_population2021, de_facto_population2022, de_facto_population2023])
de_facto_population = de_facto_population.reset_index(drop=True)

### 상주인구 de_jure_population

In [53]:
de_jure_population = pd.read_csv("../../data/raw data/상권/상주인구/서울시 상권분석서비스(상주인구-상권).csv", encoding="cp949")

In [54]:
# 상주인구 - 2019년 1-3분기 데이터 없음
de_jure_population['기준_년분기_코드'].unique()

array([20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214,
       20221, 20222, 20223, 20224, 20231, 20232], dtype=int64)

In [55]:
de_jure_population.isnull().sum()

기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [56]:
de_jure_population2019 = de_jure_population[(20191 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20194)]
de_jure_population2020 = de_jure_population[(20201 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20204)]
de_jure_population2021 = de_jure_population[(20211 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20214)]
de_jure_population2022 = de_jure_population[(20221 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20224)]
de_jure_population2023 = de_jure_population[(20231 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20234)]

In [57]:
de_jure_population2019.shape, de_jure_population2020.shape, de_jure_population2021.shape, de_jure_population2022.shape, de_jure_population2023.shape

((1634, 29), (6536, 29), (6536, 29), (6527, 29), (3253, 29))

In [58]:
de_jure_population = pd.concat([de_jure_population2019, de_jure_population2020, de_jure_population2021, de_jure_population2022, de_jure_population2023])
de_jure_population = de_jure_population.reset_index(drop=True)

## 전체 파일 병합
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드']`
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드']`

In [59]:
# sales + facilities

In [60]:
sales.shape, facilities.shape

((365911, 55), (22092, 25))

In [61]:
facilities = facilities.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = sales.merge(facilities, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 75)

In [62]:
# sales + facilities + office_population

In [63]:
temp.shape, office_population.shape

((365911, 75), (29277, 26))

In [64]:
office_population = office_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(office_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 96)

In [65]:
# sales + facilities + office_population + store

In [66]:
temp.shape, store.shape

((365911, 96), (1360270, 14))

In [67]:
store = store.drop(columns=['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'])

temp = temp.merge(store, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드'])
temp.shape

(365911, 103)

In [68]:
# sales + facilities + office_population + store + area

In [69]:
temp.shape, area.shape

((365911, 103), (1650, 11))

In [70]:
area = area.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(area, how='left', on=['상권_구분_코드', '상권_코드'])
temp.shape

(365911, 110)

In [71]:
# sales + facilities + office_population + store + area + apartment

In [72]:
temp.shape, apartment.shape

((365911, 110), (22117, 20))

In [73]:
apartment = apartment.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(apartment, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 125)

In [74]:
# sales + facilities + office_population + store + area + apartment + money

In [75]:
temp.shape, money.shape

((365911, 125), (29352, 17))

In [76]:
money = money.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(money, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 137)

In [77]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population

In [78]:
temp.shape, de_facto_population.shape

((365911, 137), (29697, 27))

In [79]:
de_facto_population = de_facto_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_facto_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 159)

In [80]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population + de_jure_population

In [81]:
temp.shape, de_jure_population.shape

((365911, 159), (24486, 29))

In [82]:
de_jure_population = de_jure_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_jure_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 183)

### csv 파일로 저장

In [83]:
market_data = temp.copy()

In [84]:
market_data.shape

(365911, 183)

#### '상권_코드_명', ' replace
- 같은 `상권 코드`를 사용하는 `상권_코드_명`이 존재함을 발견 → 같은 이름 but, `.`이 `?`로 표시됨
- `행정동_코드_명`에서 `?`로 나타나는 값이 존재함을 발견
- 두 컬럼에서 `?`를 `?`으로 replace 작업 진행

In [85]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1578)

In [86]:
temp = market_data[['상권_코드', '상권_코드_명']].drop_duplicates()
temp

          상권_코드                 상권_코드_명
0       3120037              동대문역사문화공원역
1       3001492  명동 남대문 북창동 다동 무교동 관광특구
2       3110085                  경리단길남측
3       3110166                구의1동주민센터
4       3110161                  중곡역 3번
...         ...                     ...
240453  3130046           team204(팀204)
254243  3110017                   정독도서관
321225  3130288                신림현대종합상가
344687  3001494              종로?청계 관광특구
345579  3110119                  마장지하차도

[1578 rows x 2 columns]

In [87]:
temp[temp['상권_코드'].duplicated()]

          상권_코드     상권_코드_명
344687  3001494  종로?청계 관광특구

In [88]:
temp[temp['상권_코드'] == 3001494]

          상권_코드     상권_코드_명
93      3001494  종로·청계 관광특구
344687  3001494  종로?청계 관광특구

In [89]:
market_data['상권_코드_명'] = market_data['상권_코드_명'].str.replace('?', '·', regex=False)
market_data['행정동_코드_명'] = market_data['행정동_코드_명'].str.replace('?', '·', regex=False)

In [90]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1577)

In [91]:
market_data.to_csv('../../data/market_full_data.csv', index=False)