In [2]:
from glob import glob
import pandas as pd

In [3]:
df_total=pd.DataFrame()
df_추정매출=pd.DataFrame()
df_상주인구=pd.DataFrame()
df_생활인구=pd.DataFrame()
df_소득소비=pd.DataFrame()
df_아파트=pd.DataFrame()
df_영역=pd.DataFrame()
df_점포=pd.DataFrame()
df_직장인구=pd.DataFrame()
df_집객시설=pd.DataFrame()

In [143]:
path='../../data/raw data/행정동/'

#### 추정매출

In [144]:

dfs_추정매출=[]
for f_name in glob(path+'추정매출/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_추정매출.append(temp)
a,b,c,d,e=dfs_추정매출

In [145]:
df_추정매출=pd.concat([a,b,c,d,e])
df_추정매출 = df_추정매출.reset_index(drop=True)
df_추정매출.shape

(368904, 53)

In [146]:
df_추정매출['기준_년분기_코드'].unique()

array([20221, 20222, 20223, 20224, 20231, 20232, 20191, 20192, 20193,
       20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214],
      dtype=int64)

In [147]:
df_추정매출.isna().sum().sum()

0

#### 상주인구

In [15]:
dfs_상주인구=[]
for f_name in glob(path+'상주인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_상주인구.append(temp)
df_상주인구,=dfs_상주인구
df_상주인구.shape

(7629, 27)

In [16]:
df_상주인구.isna().sum()

기준_년분기_코드             0
행정동_코드                0
행정동_코드_명              0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [32]:
temp_total=0
cnt=0
for x in df_상주인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_상주인구.loc[df_상주인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:418
년분기: 20192  행정동 개수:418  년분기: 20193  행정동 개수:418  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20224  행정동 개수:425  년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20223  행정동 개수:425  cnt: 18

In [33]:
# 20191, 20192, 20193 
dong_code_20191=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20191]['행정동_코드'])
dong_code_20192=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20192]['행정동_코드'])
dong_code_20193=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20193]['행정동_코드'])
dong_code_20194=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20194]['행정동_코드'])

In [56]:
total_dong_code_425=dong_code_20194.copy()
diff_191=[x for x in total_dong_code_425 if x not in dong_code_20191 ]
diff_192=[x for x in total_dong_code_425 if x not in dong_code_20192 ]
diff_193=[x for x in total_dong_code_425 if x not in dong_code_20193 ]
print("빠진 행정동 코드")
print(diff_191)
print(diff_192)
print(diff_193)
# 번1,2,3동/ 수유1,2,3동/ 항동

빠진 행정동 코드
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]

In [35]:
없는_행정동코드=[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
# 19년 1,2,3분기 7개 동 데이터 없음 -> 19년 4분기 7개 동 데이터로 추가
for x in 없는_행정동코드: # 7개 동 리스트
    new_row1=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row1['기준_년분기_코드']=20191
    new_row2=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row2['기준_년분기_코드']=20192
    new_row3=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row3['기준_년분기_코드']=20193
    df_상주인구 = pd.concat([df_상주인구, new_row1, new_row2, new_row3], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row1['기준_년분기_코드']=20191
C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row2['기준_년분기_코드']=20192
C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row3['기준_년분기_코드']=20193

In [36]:
cnt=0
for x in df_상주인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_상주인구.loc[df_상주인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20224  행정동 개수:425  년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20223  행정동 개수:425  cnt: 18

In [37]:
df_상주인구.shape

(7650, 27)

### 생활인구

In [38]:
dfs_생활인구=[]
for f_name in glob(path+'생활인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_생활인구.append(temp)
df_생활인구,=dfs_생활인구
df_생활인구.shape

(7650, 25)

In [39]:
cnt=0
for x in df_생활인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_생활인구.loc[df_생활인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  cnt: 18

In [41]:
df_생활인구.isna().sum()

기준_년분기_코드           0
행정동_코드              0
행정동_코드_명            0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [42]:
df_생활인구.shape

(7650, 25)

### 소득소비

In [45]:
dfs_소득소비=[]
for f_name in glob(path+'소득소비/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_소득소비.append(temp)
df_소득소비,=dfs_소득소비
df_소득소비.shape

(7650, 16)

In [46]:
cnt=0
for x in df_소득소비['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_소득소비.loc[df_소득소비['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20191  행정동 개수:425  년분기: 20204  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425
년분기: 20223  행정동 개수:425  년분기: 20224  행정동 개수:425  cnt: 18

In [47]:
df_소득소비.isna().sum()

기준_년분기_코드       0
행정동_코드          0
행정동_코드_명        0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
여가_문화_지출_총금액    0
기타_지출_총금액       0
음식_지출_총금액       0
dtype: int64

In [48]:
df_소득소비.shape

(7650, 16)

### 아파트

In [49]:
# 아파트
dfs_아파트=[]
for f_name in glob(path+'아파트/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_아파트.append(temp)
df_아파트,=dfs_아파트
df_아파트.shape

(6368, 18)

In [50]:
df_아파트.isna().sum()

기준_년분기_코드                    0
행정동_코드                       0
행정동_코드_명                     0
아파트_단지_수                     0
아파트_면적_66_제곱미터_미만_세대_수      74
아파트_면적_66_제곱미터_세대_수          3
아파트_면적_99_제곱미터_세대_수        123
아파트_면적_132_제곱미터_세대_수      1126
아파트_면적_165_제곱미터_세대_수      2989
아파트_가격_1_억_미만_세대_수         563
아파트_가격_1_억_세대_수            298
아파트_가격_2_억_세대_수            241
아파트_가격_3_억_세대_수            248
아파트_가격_4_억_세대_수            682
아파트_가격_5_억_세대_수           1368
아파트_가격_6_억_이상_세대_수        2090
아파트_평균_면적                    0
아파트_평균_시가                    0
dtype: int64

In [51]:
df_아파트.fillna(0,inplace=True)
df_아파트.isna().sum()

기준_년분기_코드                 0
행정동_코드                    0
행정동_코드_명                  0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [52]:
cnt=0
for x in df_아파트['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_아파트.loc[df_아파트['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20231  행정동 개수:424
년분기: 20232  행정동 개수:424  년분기: 20194  행정동 개수:425  년분기: 20201  행정동 개수:425
년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425  년분기: 20204  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20214  행정동 개수:424  년분기: 20221  행정동 개수:424  년분기: 20222  행정동 개수:424
년분기: 20223  행정동 개수:424  년분기: 20224  행정동 개수:424  cnt: 15

In [57]:
# 행정동 425개 아닌 년분기
temp_아파트=[20214,20221,20222,20223,20224,20231,20232]

In [58]:
# 동 개수 425개가 아닌 년분기들의 행정동 코드 찾기
for x in temp_아파트:
    temp_code=list(df_아파트.loc[df_아파트['기준_년분기_코드']==x]['행정동_코드'])
    temp_diff=[y for y in total_dong_code_425 if y not in temp_code ]
    print(f'분기:{x} 빠진 행정동 코드:{temp_diff}')

분기:20214 빠진 행정동 코드:[11740690]
분기:20221 빠진 행정동 코드:[11740690]
분기:20222 빠진 행정동 코드:[11740690]
분기:20223 빠진 행정동 코드:[11740690]
분기:20224 빠진 행정동 코드:[11740690]
분기:20231 빠진 행정동 코드:[11740690]
분기:20232 빠진 행정동 코드:[11740690]

In [ ]:
# 11740690: 둔촌1동 -> 서비스X

In [63]:
df_아파트['기준_년분기_코드'].unique(),len(df_아파트['기준_년분기_코드'].unique())

(array([20231, 20232, 20194, 20201, 20202, 20203, 20204, 20211, 20212,
        20213, 20214, 20221, 20222, 20223, 20224], dtype=int64),
 15)

In [64]:
없는_년도분기=[20191,20192,20193]
# 19년 1,2,3분기 데이터 없음 -> 19년 4분기 데이터로 추가
temp_아파트_20194=df_아파트.loc[(df_아파트['기준_년분기_코드']==20194)]
for x in 없는_년도분기: # 3개 년도분기 리스트
    new_df=temp_아파트_20194.copy()
    new_df['기준_년분기_코드']=x
    df_아파트 = pd.concat([df_아파트, new_df], ignore_index=True)

In [65]:
df_아파트['기준_년분기_코드'].unique(),len(df_아파트['기준_년분기_코드'].unique())

(array([20231, 20232, 20194, 20201, 20202, 20203, 20204, 20211, 20212,
        20213, 20214, 20221, 20222, 20223, 20224, 20191, 20192, 20193],
       dtype=int64),
 18)

In [66]:
df_아파트.shape

(7643, 18)

### 직장인구

In [67]:
dfs_직장인구=[]
for f_name in glob(path+'직장인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_직장인구.append(temp)
df_직장인구,=dfs_직장인구
df_직장인구.shape

(7636, 24)

In [68]:
cnt=0
for x in df_직장인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_직장인구.loc[df_직장인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:418  년분기: 20193  행정동 개수:418  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425  cnt: 18

In [69]:
없는_행정동코드=[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
# 19년 2,3분기 7개 동 데이터 없음 -> 19년 1분기 7개 동 데이터로 추가
for x in 없는_행정동코드: # 7개 동 리스트
    new_row1=df_직장인구.loc[(df_직장인구['행정동_코드']==x)&(df_직장인구['기준_년분기_코드']==20191)]
    new_row1['기준_년분기_코드']=20192
    new_row2=df_직장인구.loc[(df_직장인구['행정동_코드']==x)&(df_직장인구['기준_년분기_코드']==20191)]
    new_row2['기준_년분기_코드']=20193
    df_직장인구 = pd.concat([df_직장인구, new_row1, new_row2], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_27600\1583877815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row1['기준_년분기_코드']=20192
C:\Users\user\AppData\Local\Temp\ipykernel_27600\1583877815.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row2['기준_년분기_코드']=20193

In [70]:
cnt=0
for x in df_직장인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_직장인구.loc[df_직장인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425  cnt: 18

In [71]:
df_직장인구.isna().sum()

기준_년분기_코드              0
행정동_코드                 0
행정동_코드_명               0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [72]:
df_직장인구.shape

(7650, 24)

### 집객시설

In [73]:
dfs_집객시설=[]
for f_name in glob(path+'집객시설/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_집객시설.append(temp)
df_집객시설,=dfs_집객시설
df_집객시설.shape

(4675, 23)

In [74]:
cnt=0
for x in df_집객시설['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_집객시설.loc[df_집객시설['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20232  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20213  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20224  행정동 개수:425  cnt: 11

In [76]:
df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(array([20232, 20231, 20204, 20214, 20211, 20212, 20221, 20222, 20213,
        20223, 20224], dtype=int64),
 11)

In [77]:
df_집객시설2019 = df_집객시설[(20191 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20194)]
df_집객시설2020 = df_집객시설[(20201 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20204)]
df_집객시설2021 = df_집객시설[(20211 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20214)]
df_집객시설2022 = df_집객시설[(20221 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20224)]
df_집객시설2023 = df_집객시설[(20231 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20234)]
df_집객시설2019.shape,df_집객시설2020.shape,df_집객시설2021.shape,df_집객시설2022.shape,df_집객시설2023.shape

((0, 23), (425, 23), (1700, 23), (1700, 23), (850, 23))

In [78]:
# 2020년 1, 2, 3분기 데이터 생성(= 2020년 4분기 copy)
df_집객시설20204 = df_집객시설2020[df_집객시설2020['기준_년분기_코드'] == 20204]

df_집객시설20201 = df_집객시설20204.copy()
df_집객시설20202 = df_집객시설20204.copy()
df_집객시설20203 = df_집객시설20204.copy()

df_집객시설20201['기준_년분기_코드'] = 20201
df_집객시설20202['기준_년분기_코드'] = 20202
df_집객시설20203['기준_년분기_코드'] = 20203

print(df_집객시설20201.shape, df_집객시설20202.shape, df_집객시설20203.shape, df_집객시설20204.shape)

df_집객시설2020 = pd.concat([df_집객시설20201, df_집객시설20202, df_집객시설20203, df_집객시설20204])
df_집객시설2020 = df_집객시설2020.reset_index(drop=True)

df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(425, 23) (425, 23) (425, 23) (425, 23)

(array([20232, 20231, 20204, 20214, 20211, 20212, 20221, 20222, 20213,
        20223, 20224], dtype=int64),
 11)

In [79]:
df_집객시설 = pd.concat([df_집객시설2019, df_집객시설2020, df_집객시설2021, df_집객시설2022, df_집객시설2023])
df_집객시설 = df_집객시설.reset_index(drop=True)
df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(array([20201, 20202, 20203, 20204, 20214, 20211, 20212, 20213, 20221,
        20222, 20223, 20224, 20232, 20231], dtype=int64),
 14)

In [81]:
df_집객시설.isna().sum()

기준_년분기_코드       0
행정동_코드          0
행정동_코드_명        0
집객시설_수          0
관공서_수          28
은행_수          798
종합병원_수       5222
일반_병원_수      4032
약국_수           28
유치원_수        1974
초등학교_수        896
중학교_수        2408
고등학교_수       3052
대학교_수        4256
백화점_수        5824
슈퍼마켓_수       4690
극장_수         4900
숙박_시설_수      4536
공항_수         5922
철도_역_수       5950
버스_터미널_수     5908
지하철_역_수      2744
버스_정거장_수       14
dtype: int64

In [83]:
df_집객시설.fillna(0,inplace=True)
df_집객시설.isna().sum()

기준_년분기_코드    0
행정동_코드       0
행정동_코드_명     0
집객시설_수       0
관공서_수        0
은행_수         0
종합병원_수       0
일반_병원_수      0
약국_수         0
유치원_수        0
초등학교_수       0
중학교_수        0
고등학교_수       0
대학교_수        0
백화점_수        0
슈퍼마켓_수       0
극장_수         0
숙박_시설_수      0
공항_수         0
철도_역_수       0
버스_터미널_수     0
지하철_역_수      0
버스_정거장_수     0
dtype: int64

In [84]:
df_집객시설.shape

(5950, 23)

#### 점포

In [85]:
dfs_점포=[]
for f_name in glob(path+'점포/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_점포.append(temp)
f,g,h,i,j=dfs_점포

In [86]:
df_점포=pd.concat([f,g,h,i,j])
df_점포 = df_점포.reset_index(drop=True)
df_점포.shape

(774756, 12)

In [88]:
df_점포['기준_년분기_코드'].unique(),len(df_점포['기준_년분기_코드'].unique())

(array([20221, 20222, 20223, 20224, 20231, 20232, 20191, 20192, 20193,
        20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214],
       dtype=int64),
 18)

In [89]:
df_점포.isna().sum()

기준_년분기_코드      0
행정동_코드         0
행정동_코드_명       0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

In [90]:
df_점포.shape

(774756, 12)

## 전체 병합
- on=['기준_년분기_코드','행정동_코드','행정동_코드_명']
- on=['기준_년분기_코드','행정동_코드','행정동_코드_명','서비스_업종_코드', '서비스_업종_코드_명']

In [113]:
# 추정매출 + 집객시설
df_추정매출.shape,df_집객시설.shape

((368904, 53), (5950, 23))

In [114]:
tmp1 = df_추정매출.merge(df_집객시설, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp1.shape

(368904, 73)

In [115]:
# 추정매출 + 집객시설 + 직장인구
tmp1.shape,df_직장인구.shape

((368904, 73), (7650, 24))

In [116]:
tmp2 = tmp1.merge(df_직장인구, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp2.shape

(368904, 94)

In [117]:
# 추정매출 + 집객시설 + 직장인구 + 점포
tmp2.shape,df_점포.shape

((368904, 94), (774756, 12))

In [118]:
tmp3 = tmp2.merge(df_점포, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명','서비스_업종_코드', '서비스_업종_코드_명'])
tmp3.shape

(501852, 101)

In [119]:
# 추정매출 + 집객시설 + 직장인구 + 점포 + 아파트
tmp3.shape,df_아파트.shape

((501852, 101), (7643, 18))

In [120]:
tmp4 = tmp3.merge(df_아파트, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp4.shape

(501852, 116)

In [121]:
# 추정매출 + 집객시설 + 직장인구 + 점포 + 아파트 + 소득소비
tmp4.shape,df_소득소비.shape

((501852, 116), (7650, 16))

In [122]:
tmp5 = tmp4.merge(df_소득소비, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp5.shape

(501852, 129)

In [123]:
# 추정매출 + 집객시설 + 직장인구 + 점포 + 아파트 + 소득소비 +상주인구
tmp5.shape,df_상주인구.shape

((501852, 129), (7650, 27))

In [124]:
tmp6 = tmp5.merge(df_상주인구, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp6.shape

(501852, 153)

In [125]:
# 추정매출 + 집객시설 + 직장인구 + 점포 + 아파트 + 소득소비 +상주인구 + 생활인구
tmp6.shape,df_생활인구.shape

((501852, 153), (7650, 25))

In [126]:
tmp7 = tmp6.merge(df_생활인구, how='left', on=['기준_년분기_코드','행정동_코드','행정동_코드_명'])
tmp7.shape

(501852, 175)

## csv 저장

In [127]:
dong_data = tmp7.copy()

In [128]:
dong_data.shape

(501852, 175)

In [109]:
pd.set_option('display.max_columns', 500)

In [140]:
dong_data

,기준_년분기_코드,행정동_코드,행정동_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,20221,11110515,청운효자동,CS100001,한식음식점,3015376427,115548,2222313964,793062463,425159717,405966564,448849177,481753186,460585320,490675623,302386840,4138713,43136687,1035666304,505957809,1245024432,181452482,1434937972,1067839785,15043906,555821260,597689900,469728912,498345036,366148732,83519,32029,16449,15769,16747,17652,16902,18175,13854,116,2083,48561,26339,36039,2410,56059,50754,1172,25533,25588,19737,19417,15363,93.0,6.0,3.0,0.0,0.0,4.0,1.0,1.0,2.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,10628.0,6827.0,3801.0,65.0,1929.0,3064.0,2954.0,1874.0,742.0,7.0,842.0,1921.0,2196.0,1349.0,512.0,58.0,1087.0,1143.0,758.0,525.0,230.0,92,93,2,2,3,3,1,326.0,1539.0,581.0,84.0,91.0,117.0,231.0,695.0,834.0,279.0,85.0,68.0,220.0,69.0,275434219.0,3780222.0,8.0,2.767632e+09,8.296180e+08,173429000.0,27080000.0,145842000.0,15264000.0,44797000.0,61183000.0,475213000.0,63138000.0,932068000.0,12434.0,5780.0,6654.0,1993.0,1594.0,1697.0,2148.0,1979.0,3023.0,1046.0,793.0,780.0,967.0,919.0,1275.0,947.0,801.0,917.0,1181.0,1060.0,1748.0,5352.0,0.0,5352.0,3627519.0,1647778.0,1979740.0,625082.0,528086.0,567738.0,644555.0,540835.0,721222.0,835484.0,751388.0,500316.0,500252.0,612787.0,427291.0,517921.0,518434.0,525407.0,532053.0,524481.0,510860.0,498361.0
1,20221,11110515,청운효자동,CS100001,한식음식점,3015376427,115548,2222313964,793062463,425159717,405966564,448849177,481753186,460585320,490675623,302386840,4138713,43136687,1035666304,505957809,1245024432,181452482,1434937972,1067839785,15043906,555821260,597689900,469728912,498345036,366148732,83519,32029,16449,15769,16747,17652,16902,18175,13854,116,2083,48561,26339,36039,2410,56059,50754,1172,25533,25588,19737,19417,15363,93.0,6.0,3.0,0.0,0.0,4.0,1.0,1.0,2.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,10628.0,6827.0,3801.0,65.0,1929.0,3064.0,2954.0,1874.0,742.0,7.0,842.0,1921.0,2196.0,1349.0,512.0,58.0,1087.0,1143.0,758.0,525.0,230.0,92,93,2,2,3,3,1,326.0,1539.0,581.0,84.0,91.0,117.0,231.0,695.0,834.0,279.0,85.0,68.0,220.0,69.0,275434219.0,3780222.0,8.0,2.767632e+09,8.296180e+08,173429000.0,27080000.0,145842000.0,15264000.0,44797000.0,61183000.0,475213000.0,63138000.0,932068000.0,12434.0,5780.0,6654.0,1993.0,1594.0,1697.0,2148.0,1979.0,3023.0,1046.0,793.0,780.0,967.0,919.0,1275.0,947.0,801.0,917.0,1181.0,1060.0,1748.0,5352.0,0.0,5352.0,3627519.0,1647778.0,1979740.0,625082.0,528086.0,567738.0,644555.0,540835.0,721222.0,835484.0,751388.0,500316.0,500252.0,612787.0,427291.0,517921.0,518434.0,525407.0,532053.0,524481.0,510860.0,498361.0
2,20221,11110515,청운효자동,CS100002,중식음식점,42685883,2382,35347726,7338157,6851542,6663384,8421686,6845053,6566061,7338157,0,0,10731486,31954397,0,0,0,23007165,13346233,123276,2095689,9875044,10724999,9180806,4353584,2013,369,409,449,422,389,344,369,0,0,616,1766,0,0,0,1447,661,6,123,624,565,500,292,93.0,6.0,3.0,0.0,0.0,4.0,1.0,1.0,2.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,10628.0,6827.0,3801.0,65.0,1929.0,3064.0,2954.0,1874.0,742.0,7.0,842.0,1921.0,2196.0,1349.0,512.0,58.0,1087.0,1143.0,758.0,525.0,230.0,3,3,0,0,0,0,0,326.0,1539.0,581.0,84.0,91.0,117.0,231.0,695.0,834.0,279.0,85.0,68.0,220.0,69.0,275434219.0,3780222.0,8.0,2.767632e+09,8.296180e+08,173429000.0,27080000.0,145842000.0,15264000.0,44797000.0,61183000.0,475213000.0,63138000.0,932068000.0,12434.0,5780.0,6654.0,1993.0,1594.0,1697.0,2148.0,1979.0,3023.0,1046.0,793.0,780.0,967.0,919.0,1275.0,947.0,801.0,917.0,1181.0,1060.0,1748.0,5352.0,0.0,5352.0,3627519.0,1647778.0,1979740.0,625082.0,528086.0,567738.0,644555.0,540835.0,721222.0,835484.0,751388.0,500316.0,500252.0,612787.0,427291.0,517921.0,518434.0,525407.0,532053.0,524481.0,510860.0,498361.0
3,20221,11110515,청운효자동,CS100002,중식음식점,42685883,2382,35347726,7338157,6851542,6663384,8421686,6845053,6566061,7338157,0,0,10731486,31954397,0,0,0,23007165,13346233,123276,2095689,9875044,10724999,9180806,4353584,2013,369,409,449,422,389,344,369,0,0,616,1766,0,0,0,1447,661,6,123,624,565,500,292,93.0,6.0,3.0,0.0,0.0,4.0,1.0,1.0,2.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,10628.0,6827.0,3801.0,65.0,1929.0,3064.0,2954.0,1874.0,742.0,7.0,842.0,1921.0,2196.0,1349.0,512.0,58.0,1087.0,1143.0,758.0,525.0,230.0,3,3,0,0,0,0,0,326.0,1539.0,581.0,84.0,91.0,117.0,231.0,695.0,834.0,279.0,85.0,68.0,220.0,69.0,275434219.0,3780222.0,8.0,2.767632e+09,8.296180e+08,173429000.0,27080000.0,145842000.0,15264000.0,44797000.0,61183000.0,475213000.0,63138000.0,932068000.0,12434.0,5780.0,6654.0,1993.0,1594.0,1697.0,2148.0,1979.0,3023.0,1046.0,793.0,780.0,967.0,919.0,1275.0,947.0,801.0,917.0,1181.0,1060.0,1748.0,5352.0,0.0,5352.0,3627519.0,1647778.0,1979740.0,625082.0,528086.0,567738.0,644555.0,540835.0,721222.0,835484.0,751388.0,500316.0,500252.0,612787.0,427291.0,517921.0,518434.0,525407.0,532053.0,524481.0,510860.0,498361.0
4,20221,11110515,청운효자동,CS100003,일식음식점,211421345,9598,148402306,63019039,13978529,31908382,33923188,30910692,37681515,33945390,29073649,0,0,98495932,37246935,69960569,5717909,84486641,106747072,3768954,78863970,41775715,27590027,28762998,10472050,6612,2986,373,1594,1637,1429,1579,1462,1524,0,0,4828,1904,2841,25,3671,5545,273,3911,2137,1182,1348,366,93.0,6.0,3.0,0.0,0.0,4.0,1.0,1.0,2.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,10628.0,6827.0,3801.0,65.0,1929.0,3064.0,2954.0,1874.0,742.0,7.0,842.0,1921.0,2196.0,1349.0,512.0,58.0,1087.0,1143.0,758.0,525.0,230.0,12,12,8,1,0,0,0,326.0,1539.0,581.0,84.0,91.0,117.0,231.0,695.0,834.0,279.0,85.0,68.0,220.0,69.0,275434219.0,3780222.0,8.0,2.767632e+09,8.296180e+08,173429000.0,27080000.0,145842000.0,15264000.0,44797000.0,61183000.0,475213000.0,63138000.0,932068000.0,12434.0,5780.0,6654.0,1993.0,1594.0,1697.0,2148.0,1979.0,3023.0,1046.0,793.0,780.0,967.0,919.0,1275.0,947.0,801.0,917.0,1181.0,1060.0,1748.0,5352.0,0.0,5352.0,3627519.0,1647778.0,1979740.0,625082.0,528086.0,567738.0,644555.0,540835.0,721222.0,835484.0,751388.0,500316.0,500252.0,612787.0,427291.0,517921.0,518434.0,525407.0,532053.0,524481.0,510860.0,498361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501847,20224,11620685,신사동,CS200032,가전제품수리,131873111,308,118784581,13088530,0,115697664,3086917,0,0,13088530,0,0,0,11977239,119895872,0,0,13829390,118043721,0,0,13088530,0,118784581,0,246,62,0,185,61,0,0,62,0,0,0,122,186,0,0,123,185,0,0,61,0,247,0,79.0,3.0,2.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,4234.0,2870.0,1364.0,2.0,678.0,1206.0,1226.0,768.0,354.0,2.0,298.0,818.0,953.0,572.0,227.0,0.0,380.0,388.0,273.0,196.0,127.0,12,12,0,0,0,0,0,212.0,1428.0,397.0,20.0,2.0,3.0,152.0,1060.0,593.0,19.0,25.0,1.0,0.0,53.0,179861474.0,2430662.0,5.0,3.497680e+09,1.389742e+09,70989000.0,123315000.0,540727000.0,68453000.0,61554000.0,221723000.0,130941000.0,125124000.0,765112000.0,23022.0,11613.0,11409.0,1976.0,2434.0,4982.0,3783.0,3628.0,6219.0,1047.0,1224.0,2628.0,1975.0,1828.0,2911.0,929.0,1210.0,2354.0,1808.0,1800.0,3308.0,13680.0,0.0,13680.0,7711213.0,3731050.0,3980162.0,640817.0,1880406.0,1475162.0,1068214.0,1023706.0,1622908.0,2263727.0,1651787.0,776248.0,767458.0,1187461.0,1064531.0,1101476.0,1077198.0,1076339.0,1067420.0,1073522.0,1134348.0,1180911.0
501848,20224,11620685,신사동,CS100009,호프-간이주점,525372348,12829,330833170,194539178,52542745,59787246,59828233,82449078,76225868,118050100,76489078,197339202,783557,5487653,4448402,77522661,239790873,370379422,145244399,1980715,157808665,151305166,86991168,85189483,32348623,8026,4803,1355,1438,1520,1893,1820,2701,2102,4004,120,501,579,2467,5158,8897,3767,151,4788,3282,1975,1808,660,79.0,3.0,2.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,4234.0,2870.0,1364.0,2.0,678.0,1206.0,1226.0,768.0,354.0,2.0,298.0,818.0,953.0,572.0,227.0,0.0,380.0,388.0,273.0,196.0,127.0,20,21,10,2,5,1,1,212.0,1428.0,397.0,20.0,2.0,3.0,152.0,1060.0,593.0,19.0,25.0,1.0,0.0,53.0,179861474.0,2430662.0,5.0,3.497680e+09,1.389742e+09,70989000.0,123315000.0,540727000.0,68453000.0,61554000.0,221723000.0,130941000.0,125124000.0,765112000.0,23022.0,11613.0,11409.0,1976.0,2434.0,4982.0,3783.0,3628.0,6219.0,1047.0,1224.0,2628.0,1975.0,1828.0,2911.0,929.0,1210.0,2354.0,1808.0,1800.0,3308.0,13680.0,0.0,13680.0,7711213.0,3731050.0,3980162.0,640817.0,1880406.0,1475162.0,1068214.0,1023706.0,1622908.0,2263727.0,1651787.0,776248.0,767458.0,1187461.0,1064531.0,1101476.0,1077198.0,1076339.0,1067420.0,1073522.0,1134348.0,1180911.0
501849,20224,11620685,신사동,CS100009,호프-간이주점,525372348,12829,330833170,194539178,52542745,59787246,59828233,82449078,76225868,118050100,76489078,197339202,783557,5487653,4448402,77522661,239790873,370379422,145244399,1980715,157808665,151305166,86991168,85189483,32348623,8026,4803,1355,1438,1520,1893,1820,2701,2102,4004,120,501,579,2467,5158,8897,3767,151,4788,3282,1975,1808,660,79.0,3.0,2.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,4234.0,2870.0,1364.0,2.0,678.0,1206.0,1226.0,768.0,354.0,2.0,298.0,818.0,953.0,572.0,227.0,0.0,380.0,388.0,273.0,196.0,127.0,20,21,10,2,5,1,1,212.0,1428.0,397.0,20.0,2.0,3.0,152.0,1060.0,593.0,19.0,25.0,1.0,0.0,53.0,179861474.0,2430662.0,5.0,3.497680e+09,1.389742e+09,70989000.0,123315000.0,540727000.0,68453000.0,61554000.0,221723000.0,130941000.0,125124000.0,765112000.0,23022.0,11613.0,11409.0,1976.0,2434.0,4982.0,3783.0,3628.0,6219.0,1047.0,1224.0,2628.0,1975.0,1828.0,2911.0,929.0,1210.0,2354.0,1808.0,1800.0,3308.0,13680.0,0.0,13680.0,7711213.0,3731050.0,3980162.0,640817.0,1880406.0,1475162.0,1068214.0,1023706.0,1622908.0,2263727.0,1651787.0,776248.0,767458.0,1187461.0,1064531.0,1101476.0,1077198.0,1076339.0,1067420.0,1073522.0,1134348.0,1180911.0
501850,20224,11620685,신사동,CS100003,일식음식점,29900281,312,17577450,12322831,3921446,4479938,3435019,2179916,3561131,9091991,3230840,4582027,0,0,0,11145798,14172456,21564955,5230598,0,492433,5927210,6605806,8161173,5608930,186,126,36,30,42,24,54,84,42,54,0,0,0,138,120,222,60,0,6,60,48,96,72,79.0,3.0,2.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,4234.0,2870.0,1364.0,2.0,678.0,1206.0,1226.0,768.0,354.0,2.0,298.0,818.0,953.0,572.0,227.0,0.0,380.0,388.0,273.0,196.0,127.0,6,7,14,1,0,0,1,212.0,1428.0,397.0,20.0,2.0,3.0,152.0,1060.0,593.0,19.0,25.0,1.0,0.0,53.0,179861474.0,2430662.0,5.0,3.497680e+09,1.389742e+09,70989000.0,123315000.0,540727000.0,68453000.0,61554000.0,221723000.0,130941000.0,125124000.0,765112000.0,23022.0,11613.0,11409.0,1976.0,2434.0,4982.0,3783.0,3628.0,6219.0,1047.0,1224.0,2628.0,1975.0,1828.0,2911.0,929.0,1210.0,2354.0,1808.0,1800.0,3308.0,13680.0,0.0,13680.0,7711213.0,3731050.0,3980162.0,640817.0,1880406.0,1475162.0,1068214.0,1023706.0,1622908.0,2263727.0,1651787.0,776248.0,767458.0,1187461.0,1064531.0,1101476.0,1077198.0,1076339.0,1067420.0,1073522.0,1134348.0,1180911.0
501851,20224,11620685,신사동,CS100003,일식음식점,29900281,312,17577450,12322831,3921446,4479938,3435019,2179916,3561131,9091991,3230840,4582027,0,0,0,11145798,14172456,21564955,5230598,0,492433,5927210,6605806,8161173,5608930,186,126,36,30,42,24,54,84,42,54,0,0,0,138,120,222,60,0,6,60,48,96,72,79.0,3.0,2.0,0.0,1.0,10.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,4234.0,2870.0,1364.0,2.0,678.0,1206.0,1226.0,768.0,354.0,2.0,298.0,818.0,953.0,572.0,227.0,0.0,380.0,388.0,273.0,196.0,127.0,6,7,14,1,0,0,1,212.0,1428.0,397.0,20.0,2.0,3.0,152.0,1060.0,593.0,19.0,25.0,1.0,0.0,53.0,179861474.0,2430662.0,5.0,3.497680e+09,1.389742e+09,70989000.0,123315000.0,540727000.0,68453000.0,61554000.0,221723000.0,130941000.0,125124000.0,765112000.0,23022.0,11613.0,11409.0,1976.0,2434.0,4982.0,3783.0,3628.0,6219.0,1047.0,1224.0,2628.0,1975.0,1828.0,2911.0,929.0,1210.0,2354.0,1808.0,1800.0,3308.0,13680.0,0.0,13680.0,7711213.0,3731050.0,3980162.0,640817.0,1880406.0,1475162.0,1068214.0,1023706.0,1622908.0,2263727.0,1651787.0,776248.0,767458.0,1187461.0,1064531.0,1101476.0,1077198.0,1076339.0,1067420.0,1073522.0,1134348.0,1180911.0

In [141]:
path2='/../../data/'
dong_data.to_csv(path2+'dong_full_data.csv', index=False)

In [142]:
df_dong=pd.read_csv('../../data/dong_full_data.csv')
df_dong.shape

(501852, 175)