In [2]:
from glob import glob
import pandas as pd

In [3]:
df_total=pd.DataFrame()
df_추정매출=pd.DataFrame()
df_상주인구=pd.DataFrame()
df_생활인구=pd.DataFrame()
df_소득소비=pd.DataFrame()
df_아파트=pd.DataFrame()
df_영역=pd.DataFrame()
df_점포=pd.DataFrame()
df_직장인구=pd.DataFrame()
df_집객시설=pd.DataFrame()

In [4]:
path='../../../big_proj/data/raw data/행정동/'

#### 추정매출

In [9]:

dfs_추정매출=[]
for f_name in glob(path+'추정매출/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_추정매출.append(temp)
a,b,c,d,e=dfs_추정매출

In [10]:
df_추정매출=pd.concat([a,b,c,d,e])
df_추정매출 = df_추정매출.reset_index(drop=True)
df_추정매출.shape

(368904, 53)

In [11]:
df_추정매출['기준_년분기_코드'].unique()

array([20221, 20222, 20223, 20224, 20231, 20232, 20191, 20192, 20193,
       20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214],
      dtype=int64)

In [13]:
df_추정매출.isna().sum().sum()

0

#### 상주인구

In [15]:
dfs_상주인구=[]
for f_name in glob(path+'상주인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_상주인구.append(temp)
df_상주인구,=dfs_상주인구
df_상주인구.shape

(7629, 27)

In [16]:
df_상주인구.isna().sum()

기준_년분기_코드             0
행정동_코드                0
행정동_코드_명              0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [32]:
temp_total=0
cnt=0
for x in df_상주인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_상주인구.loc[df_상주인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:418
년분기: 20192  행정동 개수:418  년분기: 20193  행정동 개수:418  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20224  행정동 개수:425  년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20223  행정동 개수:425  cnt: 18

In [33]:
# 20191, 20192, 20193 
dong_code_20191=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20191]['행정동_코드'])
dong_code_20192=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20192]['행정동_코드'])
dong_code_20193=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20193]['행정동_코드'])
dong_code_20194=list(df_상주인구.loc[df_상주인구['기준_년분기_코드']==20194]['행정동_코드'])

In [56]:
total_dong_code_425=dong_code_20194.copy()
diff_191=[x for x in total_dong_code_425 if x not in dong_code_20191 ]
diff_192=[x for x in total_dong_code_425 if x not in dong_code_20192 ]
diff_193=[x for x in total_dong_code_425 if x not in dong_code_20193 ]
print("빠진 행정동 코드")
print(diff_191)
print(diff_192)
print(diff_193)
# 번1,2,3동/ 수유1,2,3동/ 항동

빠진 행정동 코드
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]

In [35]:
없는_행정동코드=[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
# 19년 1,2,3분기 7개 동 데이터 없음 -> 19년 4분기 7개 동 데이터로 추가
for x in 없는_행정동코드: # 7개 동 리스트
    new_row1=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row1['기준_년분기_코드']=20191
    new_row2=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row2['기준_년분기_코드']=20192
    new_row3=df_상주인구.loc[(df_상주인구['행정동_코드']==x)&(df_상주인구['기준_년분기_코드']==20194)]
    new_row3['기준_년분기_코드']=20193
    df_상주인구 = pd.concat([df_상주인구, new_row1, new_row2, new_row3], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row1['기준_년분기_코드']=20191
C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row2['기준_년분기_코드']=20192
C:\Users\user\AppData\Local\Temp\ipykernel_27600\2411538292.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row3['기준_년분기_코드']=20193

In [36]:
cnt=0
for x in df_상주인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_상주인구.loc[df_상주인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20224  행정동 개수:425  년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20223  행정동 개수:425  cnt: 18

In [37]:
df_상주인구.shape

(7650, 27)

### 생활인구

In [38]:
dfs_생활인구=[]
for f_name in glob(path+'생활인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_생활인구.append(temp)
df_생활인구,=dfs_생활인구
df_생활인구.shape

(7650, 25)

In [39]:
cnt=0
for x in df_생활인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_생활인구.loc[df_생활인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425
년분기: 20213  행정동 개수:425  년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  cnt: 18

In [41]:
df_생활인구.isna().sum()

기준_년분기_코드           0
행정동_코드              0
행정동_코드_명            0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [42]:
df_생활인구.shape

(7650, 25)

### 소득소비

In [45]:
dfs_소득소비=[]
for f_name in glob(path+'소득소비/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_소득소비.append(temp)
df_소득소비,=dfs_소득소비
df_소득소비.shape

(7650, 16)

In [46]:
cnt=0
for x in df_소득소비['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_소득소비.loc[df_소득소비['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20231  행정동 개수:425
년분기: 20232  행정동 개수:425  년분기: 20191  행정동 개수:425  년분기: 20204  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20214  행정동 개수:425  년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425
년분기: 20223  행정동 개수:425  년분기: 20224  행정동 개수:425  cnt: 18

In [47]:
df_소득소비.isna().sum()

기준_년분기_코드       0
행정동_코드          0
행정동_코드_명        0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
여가_문화_지출_총금액    0
기타_지출_총금액       0
음식_지출_총금액       0
dtype: int64

In [48]:
df_소득소비.shape

(7650, 16)

### 아파트

In [49]:
# 아파트
dfs_아파트=[]
for f_name in glob(path+'아파트/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_아파트.append(temp)
df_아파트,=dfs_아파트
df_아파트.shape

(6368, 18)

In [50]:
df_아파트.isna().sum()

기준_년분기_코드                    0
행정동_코드                       0
행정동_코드_명                     0
아파트_단지_수                     0
아파트_면적_66_제곱미터_미만_세대_수      74
아파트_면적_66_제곱미터_세대_수          3
아파트_면적_99_제곱미터_세대_수        123
아파트_면적_132_제곱미터_세대_수      1126
아파트_면적_165_제곱미터_세대_수      2989
아파트_가격_1_억_미만_세대_수         563
아파트_가격_1_억_세대_수            298
아파트_가격_2_억_세대_수            241
아파트_가격_3_억_세대_수            248
아파트_가격_4_억_세대_수            682
아파트_가격_5_억_세대_수           1368
아파트_가격_6_억_이상_세대_수        2090
아파트_평균_면적                    0
아파트_평균_시가                    0
dtype: int64

In [51]:
df_아파트.fillna(0,inplace=True)
df_아파트.isna().sum()

기준_년분기_코드                 0
행정동_코드                    0
행정동_코드_명                  0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [52]:
cnt=0
for x in df_아파트['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_아파트.loc[df_아파트['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20231  행정동 개수:424
년분기: 20232  행정동 개수:424  년분기: 20194  행정동 개수:425  년분기: 20201  행정동 개수:425
년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425  년분기: 20204  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20214  행정동 개수:424  년분기: 20221  행정동 개수:424  년분기: 20222  행정동 개수:424
년분기: 20223  행정동 개수:424  년분기: 20224  행정동 개수:424  cnt: 15

In [57]:
# 행정동 425개 아닌 년분기
temp_아파트=[20214,20221,20222,20223,20224,20231,20232]

In [58]:
# 동 개수 425개가 아닌 년분기들의 행정동 코드 찾기
for x in temp_아파트:
    temp_code=list(df_아파트.loc[df_아파트['기준_년분기_코드']==x]['행정동_코드'])
    temp_diff=[y for y in total_dong_code_425 if y not in temp_code ]
    print(f'분기:{x} 빠진 행정동 코드:{temp_diff}')

분기:20214 빠진 행정동 코드:[11740690]
분기:20221 빠진 행정동 코드:[11740690]
분기:20222 빠진 행정동 코드:[11740690]
분기:20223 빠진 행정동 코드:[11740690]
분기:20224 빠진 행정동 코드:[11740690]
분기:20231 빠진 행정동 코드:[11740690]
분기:20232 빠진 행정동 코드:[11740690]

In [ ]:
# 11740690: 둔촌1동 -> 서비스X

In [63]:
df_아파트['기준_년분기_코드'].unique(),len(df_아파트['기준_년분기_코드'].unique())

(array([20231, 20232, 20194, 20201, 20202, 20203, 20204, 20211, 20212,
        20213, 20214, 20221, 20222, 20223, 20224], dtype=int64),
 15)

In [64]:
없는_년도분기=[20191,20192,20193]
# 19년 1,2,3분기 데이터 없음 -> 19년 4분기 데이터로 추가
temp_아파트_20194=df_아파트.loc[(df_아파트['기준_년분기_코드']==20194)]
for x in 없는_년도분기: # 3개 년도분기 리스트
    new_df=temp_아파트_20194.copy()
    new_df['기준_년분기_코드']=x
    df_아파트 = pd.concat([df_아파트, new_df], ignore_index=True)

In [65]:
df_아파트['기준_년분기_코드'].unique(),len(df_아파트['기준_년분기_코드'].unique())

(array([20231, 20232, 20194, 20201, 20202, 20203, 20204, 20211, 20212,
        20213, 20214, 20221, 20222, 20223, 20224, 20191, 20192, 20193],
       dtype=int64),
 18)

In [66]:
df_아파트.shape

(7643, 18)

### 직장인구

In [67]:
dfs_직장인구=[]
for f_name in glob(path+'직장인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_직장인구.append(temp)
df_직장인구,=dfs_직장인구
df_직장인구.shape

(7636, 24)

In [68]:
cnt=0
for x in df_직장인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_직장인구.loc[df_직장인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:418  년분기: 20193  행정동 개수:418  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425  cnt: 18

In [69]:
없는_행정동코드=[11305595, 11305603, 11305608, 11305615, 11305625, 11305635, 11530800]
# 19년 2,3분기 7개 동 데이터 없음 -> 19년 1분기 7개 동 데이터로 추가
for x in 없는_행정동코드: # 7개 동 리스트
    new_row1=df_직장인구.loc[(df_직장인구['행정동_코드']==x)&(df_직장인구['기준_년분기_코드']==20191)]
    new_row1['기준_년분기_코드']=20192
    new_row2=df_직장인구.loc[(df_직장인구['행정동_코드']==x)&(df_직장인구['기준_년분기_코드']==20191)]
    new_row2['기준_년분기_코드']=20193
    df_직장인구 = pd.concat([df_직장인구, new_row1, new_row2], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_27600\1583877815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row1['기준_년분기_코드']=20192
C:\Users\user\AppData\Local\Temp\ipykernel_27600\1583877815.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_row2['기준_년분기_코드']=20193

In [70]:
cnt=0
for x in df_직장인구['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_직장인구.loc[df_직장인구['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20191  행정동 개수:425
년분기: 20192  행정동 개수:425  년분기: 20193  행정동 개수:425  년분기: 20194  행정동 개수:425
년분기: 20201  행정동 개수:425  년분기: 20202  행정동 개수:425  년분기: 20203  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20213  행정동 개수:425
년분기: 20221  행정동 개수:425  년분기: 20222  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20232  행정동 개수:425  년분기: 20224  행정동 개수:425
년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425  cnt: 18

In [71]:
df_직장인구.isna().sum()

기준_년분기_코드              0
행정동_코드                 0
행정동_코드_명               0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [72]:
df_직장인구.shape

(7650, 24)

### 집객시설

In [73]:
dfs_집객시설=[]
for f_name in glob(path+'집객시설/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_집객시설.append(temp)
df_집객시설,=dfs_집객시설
df_집객시설.shape

(4675, 23)

In [74]:
cnt=0
for x in df_집객시설['기준_년분기_코드'].unique():
    print("년분기:",x,end='  ')
    print("행정동 개수:",end='')
    print(df_집객시설.loc[df_집객시설['기준_년분기_코드']==x]['행정동_코드'].count(),end='  ')
    if cnt%3==0:
        print()
    cnt+=1
print("cnt:",cnt)

년분기: 20232  행정동 개수:425
년분기: 20231  행정동 개수:425  년분기: 20204  행정동 개수:425  년분기: 20214  행정동 개수:425
년분기: 20211  행정동 개수:425  년분기: 20212  행정동 개수:425  년분기: 20221  행정동 개수:425
년분기: 20222  행정동 개수:425  년분기: 20213  행정동 개수:425  년분기: 20223  행정동 개수:425
년분기: 20224  행정동 개수:425  cnt: 11

In [76]:
df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(array([20232, 20231, 20204, 20214, 20211, 20212, 20221, 20222, 20213,
        20223, 20224], dtype=int64),
 11)

In [77]:
df_집객시설2019 = df_집객시설[(20191 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20194)]
df_집객시설2020 = df_집객시설[(20201 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20204)]
df_집객시설2021 = df_집객시설[(20211 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20214)]
df_집객시설2022 = df_집객시설[(20221 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20224)]
df_집객시설2023 = df_집객시설[(20231 <= df_집객시설['기준_년분기_코드']) & (df_집객시설['기준_년분기_코드'] <= 20234)]
df_집객시설2019.shape,df_집객시설2020.shape,df_집객시설2021.shape,df_집객시설2022.shape,df_집객시설2023.shape

((0, 23), (425, 23), (1700, 23), (1700, 23), (850, 23))

In [78]:
# 2020년 1, 2, 3분기 데이터 생성(= 2020년 4분기 copy)
df_집객시설20204 = df_집객시설2020[df_집객시설2020['기준_년분기_코드'] == 20204]

df_집객시설20201 = df_집객시설20204.copy()
df_집객시설20202 = df_집객시설20204.copy()
df_집객시설20203 = df_집객시설20204.copy()

df_집객시설20201['기준_년분기_코드'] = 20201
df_집객시설20202['기준_년분기_코드'] = 20202
df_집객시설20203['기준_년분기_코드'] = 20203

print(df_집객시설20201.shape, df_집객시설20202.shape, df_집객시설20203.shape, df_집객시설20204.shape)

df_집객시설2020 = pd.concat([df_집객시설20201, df_집객시설20202, df_집객시설20203, df_집객시설20204])
df_집객시설2020 = df_집객시설2020.reset_index(drop=True)

df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(425, 23) (425, 23) (425, 23) (425, 23)

(array([20232, 20231, 20204, 20214, 20211, 20212, 20221, 20222, 20213,
        20223, 20224], dtype=int64),
 11)

In [79]:
df_집객시설 = pd.concat([df_집객시설2019, df_집객시설2020, df_집객시설2021, df_집객시설2022, df_집객시설2023])
df_집객시설 = df_집객시설.reset_index(drop=True)
df_집객시설['기준_년분기_코드'].unique(),len(df_집객시설['기준_년분기_코드'].unique())

(array([20201, 20202, 20203, 20204, 20214, 20211, 20212, 20213, 20221,
        20222, 20223, 20224, 20232, 20231], dtype=int64),
 14)

In [81]:
df_집객시설.isna().sum()

기준_년분기_코드       0
행정동_코드          0
행정동_코드_명        0
집객시설_수          0
관공서_수          28
은행_수          798
종합병원_수       5222
일반_병원_수      4032
약국_수           28
유치원_수        1974
초등학교_수        896
중학교_수        2408
고등학교_수       3052
대학교_수        4256
백화점_수        5824
슈퍼마켓_수       4690
극장_수         4900
숙박_시설_수      4536
공항_수         5922
철도_역_수       5950
버스_터미널_수     5908
지하철_역_수      2744
버스_정거장_수       14
dtype: int64

In [83]:
df_집객시설.fillna(0,inplace=True)
df_집객시설.isna().sum()

기준_년분기_코드    0
행정동_코드       0
행정동_코드_명     0
집객시설_수       0
관공서_수        0
은행_수         0
종합병원_수       0
일반_병원_수      0
약국_수         0
유치원_수        0
초등학교_수       0
중학교_수        0
고등학교_수       0
대학교_수        0
백화점_수        0
슈퍼마켓_수       0
극장_수         0
숙박_시설_수      0
공항_수         0
철도_역_수       0
버스_터미널_수     0
지하철_역_수      0
버스_정거장_수     0
dtype: int64

In [84]:
df_집객시설.shape

(5950, 23)

#### 점포

In [85]:
dfs_점포=[]
for f_name in glob(path+'점포/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_점포.append(temp)
f,g,h,i,j=dfs_점포

In [86]:
df_점포=pd.concat([f,g,h,i,j])
df_점포 = df_점포.reset_index(drop=True)
df_점포.shape

(774756, 12)

In [88]:
df_점포['기준_년분기_코드'].unique(),len(df_점포['기준_년분기_코드'].unique())

(array([20221, 20222, 20223, 20224, 20231, 20232, 20191, 20192, 20193,
        20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214],
       dtype=int64),
 18)

In [89]:
df_점포.isna().sum()

기준_년분기_코드      0
행정동_코드         0
행정동_코드_명       0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

In [90]:
df_점포.shape

(774756, 12)