### 예측 단위 : 현재 추정 매출, 다음 분기 매출

In [1]:
# Import the module
import pandas as pd

pd.set_option('display.max_columns', 500)

In [2]:
## 2023년 추출 코드 필요하면 쓰세요
# data = pd.read_csv("../../data/raw data/상권/추정매출/서울시 상권분석서비스(추정매출-상권).csv", encoding="cp949")
# data = data[data['기준_년분기_코드'] >= 2023]
# data.to_csv('../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv', index=False)

## 개별 파일 병합

### 추정매출 sales

In [3]:
sales2019 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2019년.csv", encoding="cp949")
sales2020 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2020년.csv", encoding="cp949")
sales2021 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2021년.csv", encoding="cp949")
sales2022 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2022년.csv", encoding="cp949")
sales2023 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv")

In [4]:
sales2019.shape, sales2020.shape, sales2021.shape, sales2022.shape, sales2023.shape

((78405, 55), (79988, 55), (81826, 55), (83573, 55), (42119, 55))

In [5]:
sales = pd.concat([sales2019, sales2020, sales2021, sales2022, sales2023])
sales = sales.reset_index(drop=True)

In [6]:
sales['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [7]:
sales.isnull().sum().sum()

0

In [8]:
sales

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,D,발달상권,3120037,동대문역사문화공원역,CS200029,네일숍,2.039329e+07,208,1.705198e+07,3.341312e+06,10079574.0,0.0,3251302.0,1736638.0,1.984464e+06,5.968310e+05,2.744481e+06,0.0,0.0,2.806361e+06,1.883718e+06,1.420945e+07,1493760,0.000000e+00,2.039329e+07,0,3494505,2724832.0,0.000000e+00,1.367377e+07,5.001860e+05,176,32,73,0,49,36,18,14,18,0,0,56,39,86,27,0,208,0,56,21,0,123,8
1,20191,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,CS200029,네일숍,7.314771e+07,2136,5.702546e+07,1.612225e+07,11704014.0,9926780.0,13925573.0,11094589.0,1.037450e+07,1.281625e+07,3.306002e+06,0.0,71676.0,1.359320e+07,1.855191e+07,3.932973e+07,1601195,3.011932e+06,7.013578e+07,0,20258941,34029326.0,8.219377e+06,7.853565e+06,2.786502e+06,1757,379,286,364,457,391,259,284,95,0,5,264,562,1270,35,59,2077,0,715,995,236,157,33
2,20191,A,골목상권,3110085,경리단길남측,CS200029,네일숍,3.000000e+06,40,2.337081e+06,6.629190e+05,0.0,604671.0,294118.0,705882.0,7.324100e+05,4.777340e+05,1.851850e+05,0.0,555556.0,1.851850e+05,8.262520e+05,1.026528e+06,406479,0.000000e+00,3.000000e+06,0,479303,1604958.0,9.157390e+05,0.000000e+00,0.000000e+00,32,8,0,5,6,12,9,6,2,0,1,2,14,14,9,0,40,0,8,28,5,0,0
3,20191,A,골목상권,3110166,구의1동주민센터,CS200029,네일숍,8.443798e+06,153,4.984275e+06,3.459523e+06,0.0,0.0,1306931.0,2370413.0,1.306931e+06,2.754805e+06,7.047180e+05,0.0,0.0,1.153174e+06,1.588818e+06,4.420501e+06,1281305,1.281300e+05,8.315668e+06,0,1716948,5445545.0,1.281305e+06,0.000000e+00,0.000000e+00,89,64,0,0,25,38,26,38,26,0,0,26,50,64,13,13,140,0,52,88,13,0,0
4,20191,A,골목상권,3110161,중곡역 3번,CS200029,네일숍,2.075699e+07,305,1.669444e+07,4.062554e+06,245090.0,565445.0,3744146.0,3384050.0,8.755705e+06,3.355372e+06,7.071820e+05,0.0,0.0,2.372621e+06,3.714210e+06,1.205476e+07,2615404,4.198900e+05,2.033710e+07,0,4348966,3810679.0,6.738272e+06,4.159712e+06,1.699361e+06,244,61,7,18,46,47,126,52,9,0,0,36,37,196,36,4,301,0,79,28,68,91,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365906,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300024,운동/경기용품,3.070326e+09,1822,2.995437e+09,7.488909e+07,368003386.0,578387908.0,424583428.0,941263065.0,6.831987e+08,7.488909e+07,0.000000e+00,0.0,98326368.0,1.160527e+09,1.292292e+09,5.191802e+08,0,1.594137e+09,1.147537e+09,0,36448568,36024747.0,6.357308e+08,1.529335e+09,5.041345e+08,1717,105,551,340,297,360,169,63,42,0,212,699,699,212,0,848,572,0,42,21,106,402,848
365907,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300026,완구,7.268984e+08,32273,3.778485e+08,3.490499e+08,65005755.0,47678073.0,56005496.0,63389205.0,1.457700e+08,1.956493e+08,1.534005e+08,0.0,5113254.0,1.347818e+08,2.493450e+08,3.158698e+08,21788492,3.101254e+08,4.167729e+08,6566045,297790485,223835603.0,1.410070e+08,3.883445e+07,1.886476e+07,16675,15598,2738,2447,2854,2709,5927,8520,7078,0,219,5941,11257,13632,1224,14077,18196,383,13914,9987,5975,1499,515
365908,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300028,화초,4.382898e+07,3575,2.733274e+07,1.649624e+07,5150112.0,10516554.0,4290851.0,2930455.0,4.444767e+06,8.751374e+06,7.744863e+06,0.0,9202212.0,1.094013e+07,1.203632e+07,1.101042e+07,639901,1.858803e+07,1.617144e+07,815632,9176155,12872553.0,7.180707e+06,1.734883e+06,2.979540e+06,1884,1691,370,393,297,339,485,915,776,0,443,933,1278,866,55,1800,1679,97,642,1230,891,321,297
365909,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300031,가구,6.480944e+09,3524,3.541939e+09,2.939004e+09,820854468.0,602688339.0,553697884.0,389280275.0,1.175418e+09,1.412546e+09,1.526458e+09,0.0,814510382.0,1.616685e+09,2.577286e+09,1.402678e+09,69784966,2.415713e+09,3.860810e+09,0,134464058,515626722.0,1.444550e+09,1.475739e+09,2.706143e+09,2291,1233,494,282,493,423,599,670,563,0,351,951,1411,776,35,1175,2313,0,36,214,636,713,1889
365910,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300032,가전제품,7.955111e+08,3319,5.625987e+08,2.329124e+08,56654831.0,146702158.0,51407962.0,91538936.0,2.162948e+08,9.836428e+07,1.345482e+08,0.0,28289029.0,1.731439e+08,2.205461e+08,3.669509e+08,6581244,4.239356e+08,2.078127e+08,1079867,108424269,117280618.0,1.120492e+08,1.082600e+08,1.846543e+08,2305,1014,360,450,348,460,687,594,420,0,84,828,882,1447,78,1682,1188,30,774,720,552,456,338

### 집객시설 facilities

In [9]:
facilities = pd.read_csv("../../data/raw data/상권/집객시설/서울시 상권분석서비스(집객시설-상권).csv", encoding="cp949")

In [10]:
# 집객시설 - 2019년 1-4분기, 2020년 1-3분기 데이터 없음
facilities['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204], dtype=int64)

In [11]:
facilities.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

In [12]:
facilities = facilities.fillna(0)
facilities.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [13]:
facilities2019 = facilities[(20191 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20194)]
facilities2020 = facilities[(20201 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20204)]
facilities2021 = facilities[(20211 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20214)]
facilities2022 = facilities[(20221 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20224)]
facilities2023 = facilities[(20231 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20234)]

In [14]:
# 2020년 1, 2, 3분기 데이터 생성(= 2020년 4분기 copy)
facilities20204 = facilities2020[facilities2020['기준_년분기_코드'] == 20204]

facilities20201 = facilities20204.copy()
facilities20202 = facilities20204.copy()
facilities20203 = facilities20204.copy()

facilities20201['기준_년분기_코드'] = 20201
facilities20202['기준_년분기_코드'] = 20202
facilities20203['기준_년분기_코드'] = 20203

print(facilities20201.shape, facilities20202.shape, facilities20203.shape, facilities20204.shape)

facilities2020 = pd.concat([facilities20201, facilities20202, facilities20203, facilities20204])
facilities2020 = facilities2020.reset_index(drop=True)

print(facilities2020['기준_년분기_코드'].unique())

(1578, 25) (1578, 25) (1578, 25) (1578, 25)
[20201 20202 20203 20204]

In [15]:
facilities2019.shape, facilities2020.shape, facilities2021.shape, facilities2022.shape, facilities2023.shape

((0, 25), (6312, 25), (6312, 25), (6312, 25), (3156, 25))

In [16]:
facilities = pd.concat([facilities2019, facilities2020, facilities2021, facilities2022, facilities2023])
facilities = facilities.reset_index(drop=True)

In [17]:
facilities['기준_년분기_코드'].unique()

array([20201, 20202, 20203, 20204, 20214, 20213, 20212, 20211, 20224,
       20223, 20222, 20221, 20232, 20231], dtype=int64)

### 직장인구 office_population

In [18]:
# 직장인구 데이터 load
office_population = pd.read_csv("../../data/raw data/상권/직장인구/서울시 상권분석서비스(직장인구-상권).csv", encoding="cp949")

In [19]:
# 직장인구 - 2019년 2-3분기 데이터 없음
office_population['기준_년분기_코드'].unique()

array([20191, 20212, 20194, 20213, 20221, 20222, 20223, 20224, 20202,
       20231, 20214, 20232, 20201, 20203, 20204, 20211], dtype=int64)

In [20]:
office_population.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [21]:
office_population2019 = office_population[(20191 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20194)]
office_population2020 = office_population[(20201 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20204)]
office_population2021 = office_population[(20211 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20214)]
office_population2022 = office_population[(20221 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20224)]
office_population2023 = office_population[(20231 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20234)]

In [22]:
office_population2019.shape, office_population2020.shape, office_population2021.shape, office_population2022.shape, office_population2023.shape

((3267, 26), (6492, 26), (6492, 26), (6492, 26), (3246, 26))

In [23]:
# 2019년 2,3분기 데이터 생성(= 2019년 1분기 copy)
office_population20191 = office_population2019[office_population2019['기준_년분기_코드']==20191]
office_population20192 = office_population20191.copy()
office_population20193 = office_population20191.copy()
office_population20194 = office_population2019[office_population2019['기준_년분기_코드']==20194]

office_population20192['기준_년분기_코드'] = 20192
office_population20193['기준_년분기_코드'] = 20193

print(office_population20191.shape, office_population20192.shape, office_population20193.shape, office_population20194.shape)

office_population2019 = pd.concat([office_population20191, office_population20192, office_population20193, office_population20194])
office_population2019 = office_population2019.reset_index(drop=True)

print(office_population2019['기준_년분기_코드'].unique())

(1644, 26) (1644, 26) (1644, 26) (1623, 26)
[20191 20192 20193 20194]

In [24]:
office_population = pd.concat([office_population2019, office_population2020, office_population2021, office_population2022, office_population2023])
office_population = office_population.reset_index(drop=True)

In [25]:
office_population['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20202, 20201, 20203, 20204, 20212,
       20213, 20214, 20211, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

### 점포 store

In [26]:
store2019 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2019년.csv", encoding="cp949")
store2020 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2020년.csv", encoding="cp949")
store2021 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2021년.csv", encoding="cp949")
store2022 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2022년.csv", encoding="cp949")
store2023 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2023년.csv")

In [27]:
store2019.shape, store2020.shape, store2021.shape, store2022.shape, store2023.shape

((298601, 14), (301143, 14), (303483, 14), (304755, 14), (152288, 14))

In [28]:
store = pd.concat([store2019, store2020, store2021, store2022, store2023])
store = store.reset_index(drop=True)

In [29]:
store['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [30]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

In [31]:
store['점포_수'].describe()

count    1.360270e+06
mean     5.990270e+00
std      4.557396e+01
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      1.024900e+04
Name: 점포_수, dtype: float64

### 영역 area

In [32]:
area = pd.read_csv("../../data/raw data/상권/영역/서울시 상권분석서비스(영역-상권).csv", encoding="cp949")
area

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093,453418,11110,종로구,11110515,청운효자동,149264
1,A,골목상권,3110009,자하문터널,196991,455057,11110,종로구,11110550,부암동,178306
2,A,골목상권,3110010,평창동서측,197064,456643,11110,종로구,11110560,평창동,369415
3,A,골목상권,3110017,정독도서관,198581,453781,11110,종로구,11110600,가회동,83855
4,A,골목상권,3110018,중앙고등학교,198883,453690,11110,종로구,11110600,가회동,166872
...,...,...,...,...,...,...,...,...,...,...,...
1645,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,198397,451614,11140,중구,11140520,소공동,983618
1646,U,관광특구,3001493,동대문패션타운 관광특구,200996,451976,11140,중구,11140590,광희동,606058
1647,U,관광특구,3001494,종로?청계 관광특구,199796,452274,11110,종로구,11110615,종로1?2?3?4가동,653127
1648,U,관광특구,3001495,잠실 관광특구,210188,446334,11710,송파구,11710562,방이2동,2462734
1649,U,관광특구,3001496,강남 마이스 관광특구,205282,445736,11680,강남구,11680580,삼성1동,237892

In [33]:
area.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 아파트 apartment

In [34]:
apartment = pd.read_csv("../../data/raw data/상권/아파트/서울시 상권분석서비스(아파트-상권).csv", encoding="cp949")

In [35]:
# 아파트 - 2019년 1-3분기 데이터 없음
apartment['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194], dtype=int64)

In [36]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

In [37]:
apartment = apartment.fillna(0)
apartment.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [38]:
apartment2019 = apartment[(20191 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20194)]
apartment2020 = apartment[(20201 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20204)]
apartment2021 = apartment[(20211 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20214)]
apartment2022 = apartment[(20221 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20224)]
apartment2023 = apartment[(20231 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20234)]

In [39]:
apartment2019.shape, apartment2020.shape, apartment2021.shape, apartment2022.shape, apartment2023.shape

((1484, 20), (5936, 20), (5916, 20), (5855, 20), (2926, 20))

In [40]:
apartment = pd.concat([apartment2019, apartment2020, apartment2021, apartment2022, apartment2023])
apartment = apartment.reset_index(drop=True)

### 소득소비 money

In [41]:
money = pd.read_csv("../../data/raw data/상권/소득소비/서울시 상권분석서비스(소득소비-상권).csv", encoding="cp949")

In [42]:
money['기준_년분기_코드'].unique()

array([20231, 20232, 20191, 20193, 20192, 20194, 20201, 20202, 20203,
       20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223, 20224],
      dtype=int64)

In [43]:
money.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

In [44]:
money = money.fillna(0)
money.isnull().sum()

기준_년분기_코드       0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
여가_지출_총금액       0
문화_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
dtype: int64

In [45]:
money2019 = money[(20191 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20194)]
money2020 = money[(20201 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20204)]
money2021 = money[(20211 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20214)]
money2022 = money[(20221 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20224)]
money2023 = money[(20231 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20234)]

In [46]:
money2019.shape, money2020.shape, money2021.shape, money2022.shape, money2023.shape

((6518, 17), (6524, 17), (6524, 17), (6524, 17), (3262, 17))

In [47]:
money = pd.concat([money2019, money2020, money2021, money2022, money2023])
money = money.reset_index(drop=True)

### 생활인구 de_facto_population

In [48]:
de_facto_population = pd.read_csv("../../data/raw data/상권/생활인구/서울시 상권분석서비스(길단위인구-상권).csv", encoding="cp949")

In [49]:
de_facto_population['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194, 20193, 20192, 20191],
      dtype=int64)

In [50]:
de_facto_population.isnull().sum()

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [51]:
de_facto_population2019 = de_facto_population[(20191 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20194)]
de_facto_population2020 = de_facto_population[(20201 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20204)]
de_facto_population2021 = de_facto_population[(20211 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20214)]
de_facto_population2022 = de_facto_population[(20221 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20224)]
de_facto_population2023 = de_facto_population[(20231 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20234)]

In [52]:
de_facto_population2019.shape, de_facto_population2020.shape, de_facto_population2021.shape, de_facto_population2022.shape, de_facto_population2023.shape

((6600, 27), (6600, 27), (6600, 27), (6599, 27), (3298, 27))

In [53]:
de_facto_population = pd.concat([de_facto_population2019, de_facto_population2020, de_facto_population2021, de_facto_population2022, de_facto_population2023])
de_facto_population = de_facto_population.reset_index(drop=True)

### 상주인구 de_jure_population

In [54]:
de_jure_population = pd.read_csv("../../data/raw data/상권/상주인구/서울시 상권분석서비스(상주인구-상권).csv", encoding="cp949")

In [55]:
# 상주인구 - 2019년 1-3분기 데이터 없음
de_jure_population['기준_년분기_코드'].unique()

array([20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214,
       20221, 20222, 20223, 20224, 20231, 20232], dtype=int64)

In [56]:
de_jure_population.isnull().sum()

기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [57]:
de_jure_population2019 = de_jure_population[(20191 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20194)]
de_jure_population2020 = de_jure_population[(20201 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20204)]
de_jure_population2021 = de_jure_population[(20211 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20214)]
de_jure_population2022 = de_jure_population[(20221 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20224)]
de_jure_population2023 = de_jure_population[(20231 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20234)]

In [58]:
de_jure_population2019.shape, de_jure_population2020.shape, de_jure_population2021.shape, de_jure_population2022.shape, de_jure_population2023.shape

((1634, 29), (6536, 29), (6536, 29), (6527, 29), (3253, 29))

In [59]:
de_jure_population = pd.concat([de_jure_population2019, de_jure_population2020, de_jure_population2021, de_jure_population2022, de_jure_population2023])
de_jure_population = de_jure_population.reset_index(drop=True)

## 비교

In [60]:
# null_idx = temp[temp['기준_년분기_코드']>20194].isnull().index.to_list()
# temp.loc[null_idx,["기준_년분기_코드","상권_구분_코드_명","상권_코드_명"]].drop_duplicates()

In [61]:
# null = temp[temp.isnull().any(axis=1)]
# len(null.loc[null['기준_년분기_코드'] > 20194, ['상권_코드_명']].drop_duplicates())

In [62]:
# 수현

In [63]:
# 추정매출 sales, 집객시설 facilites
sales_code = list(sales['상권_코드'].drop_duplicates())
facilities_code = list(facilities['상권_코드'].drop_duplicates())

none_facilites = []

for s in sales_code:
    if s not in facilities_code:
        none_facilites.append(s)
        
print(len(none_facilites))
for code in none_facilites:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

58
3130247 ['우리시장'] ['전통시장']
3110965 ['언주역 6번'] ['골목상권']
3130249 ['동남상가'] ['전통시장']
3130189 ['서교시장'] ['전통시장']
3130173 ['백련시장'] ['전통시장']
3130060 ['신흥시장'] ['전통시장']
3130033 ['대림상가(청계상가)'] ['전통시장']
3130292 ['봉천현대시장'] ['전통시장']
3111048 ['천호역 1번(천호문구완구거리)'] ['골목상권']
3110977 ['논현로18길'] ['골목상권']
3130228 ['구로시장'] ['전통시장']
3130302 ['강남시장(강남구 강남시장)'] ['전통시장']
3130270 ['흑석시장'] ['전통시장']
3130178 ['이대 앞 스타트업 상점가'] ['전통시장']
3110763 ['영등포구청역 2번'] ['골목상권']
3110386 ['연산군묘'] ['골목상권']
3130269 ['강남시장(동작구 강남시장)'] ['전통시장']
3110610 ['계남근린공원'] ['골목상권']
3130224 ['개봉프라자(고척근린시장)'] ['전통시장']
3111050 ['강동구청(강동구청역 2번)'] ['골목상권']
3130250 ['삼구시장(로타리상가)'] ['전통시장']
3110946 ['청계산원터골'] ['골목상권']
3130201 ['월정로시장'] ['전통시장']
3110685 ['금강수목원아파트'] ['골목상권']
3110623 ['갈산공원'] ['골목상권']
3110044 ['관성묘'] ['골목상권']
3110239 ['중랑역 2번'] ['골목상권']
3110991 ['삼성중앙역 5번'] ['골목상권']
3110986 ['삼성중앙역 7번'] ['골목상권']
3110938 ['바우뫼공원'] ['골목상권']
3110145 ['장안초등학교'] ['골목상권']
3110937 ['방아다리근린공원(횃불트리니티신학대학원대학교)'] ['골목상권']
3110223 ['군자초등학교'] ['골목상권']
3110963 ['역삼월드메르디앙아파트'] ['골목상권']
3130211 ['신정2동 골목시장(오목교중앙시장)'] ['전통시장']
3130275 ['강남골목시장'] ['전통시장']
3130254 ['남서울상가'] ['전통시장']
3110222 ['회기역 2번'] ['골목상권']
3130142 ['강북북부시장'] ['전통시장']
3130188 ['합정시장'] ['전통시장']
3110941 ['언남고등학교'] ['골목상권']
3110808 ['신길역 1번'] ['골목상권']
3110985 ['청담근린공원'] ['골목상권']
3130218 ['신월중앙시장'] ['전통시장']
3130013 ['동대문상가A동'] ['전통시장']
3110704 ['고척중학교'] ['골목상권']
3110015 ['청와대사랑채'] ['골목상권']
3130291 ['봉천제일종합시장'] ['전통시장']
3130093 ['동서시장'] ['전통시장']
3110923 ['방배역 1번'] ['골목상권']
3110669 ['화곡보람2차아파트'] ['골목상권']
3110928 ['서초우방유쉘아파트'] ['골목상권']
3110046 ['버티고개'] ['골목상권']
3110581 ['염리초등학교'] ['골목상권']
3110013 ['체부동홍종문가옥'] ['골목상권']
3130305 ['논현종합시장'] ['전통시장']
3110914 ['내방역 6번'] ['골목상권']
3130046 ['team204(팀204)'] ['전통시장']

In [64]:
# 추정매출 sales, 직장인구 office_population
sales_code = list(sales['상권_코드'].drop_duplicates())
office_population_code = list(office_population['상권_코드'].drop_duplicates())

none_office = []

for s in sales_code:
    if s not in office_population_code:
        none_office.append(s)
        
print(len(none_office))
for code in none_office:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

0

In [65]:
# 추정매출 sales, 점포 store
sales_code = list(sales['상권_코드'].drop_duplicates())
store_code = list(store['상권_코드'].drop_duplicates())

none_store = []

for s in sales_code:
    if s not in store_code:
        none_store.append(s)
        
print(len(none_store))
for code in none_store:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

0

In [66]:
# 추정매출 sales, 영역 area
sales_code = list(sales['상권_코드'].drop_duplicates())
area_code = list(area['상권_코드'].drop_duplicates())

none_area = []

for s in sales_code:
    if s not in area_code:
        none_area.append(s)
        
print(len(none_area))
for code in none_area:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

0

In [67]:
# 추정매출 sales, 아파트 apartment
sales_code = list(sales['상권_코드'].drop_duplicates())
apartment_code = list(apartment['상권_코드'].drop_duplicates())

none_apartment = []

for s in sales_code:
    if s not in apartment_code:
        none_apartment.append(s)
        
print(len(none_apartment))
for code in none_apartment:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

143
3001492 ['명동 남대문 북창동 다동 무교동 관광특구'] ['관광특구']
3120148 ['국회의사당역(국회의사당)'] ['발달상권']
3130095 ['청량리전통시장'] ['전통시장']
3130247 ['우리시장'] ['전통시장']
3120020 ['시청역_1번'] ['발달상권']
3120043 ['서울역'] ['발달상권']
3130205 ['신곡종합시장(신월6동 골목시장)'] ['전통시장']
3130094 ['청량리청과물시장'] ['전통시장']
3130120 ['돈암시장(돈암제일시장)'] ['전통시장']
3120022 ['북창동(시청역_6번)'] ['발달상권']
3120083 ['등나무근린공원'] ['발달상권']
3001496 ['강남 마이스 관광특구'] ['관광특구']
3120033 ['을지로4가역'] ['발달상권']
3130131 ['동북프라자'] ['전통시장']
3130025 ['삼익패션타운(남대문시장)'] ['전통시장']
3130024 ['남대문시장(자유상가)'] ['전통시장']
3130248 ['영등포역지하도상점가'] ['전통시장']
3120060 ['강변역(테크노마트)'] ['발달상권']
3130134 ['솔샘시장(미아6,7동골목시장)'] ['전통시장']
3120224 ['수서역'] ['발달상권']
3120030 ['중부경찰서(영화인의거리)'] ['발달상권']
3130113 ['신아타운'] ['전통시장']
3110667 ['가양역 10번'] ['골목상권']
3120029 ['을지로2가'] ['발달상권']
3130005 ['세운상가가동'] ['전통시장']
3120008 ['인사동'] ['발달상권']
3130010 ['종로신진시장'] ['전통시장']
3130022 ['숭례문수입상가(남대문시장)'] ['전통시장']
3120025 ['롯데백화점(시청광장 지하쇼핑센터)'] ['발달상권']
3130031 ['청계천공구상가'] ['전통시장']
3120140 ['문래동주민센터'] ['발달상권']
3120026 ['을지로입구역'] ['발달상권']
3130327 ['평화시장(남평화시장, 제일평화시장, 신평화패션타운)'] ['전통시장']
3110094 ['오산중학교'] ['골목상권']
3130057 ['만리시장'] ['전통시장']

3130088 ['경동시장'] ['전통시장']
3130265 ['노량진중앙시장'] ['전통시장']
3120137 ['문래역(문래로데오거리)'] ['발달상권']
3130189 ['서교시장'] ['전통시장']
3110072 ['열정도'] ['골목상권']
3120098 ['DMC(디지털미디어시티)'] ['발달상권']
3130018 ['동대문문구완구거리(동대문문구완구시장)'] ['전통시장']
3130060 ['신흥시장'] ['전통시장']
3110648 ['양천향교역 7번'] ['골목상권']
3110038 ['경향신문사'] ['골목상권']
3110019 ['창덕궁'] ['골목상권']
3110797 ['KT대방빌딩'] ['골목상권']
3110430 ['중계초등학교'] ['골목상권']
3120021 ['시청역_8번'] ['발달상권']
3130310 ['강남개포시장'] ['전통시장']
3130256 ['신동시장'] ['전통시장']
3130304 ['신사상가'] ['전통시장']
3110759 ['문래예술촌(문래창작촌)'] ['골목상권']
3120231 ['가락시장'] ['발달상권']
3130090 ['청량리종합시장'] ['전통시장']
3130076 ['능동로골목시장'] ['전통시장']
3130292 ['봉천현대시장'] ['전통시장']
3130196 ['공덕시장'] ['전통시장']
3120028 ['명동(명동거리)'] ['발달상권']
3120080 ['마들역'] ['발달상권']
3130253 ['영신상가(제일상가)'] ['전통시장']
3130061 ['이태원시장'] ['전통시장']
3120023 ['서울시청'] ['발달상권']
3120099 ['월드컵경기장역(월드컵경기장)'] ['발달상권']
3130284 ['관악종합시장(신원시장)'] ['전통시장']
3120117 ['강서농산물도매시장'] ['발달상권']
3130015 ['창신골목시장'] ['전통시장']
3110091 ['리움미술관'] ['골목상권']
3110978 ['도곡2동주민센터(대치중학교)'] ['골목상권']
3111090 ['강일동주민센터'] ['골목상권']
3120085 ['은행사거리'] ['발달상권']
3130160 ['수일시장'] ['전통시장']
3130184 ['마포농수산물시장'] ['전통시장']
3120015 ['종로6가'] ['발달상권']
3130087 ['경동광성상가(경동시장)'] ['전통시장']
3130287 ['삼성동 시장(삼성동시장)'] ['전통시장']
3130270 ['흑석시장'] ['전통시장']
3130289 ['봉일시장'] ['전통시장']
3130178 ['이대 앞 스타트업 상점가'] ['전통시장']
3120218 ['코엑스'] ['발달상권']
3120031 ['을지로3가역'] ['발달상권']
3130075 ['노룬산시장(노룬산골목시장)'] ['전통시장']
3130153 ['창동역상점가'] ['전통시장']
3130099 ['전농로터리시장'] ['전통시장']
3110674 ['강서구청가양동별관'] ['골목상권']
3130197 ['마포시장'] ['전통시장']
3130007 ['광장시장(광장전통시장)'] ['전통시장']
3130071 ['성수역 골목형상점가'] ['전통시장']
3120115 ['김포공항역(김포공항)'] ['발달상권']
3110998 ['은곡마을(은곡마을공원)'] ['골목상권']
3130250 ['삼구시장(로타리상가)'] ['전통시장']
3130206 ['신정3동 골목시장'] ['전통시장']
3130272 ['사당시장'] ['전통시장']
3111000 ['대왕초등학교(세곡동사거리서남측)'] ['골목상권']
3110034 ['창신1동주민센터'] ['골목상권']
3130240 ['영등포유통상가'] ['전통시장']
3110239 ['중랑역 2번'] ['골목상권']
3130192 ['동진시장'] ['전통시장']
3130049 ['신당 미래유산 먹거리 골목형상점가'] ['전통시장']
3110192 ['동의보감타워'] ['골목상권']
3130032 ['인현시장'] ['전통시장']
3110962 ['도산공원북측'] ['골목상권']
3130175 ['신촌 상인회(신촌상점가)'] ['전통시장']
3111002 ['한국교통안전공단 강남자동차검사소'] ['골목상권']
3110497 ['가좌역 3번'] ['골목상권']
3110793 ['대림썬프라자'] ['골목상권']
3120118 ['마곡역(마곡)'] ['발달상권']
3110198 ['동대문중앙새마을금고본점'] ['골목상권']
3110773 ['당산역 13번'] ['골목상권']
3130012 ['동대문종합시장(동대문종합시장 신관, 동대문종합시장D동상가)'] ['전통시장']
3110032 ['수족관거리'] ['골목상권']
3130316 ['마천시장'] ['전통시장']
3130254 ['남서울상가'] ['전통시장']
3110530 ['아현역 1번'] ['골목상권']
3130009 ['마전교지하쇼핑센터(구 한일상가)'] ['전통시장']
3110196 ['홍릉근린공원'] ['골목상권']
3130047 ['테크노상가(엘리시움)'] ['전통시장']
3130245 ['영일시장'] ['전통시장']
3130096 ['동부시장'] ['전통시장']
3130174 ['연희사러가'] ['전통시장']
3110948 ['헌인가구단지'] ['골목상권']
3110076 ['삼각지역 14번'] ['골목상권']
3130142 ['강북북부시장'] ['전통시장']
3130263 ['신노량진시장(기능상실)'] ['전통시장']
3110492 ['하나고등학교'] ['골목상권']
3130218 ['신월중앙시장'] ['전통시장']
3130121 ['길음시장'] ['전통시장']
3130050 ['청평화시장'] ['전통시장']
3110339 ['국립4.19민주묘지'] ['골목상권']
3110704 ['고척중학교'] ['골목상권']
3130291 ['봉천제일종합시장'] ['전통시장']
3130093 ['동서시장'] ['전통시장']
3110108 ['성동구립금호도서관'] ['골목상권']
3130176 ['유진상가'] ['전통시장']
3110779 ['대림갑을명가아파트'] ['골목상권']
3110764 ['문래역 3번'] ['골목상권']
3110026 ['종로5가역 4번'] ['골목상권']
3110143 ['뚝섬유원지역 1번'] ['골목상권']
3130011 ['충신시장'] ['전통시장']
3130286 ['신신림시장(삼성동시장)'] ['전통시장']
3130046 ['team204(팀204)'] ['전통시장']
3130288 ['신림현대종합상가'] ['전통시장']
3110119 ['마장지하차도'] ['골목상권']

In [68]:
# 추정매출 sales, 소득소비 money
sales_code = list(sales['상권_코드'].drop_duplicates())
money_code = list(money['상권_코드'].drop_duplicates())

none_money = []

for s in sales_code:
    if s not in money_code:
        none_money.append(s)
        
print(len(none_money))
for code in none_money:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

12
3130022 ['숭례문수입상가(남대문시장)'] ['전통시장']
3130304 ['신사상가'] ['전통시장']
3120231 ['가락시장'] ['발달상권']
3120099 ['월드컵경기장역(월드컵경기장)'] ['발달상권']
3130184 ['마포농수산물시장'] ['전통시장']
3120115 ['김포공항역(김포공항)'] ['발달상권']
3111002 ['한국교통안전공단 강남자동차검사소'] ['골목상권']
3110793 ['대림썬프라자'] ['골목상권']
3130009 ['마전교지하쇼핑센터(구 한일상가)'] ['전통시장']
3130096 ['동부시장'] ['전통시장']
3130174 ['연희사러가'] ['전통시장']
3130142 ['강북북부시장'] ['전통시장']

In [69]:
# 추정매출 sales, 생활인구 de_facto_population
sales_code = list(sales['상권_코드'].drop_duplicates())
de_facto_population_code = list(de_facto_population['상권_코드'].drop_duplicates())

none_facto = []

for s in sales_code:
    if s not in de_facto_population_code:
        none_facto.append(s)
        
print(len(none_facto))
for code in none_facto:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

0

In [70]:
# 추정매출 sales, 상주인구 de_jure_population
sales_code = list(sales['상권_코드'].drop_duplicates())
de_jure_population_code = list(de_jure_population['상권_코드'].drop_duplicates())

none_jure = []

for s in sales_code:
    if s not in de_jure_population_code:
        none_jure.append(s)
        
print(len(none_jure))
for code in none_jure:
    print(code, sales.loc[sales['상권_코드'] == code, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == code, '상권_구분_코드_명'].drop_duplicates().values)

10
3130022 ['숭례문수입상가(남대문시장)'] ['전통시장']
3120137 ['문래역(문래로데오거리)'] ['발달상권']
3120231 ['가락시장'] ['발달상권']
3120099 ['월드컵경기장역(월드컵경기장)'] ['발달상권']
3130184 ['마포농수산물시장'] ['전통시장']
3120115 ['김포공항역(김포공항)'] ['발달상권']
3111002 ['한국교통안전공단 강남자동차검사소'] ['골목상권']
3130096 ['동부시장'] ['전통시장']
3130174 ['연희사러가'] ['전통시장']
3130142 ['강북북부시장'] ['전통시장']

In [71]:
len(none_facilites), len(none_office), len(none_store), len(none_area), len(none_apartment), len(none_money), len(none_facto), len(none_jure)

(58, 0, 0, 0, 143, 12, 0, 10)

In [72]:
len(set(none_facilites) - set(none_apartment)) # 집객시설 겹치지 않는 데이터 43개 -> 추정매출에 없는 상권 총 186개(143+43) drop 예정

43

In [73]:
len(set(none_money) - set(none_apartment)) # 소득소비: 모두 아파트에 포함됨

0

In [74]:
len(set(none_jure) - set(none_apartment)) # 상주인구: 모두 아파트에 포함됨

0

In [75]:
# 최종적으로 추정매출에 없는 상권_코드 186개
none_code = list(set(none_facilites) - set(none_apartment))
none_code += none_apartment
len(none_code)

186

In [76]:
# 예린

## 전체 파일 병합
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드']`
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드']`

In [77]:
# sales + facilities

In [78]:
sales.shape, facilities.shape

((365911, 55), (22092, 25))

In [79]:
facilities = facilities.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = sales.merge(facilities, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 75)

In [80]:
# sales + facilities + office_population

In [81]:
temp.shape, office_population.shape

((365911, 75), (29277, 26))

In [82]:
office_population = office_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(office_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 96)

In [83]:
# sales + facilities + office_population + store

In [84]:
temp.shape, store.shape

((365911, 96), (1360270, 14))

In [85]:
store = store.drop(columns=['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'])

temp = temp.merge(store, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드'])
temp.shape

(365911, 103)

In [86]:
# sales + facilities + office_population + store + area

In [87]:
temp.shape, area.shape

((365911, 103), (1650, 11))

In [88]:
area = area.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(area, how='left', on=['상권_구분_코드', '상권_코드'])
temp.shape

(365911, 110)

In [89]:
# sales + facilities + office_population + store + area + apartment

In [90]:
temp.shape, apartment.shape

((365911, 110), (22117, 20))

In [91]:
apartment = apartment.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(apartment, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 125)

In [92]:
# sales + facilities + office_population + store + area + apartment + money

In [93]:
temp.shape, money.shape

((365911, 125), (29352, 17))

In [94]:
money = money.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(money, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 137)

In [95]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population

In [96]:
temp.shape, de_facto_population.shape

((365911, 137), (29697, 27))

In [97]:
de_facto_population = de_facto_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_facto_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 159)

In [98]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population + de_jure_population

In [99]:
temp.shape, de_jure_population.shape

((365911, 159), (24486, 29))

In [100]:
de_jure_population = de_jure_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_jure_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 183)

### csv 파일로 저장

In [101]:
market_data = temp.copy()

In [102]:
market_data.shape

(365911, 183)

#### '상권_코드_명', '행정동_코드_명' replace
- 같은 `상권 코드`를 사용하는 `상권_코드_명`이 존재함을 발견 → 같은 이름 but, `.`이 `?`로 표시됨
- `행정동_코드_명`에서 `?`로 나타나는 값이 존재함을 발견
- 두 컬럼에서 `?`를 `?`으로 replace 작업 진행

In [103]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1578)

In [104]:
temp = market_data[['상권_코드', '상권_코드_명']].drop_duplicates()
temp

          상권_코드                 상권_코드_명
0       3120037              동대문역사문화공원역
1       3001492  명동 남대문 북창동 다동 무교동 관광특구
2       3110085                  경리단길남측
3       3110166                구의1동주민센터
4       3110161                  중곡역 3번
...         ...                     ...
240453  3130046           team204(팀204)
254243  3110017                   정독도서관
321225  3130288                신림현대종합상가
344687  3001494              종로?청계 관광특구
345579  3110119                  마장지하차도

[1578 rows x 2 columns]

In [105]:
temp[temp['상권_코드'].duplicated()]

          상권_코드     상권_코드_명
344687  3001494  종로?청계 관광특구

In [106]:
temp[temp['상권_코드'] == 3001494]

          상권_코드     상권_코드_명
93      3001494  종로·청계 관광특구
344687  3001494  종로?청계 관광특구

In [107]:
market_data['상권_코드_명'] = market_data['상권_코드_명'].str.replace('?', '·', regex=False)
market_data['행정동_코드_명'] = market_data['행정동_코드_명'].str.replace('?', '·', regex=False)

In [108]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1577)

#### 추정매출에 없는 상권 코드는 제외하고 full_data 저장
- `none_code`
- 186개

In [109]:
market_data[market_data['상권_코드'].isin(none_code)]['상권_코드'].shape # 26384행

(26384,)

In [110]:
market_data[market_data['상권_코드'].isin(none_code)]['상권_코드'].nunique() # 186개 확인

186

In [111]:
market_data = market_data[~(market_data['상권_코드'].isin(none_code))] # none_code에 포함되지 않는 상권_코드
market_data.shape

(339527, 183)

In [112]:
market_data.to_csv('../../data/preprocessed data/market_full_data.csv', index=False)

## 서비스 제공 업종 선별
- **외식업(10)**: 한식음식점, 커피-음료, 분식전문점, 호프-간이주점, 치킨전문점, 중식음식점, 패스트푸드점, 제과점, 일식음식점, 양식음식점
- **소매업(4)**: 편의점, 일반의류, 화장품, 의약품
- **서비스업(3)**: 일반교습학원, 미용실, 세탁소

In [113]:
import pandas as pd

pd.set_option('display.max_columns', 500)

In [114]:
full_data = pd.read_csv('../../data/preprocessed data/market_full_data.csv')
full_data.shape

(339527, 183)

In [115]:
full_data['서비스_업종_코드_명'].unique()

array(['네일숍', '피부관리실', '세탁소', '가전제품수리', '부동산중개업', '여관', '노래방', '슈퍼마켓',
       '육류판매', '편의점', '가방', '컴퓨터및주변장치판매', '핸드폰', '미곡판매', '수산물판매', '화초',
       '청과상', '반찬가게', '시계및귀금속', '일반의류', '신발', '안경', '의약품', '의료기기', '서적',
       '문구', '화장품', '운동/경기용품', '자전거 및 기타운송장비', '섬유제품', '애완동물', '가구',
       '가전제품', '철물점', '인테리어', '조명용품', '전자상거래업', '중식음식점', '분식전문점', '커피-음료',
       '일반교습학원', '예술학원', '치킨전문점', '자동차미용', '한식음식점', '일식음식점', '양식음식점',
       '제과점', '패스트푸드점', '호프-간이주점', '외국어학원', '스포츠 강습', '일반의원', '치과의원',
       '한의원', '당구장', '골프연습장', 'PC방', '스포츠클럽', '자동차수리', '미용실', '고시원', '완구'],
      dtype=object)

In [116]:
temp = full_data[['서비스_업종_코드', '서비스_업종_코드_명']].drop_duplicates()

food = temp[temp['서비스_업종_코드_명'].isin(['한식음식점', '커피-음료', '분식전문점', '호프-간이주점', '치킨전문점', '중식음식점', '패스트푸드점', '제과점', '일식음식점', '양식음식점'])].reset_index(drop=True)
retail = temp[temp['서비스_업종_코드_명'].isin(['편의점', '일반의류', '화장품', '의약품'])].reset_index(drop=True)
service = temp[temp['서비스_업종_코드_명'].isin(['일반교습학원', '미용실', '세탁소'])].reset_index(drop=True)

In [117]:
food

  서비스_업종_코드 서비스_업종_코드_명
0  CS100002       중식음식점
1  CS100008       분식전문점
2  CS100010       커피-음료
3  CS100007       치킨전문점
4  CS100001       한식음식점
5  CS100003       일식음식점
6  CS100004       양식음식점
7  CS100005         제과점
8  CS100006      패스트푸드점
9  CS100009     호프-간이주점

In [118]:
retail

  서비스_업종_코드 서비스_업종_코드_명
0  CS300002         편의점
1  CS300011        일반의류
2  CS300018         의약품
3  CS300022         화장품

In [119]:
service

  서비스_업종_코드 서비스_업종_코드_명
0  CS200031         세탁소
1  CS200001      일반교습학원
2  CS200028         미용실

In [120]:
business_type_code = list(food['서비스_업종_코드']) + list(retail['서비스_업종_코드']) + list(service['서비스_업종_코드'])

service_data = full_data[full_data['서비스_업종_코드'].isin(business_type_code)]
service_data.shape

(182490, 183)

### 점포별 평균 매출 금액 컬럼 추가 
- 당월_매출_금액: 해당 상권, 서비스 업종의 모든 점포들의 매출 합
- `점포별_평균_매출_금액` = `당월_매출_금액` / `점포_수`

In [121]:
service_data['점포별_평균_매출_금액'] = service_data['당월_매출_금액'] / service_data['점포_수']

C:\Users\user\AppData\Local\Temp\ipykernel_860\3187814151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  service_data['점포별_평균_매출_금액'] = service_data['당월_매출_금액'] / service_data['점포_수']

In [122]:
## (이슈발생) 점포 수가 0인 데이터가 있음

In [123]:
service_data['점포_수'].describe()

count    182490.000000
mean         14.959313
std         101.880970
min           0.000000
25%           3.000000
50%           6.000000
75%          13.000000
max       10249.000000
Name: 점포_수, dtype: float64

In [124]:
service_data['당월_매출_금액'].describe()

count    1.824900e+05
mean     8.873226e+08
std      5.740533e+09
min      1.820000e+02
25%      5.112674e+07
50%      1.821705e+08
75%      6.331660e+08
max      5.225046e+11
Name: 당월_매출_금액, dtype: float64

In [125]:
service_data[service_data['점포_수'] == 0]

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,점포별_평균_매출_금액
44,20191,D,발달상권,3120247,굽은다리역,CS200031,세탁소,41627819.0,2563,27228655.0,14399164.0,6117542.0,4733254.0,3943504.0,8224631.0,4209724.0,10415220.0,3983944.0,0.0,2902472.0,11511191.0,10962550.0,12945875.0,3305731,19900588.0,20139348.0,0,2690429,14068344.0,12009791.0,8687891.0,2583482.0,1777,786,372,301,262,558,284,572,214,0,183,647,695,864,174,1314,1223,0,167,785,900,526,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1095.0,488.0,607.0,7.0,180.0,242.0,283.0,216.0,167.0,3.0,60.0,122.0,133.0,82.0,88.0,4.0,120.0,120.0,150.0,134.0,79.0,0,3,0,0,0,0,3,212606,449599,11740,강동구,11740600,천호1동,94552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2706397.0,6.0,8.626064e+08,210746935.0,107103732.0,64017070.0,105515178.0,147117407.0,37839358.0,24939971.0,129733953.0,35592776.0,724844.0,337414.0,387431.0,114893.0,96377.0,103375.0,102362.0,113017.0,194821.0,144447.0,136525.0,93794.0,102386.0,150572.0,97119.0,101427.0,101020.0,102763.0,102358.0,102791.0,108102.0,106383.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
134,20191,D,발달상권,3120024,회현역,CS300002,편의점,466423292.0,88428,353787573.0,112635719.0,64378250.0,63433760.0,71082676.0,76804744.0,78088143.0,71134458.0,41501261.0,51433061.0,121103597.0,75123299.0,56764941.0,94526335.0,67472059,276024983.0,189740677.0,5345327,103003823,155367653.0,103331009.0,83392075.0,15325773.0,68378,20050,12359,12687,14716,14039,14577,11857,8193,6107,26951,16606,11723,16681,10360,48626,39749,1789,24043,30354,16310,12828,3052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1673.0,795.0,878.0,12.0,404.0,475.0,362.0,249.0,171.0,3.0,132.0,251.0,174.0,130.0,105.0,9.0,272.0,224.0,188.0,119.0,66.0,0,7,0,0,0,0,7,198144,450868,11140,중구,11140540,회현동,106867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2522622.0,6.0,7.877539e+08,223072540.0,99185601.0,62756096.0,113807475.0,129613490.0,34611822.0,24722760.0,65541343.0,34442770.0,829408.0,373440.0,455969.0,38678.0,101311.0,161355.0,157840.0,150056.0,220169.0,110577.0,174243.0,182308.0,166691.0,133545.0,62045.0,125042.0,125539.0,128797.0,135136.0,134610.0,106848.0,73438.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
135,20191,A,골목상권,3110148,어린이대공원역 3번,CS300002,편의점,74620988.0,14125,51518824.0,23102164.0,10323686.0,10344420.0,10603924.0,9968388.0,10278406.0,11285345.0,11816819.0,15140338.0,6376838.0,9095423.0,8707703.0,16783331.0,18517355,57887653.0,16733335.0,789812,47262345,11288418.0,4044805.0,4983133.0,6252475.0,10074,4051,2070,2000,1987,2044,1973,2008,2043,2835,1364,1913,1658,3134,3221,10991,3134,147,9510,1935,654,970,909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,27.0,20.0,1.0,8.0,12.0,11.0,10.0,5.0,1.0,3.0,7.0,7.0,5.0,4.0,0.0,5.0,5.0,4.0,5.0,1.0,0,4,25,1,0,0,4,206673,449538,11215,광진구,11215710,화양동,45757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2559485.0,6.0,6.573254e+08,156429441.0,93777569.0,41176652.0,83875065.0,70757158.0,23977409.0,28213822.0,122141381.0,36976894.0,591933.0,299335.0,292599.0,62442.0,233913.0,99103.0,58790.0,56136.0,81551.0,145589.0,118545.0,76594.0,75717.0,97806.0,77682.0,82299.0,84085.0,85004.0,85937.0,84261.0,86214.0,84134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
136,20191,D,발달상권,3120036,장충동족발거리(남소영길),CS300002,편의점,142039885.0,29625,98714496.0,43325389.0,16189166.0,18820804.0,19850478.0,22554798.0,21299250.0,23675341.0,19650048.0,11960968.0,20900870.0,23614875.0,21522085.0,40245376.0,23795711,89620370.0,52419515.0,2801793,70291031,31487004.0,21550456.0,11778532.0,4131069.0,20949,8676,3462,4160,4403,4634,4290,4583,4093,2100,5286,5540,4504,7860,4335,17959,11666,724,15958,5869,3814,2474,786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1765.0,1226.0,539.0,2.0,250.0,628.0,490.0,256.0,139.0,1.0,122.0,438.0,396.0,186.0,83.0,1.0,128.0,190.0,94.0,70.0,56.0,0,4,0,0,0,0,4,200486,451165,11140,중구,11140580,장충동,88202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3138937.0,7.0,2.206092e+08,53020767.0,29191363.0,16529477.0,26521815.0,29686142.0,8533749.0,8290800.0,37934989.0,10900097.0,292148.0,149678.0,142470.0,21273.0,67481.0,58414.0,47672.0,40240.0,57068.0,39706.0,61955.0,54371.0,54403.0,55838.0,25874.0,43589.0,43118.0,45428.0,45086.0,43470.0,37322.0,34135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
137,20191,A,골목상권,3110102,옥수역 6번,CS300002,편의점,232488474.0,37427,166685715.0,65802759.0,31587274.0,32842909.0,32189726.0,33699028.0,36366778.0,35616123.0,30186636.0,22026223.0,33603378.0,25449384.0,25529359.0,69716372.0,56163758,159327725.0,73160749.0,528672,48351660,62084260.0,68285004.0,40000966.0,13237912.0,27295,10132,4882,5370,5334,5611,6098,5370,4762,3636,6580,4279,4238,10697,7997,25571,11856,204,9655,9710,9854,5842,2162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280.0,148.0,132.0,2.0,61.0,66.0,65.0,58.0,28.0,1.0,27.0,35.0,36.0,34.0,15.0,1.0,34.0,31.0,29.0,24.0,13.0,0,4,0,0,0,0,4,201423,449294,11200,성동구,11200645,옥수동,34682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3029109.0,7.0,2.529031e+08,62013412.0,30718147.0,19672321.0,31161683.0,42051707.0,10826744.0,7401652.0,38928469.0,10128975.0,640998.0,281166.0,359834.0,108369.0,77209.0,98150.0,95157.0,81031.0,181084.0,72532.0,124359.0,106524.0,123461.0,154150.0,59972.0,91745.0,91833.0,93073.0,96867.0,96211.0,93171.0,78096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338880,20232,R,전통시장,3130277,조원동 펭귄시장(신림중앙시장),CS100007,치킨전문점,35580799.0,1456,21225632.0,14355167.0,2292872.0,4230661.0,3610103.0,5740560.0,5351436.0,7737368.0,6617799.0,2486729.0,153119.0,2642766.0,1972047.0,16141739.0,12184399,22470529.0,13110270.0,0,4116867,10919344.0,7701578.0,8702457.0,4140553.0,940,516,92,178,192,243,235,218,298,39,7,98,80,763,469,939,517,0,231,409,261,387,168,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.0,56.0,42.0,1.0,15.0,26.0,31.0,19.0,6.0,1.0,8.0,18.0,16.0,9.0,4.0,0.0,7.0,8.0,15.0,10.0,2.0,0,6,0,0,0,0,6,192141,442580,11620,관악구,11620725,조원동,32672,17.0,129.0,27.0,2.0,0.0,0.0,6.0,95.0,55.0,2.0,0.0,0.0,0.0,50.0,180005093.0,2339631.0,5.0,6.474530e+08,170715463.0,80773893.0,50148386.0,82118061.0,109951878.0,25077694.0,20950589.0,79096301.0,28620753.0,201988.0,97255.0,104733.0,17661.0,41222.0,40144.0,30255.0,28691.0,44016.0,56046.0,41271.0,21747.0,21433.0,33530.0,27961.0,28483.0,28028.0,28226.0,28037.0,28365.0,30059.0,30790.0,1393.0,704.0,689.0,124.0,136.0,339.0,215.0,207.0,372.0,57.0,62.0,187.0,123.0,104.0,171.0,67.0,74.0,152.0,92.0,103.0,201.0,832.0,0.0,832.0,inf
338981,20232,R,전통시장,3130290,영림시장,CS300002,편의점,464970827.0,86595,343177861.0,121792966.0,67119330.0,66623975.0,71095221.0,67683879.0,70655456.0,64596376.0,57196590.0,53448273.0,77549974.0,48021362.0,57245503.0,125246607.0,103459108,293350158.0,171620669.0,3756024,139595428,130006418.0,79755297.0,63647038.0,48210622.0,64749,21846,12447,12935,13316,12950,13101,11506,10340,8383,16463,10137,10472,23481,17659,51042,35553,1081,28289,23864,13998,12064,7299,30.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,417.0,183.0,234.0,0.0,74.0,101.0,107.0,92.0,43.0,0.0,14.0,49.0,43.0,44.0,33.0,0.0,60.0,52.0,64.0,48.0,10.0,0,6,0,0,0,0,6,194966,442472,11620,관악구,11620595,청룡동,72197,27.0,71.0,54.0,0.0,0.0,0.0,8.0,53.0,25.0,6.0,31.0,2.0,0.0,59.0,235725583.0,2479948.0,6.0,1.289846e+09,383554211.0,152976216.0,97520661.0,185222092.0,190010730.0,47037401.0,42760474.0,137662043.0,53101818.0,554517.0,262212.0,292304.0,49445.0,141030.0,100366.0,68157.0,71125.0,124396.0,132218.0,113736.0,64641.0,66393.0,102436.0,75093.0,79477.0,79271.0,79870.0,79654.0,79432.0,78974.0,77839.0,1771.0,851.0,920.0,142.0,121.0,290.0,267.0,257.0,694.0,84.0,69.0,134.0,146.0,119.0,299.0,58.0,52.0,156.0,121.0,138.0,395.0,1468.0,0.0,1468.0,inf
339191,20232,R,전통시장,3130314,풍납시장,CS300002,편의점,603377287.0,84928,419924849.0,183452438.0,82908309.0,87771534.0,75442924.0,92735677.0,81066405.0,101145821.0,82306617.0,48188027.0,87499421.0,76808753.0,88485824.0,186958868.0,115436394,441913716.0,156308162.0,5510879,57721930,144836979.0,146790409.0,136904411.0,106457270.0,59444,25484,12074,12104,11482,12091,11693,13325,12159,6349,13213,11280,12140,25603,16343,60884,23569,1363,11144,20056,18738,17564,15589,24.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,203.0,100.0,103.0,1.0,24.0,42.0,50.0,61.0,25.0,1.0,15.0,27.0,22.0,19.0,16.0,0.0,9.0,15.0,28.0,42.0,9.0,0,6,17,1,0,0,6,210613,448663,11710,송파구,11710510,풍납1동,120813,28.0,167.0,43.0,0.0,0.0,0.0,6.0,96.0,102.0,6.0,0.0,0.0,0.0,53.0,189310025.0,2434815.0,5.0,1.463841e+09,487521055.0,163365851.0,102435153.0,232426856.0,185618590.0,42265493.0,50645537.0,142936305.0,56625904.0,1363765.0,622956.0,740810.0,168489.0,149536.0,215549.0,215510.0,221961.0,392721.0,358678.0,270718.0,151624.0,155042.0,240521.0,187182.0,192698.0,190076.0,190239.0,187619.0,189105.0,205588.0,208441.0,4699.0,2280.0,2419.0,349.0,456.0,679.0,692.0,801.0,1722.0,168.0,222.0,344.0,367.0,395.0,784.0,181.0,234.0,335.0,325.0,406.0,938.0,2071.0,0.0,2071.0,inf
339319,20232,R,전통시장,3130323,둔촌역전통시장,CS300002,편의점,178937288.0,23693,114176281.0,64761007.0,17945433.0,24258407.0,27189200.0,21460440.0,23322801.0,36564280.0,28196727.0,11505034.0,15596697.0,29197775.0,29911576.0,53258995.0,39467211,142025692.0,36911596.0,1636344,11230307,34859136.0,56309822.0,40970286.0,33931393.0,15918,7775,2765,2959,3499,3154,3541,4275,3500,1793,2916,3369,3671,7085,4859,18411,5282,437,1770,4498,6725,5327,4936,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,171.0,86.0,85.0,0.0,3.0,14.0,23.0,36.0,95.0,0.0,2.0,6.0,8.0,14.0,56.0,0.0,1.0,8.0,15.0,22.0,39.0,0,3,0,0,0,0,3,211868,447599,11740,강동구,11740660,성내3동,36613,29.0,134.0,35.0,19.0,2.0,0.0,13.0,116.0,36.0,23.0,2.0,0.0,0.0,58.0,186899937.0,2608832.0,6.0,7.649625e+08,212600940.0,92152548.0,54122662.0,106063523.0,123129274.0,27978245.0,23322734.0,93777790.0,31814754.0,310288.0,151555.0,158734.0,40335.0,39059.0,40908.0,50746.0,52919.0,86320.0,87311.0,62658.0,33947.0,34930.0,50959.0,40484.0,44098.0,43906.0,44155.0,43838.0,44533.0,45236.0,44522.0,1781.0,870.0,911.0,161.0,238.0,272.0,254.0,311.0,545.0,81.0,137.0,144.0,125.0,146.0,237.0,80.0,101.0,128.0,129.0,165.0,308.0,718.0,0.0,718.0,inf
339351,20232,R,전통시장,3130326,고덕 골목형상점가,CS100008,분식전문점,443619805.0,43040,319928248.0,123691557.0,66484562.0,60995839.0,64772284.0,63820966.0,63854597.0,77099062.0,46592495.0,0.0,24331646.0,164784570.0,82299603.0,169647919.0,2556067,204291233.0,239328572.0,2489336,50252958,109577733.0,139876654.0,87082111.0,54341013.0,32652,10388,6841,6342,6553,6372,6544,6860,3528,0,2671,16347,7726,15960,336,18681,24359,286,5188,10397,12387,8714,6068,12.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,935.0,850.0,85.0,0.0,8.0,37.0,165.0,395.0,330.0,0.0,4.0,31.0,147.0,360.0,308.0,0.0,4.0,6.0,18.0,35.0,22.0,0,3,0,0,0,0,3,215010,450928,11740,강동구,11740560,고덕2동,29082,2.0,50.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,7.0,0.0,37.0,53.0,619557576.0,2356081.0,5.0,4.069722e+07,11206611.0,4772763.0,2901471.0,5713560.0,6213800.0,1627622.0,1170775.0,5555774.0,1534847.0,139522.0,64543.0,74979.0,31062.0,11733.0,21297.0,26684.0,18241.0,30506.0,33901.0,32903.0,17319.0,16182.0,22439.0,16779.0,19919.0,19959.0,19798.0,20017.0,19971.0,19959.0,19896.0,124.0,59.0,65.0,4.0,16.0,15.0,15.0,21.0,53.0,0.0,12.0,7.0,8.0,9.0,23.0,4.0,4.0,8.0,7.0,12.0,30.0,579.0,0.0,579.0,inf

### csv 파일로 저장

In [126]:
service_data = service_data.reset_index(drop=True)
service_data.to_csv('../../data/preprocessed data/market_service_data.csv', index=False)

## 모델 학습용 데이터

In [127]:
import pandas as pd

pd.set_option('display.max_columns', 500)

### 1. 해당 분기 매출 예측
- y: `점포별_평균_매출_금액`

In [128]:
quarter = pd.read_csv('../../data/preprocessed data/market_service_data.csv')
quarter.shape

(182490, 184)

In [129]:
drop_cols = ['당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주말_매출_금액',
       '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액',
       '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액',
       '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',
       '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액',
       '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액',
       '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수',
       '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수',
       '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수']

print(len(drop_cols))

48

In [130]:
quarter = quarter.drop(columns=drop_cols)
quarter.shape

(182490, 136)

In [131]:
quarter.to_csv('../../data/preprocessed data/market_quater_data.csv', index=False)

In [132]:
quarter['점포별_평균_매출_금액'].describe()

count    1.824900e+05
mean              inf
std               NaN
min      1.820000e+01
25%      8.865347e+06
50%      2.697326e+07
75%      7.338140e+07
max               inf
Name: 점포별_평균_매출_금액, dtype: float64

### 2. 다음 분기 매출 예측
- y: