### 예측 단위 : 현재 추정 매출, 다음 분기 매출

In [133]:
# Import the module
import pandas as pd

pd.set_option('display.max_columns', 500)

In [134]:
## 2023년 추출 코드 필요하면 쓰세요
# data = pd.read_csv("../../data/raw data/상권/추정매출/서울시 상권분석서비스(추정매출-상권).csv", encoding="cp949")
# data = data[data['기준_년분기_코드'] >= 2023]
# data.to_csv('../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv', index=False)

## 개별 파일 병합

### 추정매출 sales

In [135]:
sales2019 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2019년.csv", encoding="cp949")
sales2020 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2020년.csv", encoding="cp949")
sales2021 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2021년.csv", encoding="cp949")
sales2022 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2022년.csv", encoding="cp949")
sales2023 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2023년.csv")

In [136]:
sales2019.shape, sales2020.shape, sales2021.shape, sales2022.shape, sales2023.shape

((78405, 55), (79988, 55), (81826, 55), (83573, 55), (42119, 55))

In [137]:
sales = pd.concat([sales2019, sales2020, sales2021, sales2022, sales2023])
sales = sales.reset_index(drop=True)

In [138]:
sales['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [139]:
sales.isnull().sum().sum()

0

In [140]:
sales

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,D,발달상권,3120037,동대문역사문화공원역,CS200029,네일숍,2.039329e+07,208,1.705198e+07,3.341312e+06,10079574.0,0.0,3251302.0,1736638.0,1.984464e+06,5.968310e+05,2.744481e+06,0.0,0.0,2.806361e+06,1.883718e+06,1.420945e+07,1493760,0.000000e+00,2.039329e+07,0,3494505,2724832.0,0.000000e+00,1.367377e+07,5.001860e+05,176,32,73,0,49,36,18,14,18,0,0,56,39,86,27,0,208,0,56,21,0,123,8
1,20191,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,CS200029,네일숍,7.314771e+07,2136,5.702546e+07,1.612225e+07,11704014.0,9926780.0,13925573.0,11094589.0,1.037450e+07,1.281625e+07,3.306002e+06,0.0,71676.0,1.359320e+07,1.855191e+07,3.932973e+07,1601195,3.011932e+06,7.013578e+07,0,20258941,34029326.0,8.219377e+06,7.853565e+06,2.786502e+06,1757,379,286,364,457,391,259,284,95,0,5,264,562,1270,35,59,2077,0,715,995,236,157,33
2,20191,A,골목상권,3110085,경리단길남측,CS200029,네일숍,3.000000e+06,40,2.337081e+06,6.629190e+05,0.0,604671.0,294118.0,705882.0,7.324100e+05,4.777340e+05,1.851850e+05,0.0,555556.0,1.851850e+05,8.262520e+05,1.026528e+06,406479,0.000000e+00,3.000000e+06,0,479303,1604958.0,9.157390e+05,0.000000e+00,0.000000e+00,32,8,0,5,6,12,9,6,2,0,1,2,14,14,9,0,40,0,8,28,5,0,0
3,20191,A,골목상권,3110166,구의1동주민센터,CS200029,네일숍,8.443798e+06,153,4.984275e+06,3.459523e+06,0.0,0.0,1306931.0,2370413.0,1.306931e+06,2.754805e+06,7.047180e+05,0.0,0.0,1.153174e+06,1.588818e+06,4.420501e+06,1281305,1.281300e+05,8.315668e+06,0,1716948,5445545.0,1.281305e+06,0.000000e+00,0.000000e+00,89,64,0,0,25,38,26,38,26,0,0,26,50,64,13,13,140,0,52,88,13,0,0
4,20191,A,골목상권,3110161,중곡역 3번,CS200029,네일숍,2.075699e+07,305,1.669444e+07,4.062554e+06,245090.0,565445.0,3744146.0,3384050.0,8.755705e+06,3.355372e+06,7.071820e+05,0.0,0.0,2.372621e+06,3.714210e+06,1.205476e+07,2615404,4.198900e+05,2.033710e+07,0,4348966,3810679.0,6.738272e+06,4.159712e+06,1.699361e+06,244,61,7,18,46,47,126,52,9,0,0,36,37,196,36,4,301,0,79,28,68,91,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365906,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300024,운동/경기용품,3.070326e+09,1822,2.995437e+09,7.488909e+07,368003386.0,578387908.0,424583428.0,941263065.0,6.831987e+08,7.488909e+07,0.000000e+00,0.0,98326368.0,1.160527e+09,1.292292e+09,5.191802e+08,0,1.594137e+09,1.147537e+09,0,36448568,36024747.0,6.357308e+08,1.529335e+09,5.041345e+08,1717,105,551,340,297,360,169,63,42,0,212,699,699,212,0,848,572,0,42,21,106,402,848
365907,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300026,완구,7.268984e+08,32273,3.778485e+08,3.490499e+08,65005755.0,47678073.0,56005496.0,63389205.0,1.457700e+08,1.956493e+08,1.534005e+08,0.0,5113254.0,1.347818e+08,2.493450e+08,3.158698e+08,21788492,3.101254e+08,4.167729e+08,6566045,297790485,223835603.0,1.410070e+08,3.883445e+07,1.886476e+07,16675,15598,2738,2447,2854,2709,5927,8520,7078,0,219,5941,11257,13632,1224,14077,18196,383,13914,9987,5975,1499,515
365908,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300028,화초,4.382898e+07,3575,2.733274e+07,1.649624e+07,5150112.0,10516554.0,4290851.0,2930455.0,4.444767e+06,8.751374e+06,7.744863e+06,0.0,9202212.0,1.094013e+07,1.203632e+07,1.101042e+07,639901,1.858803e+07,1.617144e+07,815632,9176155,12872553.0,7.180707e+06,1.734883e+06,2.979540e+06,1884,1691,370,393,297,339,485,915,776,0,443,933,1278,866,55,1800,1679,97,642,1230,891,321,297
365909,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300031,가구,6.480944e+09,3524,3.541939e+09,2.939004e+09,820854468.0,602688339.0,553697884.0,389280275.0,1.175418e+09,1.412546e+09,1.526458e+09,0.0,814510382.0,1.616685e+09,2.577286e+09,1.402678e+09,69784966,2.415713e+09,3.860810e+09,0,134464058,515626722.0,1.444550e+09,1.475739e+09,2.706143e+09,2291,1233,494,282,493,423,599,670,563,0,351,951,1411,776,35,1175,2313,0,36,214,636,713,1889
365910,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300032,가전제품,7.955111e+08,3319,5.625987e+08,2.329124e+08,56654831.0,146702158.0,51407962.0,91538936.0,2.162948e+08,9.836428e+07,1.345482e+08,0.0,28289029.0,1.731439e+08,2.205461e+08,3.669509e+08,6581244,4.239356e+08,2.078127e+08,1079867,108424269,117280618.0,1.120492e+08,1.082600e+08,1.846543e+08,2305,1014,360,450,348,460,687,594,420,0,84,828,882,1447,78,1682,1188,30,774,720,552,456,338

### 집객시설 facilities

In [141]:
facilities = pd.read_csv("../../data/raw data/상권/집객시설/서울시 상권분석서비스(집객시설-상권).csv", encoding="cp949")

In [142]:
# 집객시설 - 2019년 1-4분기, 2020년 1-3분기 데이터 없음
facilities['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204], dtype=int64)

In [143]:
facilities.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

In [144]:
facilities = facilities.fillna(0)
facilities.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [145]:
facilities2019 = facilities[(20191 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20194)]
facilities2020 = facilities[(20201 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20204)]
facilities2021 = facilities[(20211 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20214)]
facilities2022 = facilities[(20221 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20224)]
facilities2023 = facilities[(20231 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20234)]

In [146]:
# 2020년 1, 2, 3분기 데이터 생성(= 2020년 4분기 copy)
facilities20204 = facilities2020[facilities2020['기준_년분기_코드'] == 20204]

facilities20201 = facilities20204.copy()
facilities20202 = facilities20204.copy()
facilities20203 = facilities20204.copy()

facilities20201['기준_년분기_코드'] = 20201
facilities20202['기준_년분기_코드'] = 20202
facilities20203['기준_년분기_코드'] = 20203

print(facilities20201.shape, facilities20202.shape, facilities20203.shape, facilities20204.shape)

facilities2020 = pd.concat([facilities20201, facilities20202, facilities20203, facilities20204])
facilities2020 = facilities2020.reset_index(drop=True)

print(facilities2020['기준_년분기_코드'].unique())

(1578, 25) (1578, 25) (1578, 25) (1578, 25)
[20201 20202 20203 20204]

In [147]:
facilities2019.shape, facilities2020.shape, facilities2021.shape, facilities2022.shape, facilities2023.shape

((0, 25), (6312, 25), (6312, 25), (6312, 25), (3156, 25))

In [148]:
facilities = pd.concat([facilities2019, facilities2020, facilities2021, facilities2022, facilities2023])
facilities = facilities.reset_index(drop=True)

In [149]:
facilities['기준_년분기_코드'].unique()

array([20201, 20202, 20203, 20204, 20214, 20213, 20212, 20211, 20224,
       20223, 20222, 20221, 20232, 20231], dtype=int64)

### 직장인구 office_population

In [150]:
# 직장인구 데이터 load
office_population = pd.read_csv("../../data/raw data/상권/직장인구/서울시 상권분석서비스(직장인구-상권).csv", encoding="cp949")

In [151]:
# 직장인구 - 2019년 2-3분기 데이터 없음
office_population['기준_년분기_코드'].unique()

array([20191, 20212, 20194, 20213, 20221, 20222, 20223, 20224, 20202,
       20231, 20214, 20232, 20201, 20203, 20204, 20211], dtype=int64)

In [152]:
office_population.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [153]:
office_population2019 = office_population[(20191 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20194)]
office_population2020 = office_population[(20201 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20204)]
office_population2021 = office_population[(20211 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20214)]
office_population2022 = office_population[(20221 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20224)]
office_population2023 = office_population[(20231 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20234)]

In [154]:
office_population2019.shape, office_population2020.shape, office_population2021.shape, office_population2022.shape, office_population2023.shape

((3267, 26), (6492, 26), (6492, 26), (6492, 26), (3246, 26))

In [155]:
# 2019년 2,3분기 데이터 생성(= 2019년 1분기 copy)
office_population20191 = office_population2019[office_population2019['기준_년분기_코드']==20191]
office_population20192 = office_population20191.copy()
office_population20193 = office_population20191.copy()
office_population20194 = office_population2019[office_population2019['기준_년분기_코드']==20194]

office_population20192['기준_년분기_코드'] = 20192
office_population20193['기준_년분기_코드'] = 20193

print(office_population20191.shape, office_population20192.shape, office_population20193.shape, office_population20194.shape)

office_population2019 = pd.concat([office_population20191, office_population20192, office_population20193, office_population20194])
office_population2019 = office_population2019.reset_index(drop=True)

print(office_population2019['기준_년분기_코드'].unique())

(1644, 26) (1644, 26) (1644, 26) (1623, 26)
[20191 20192 20193 20194]

In [156]:
office_population = pd.concat([office_population2019, office_population2020, office_population2021, office_population2022, office_population2023])
office_population = office_population.reset_index(drop=True)

In [157]:
office_population['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20202, 20201, 20203, 20204, 20212,
       20213, 20214, 20211, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

### 점포 store

In [158]:
store2019 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2019년.csv", encoding="cp949")
store2020 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2020년.csv", encoding="cp949")
store2021 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2021년.csv", encoding="cp949")
store2022 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2022년.csv", encoding="cp949")
store2023 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2023년.csv")

In [159]:
store2019.shape, store2020.shape, store2021.shape, store2022.shape, store2023.shape

((298601, 14), (301143, 14), (303483, 14), (304755, 14), (152288, 14))

In [160]:
store = pd.concat([store2019, store2020, store2021, store2022, store2023])
store = store.reset_index(drop=True)

In [161]:
store['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [162]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 영역 area

In [163]:
area = pd.read_csv("../../data/raw data/상권/영역/서울시 상권분석서비스(영역-상권).csv", encoding="cp949")
area

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093,453418,11110,종로구,11110515,청운효자동,149264
1,A,골목상권,3110009,자하문터널,196991,455057,11110,종로구,11110550,부암동,178306
2,A,골목상권,3110010,평창동서측,197064,456643,11110,종로구,11110560,평창동,369415
3,A,골목상권,3110017,정독도서관,198581,453781,11110,종로구,11110600,가회동,83855
4,A,골목상권,3110018,중앙고등학교,198883,453690,11110,종로구,11110600,가회동,166872
...,...,...,...,...,...,...,...,...,...,...,...
1645,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,198397,451614,11140,중구,11140520,소공동,983618
1646,U,관광특구,3001493,동대문패션타운 관광특구,200996,451976,11140,중구,11140590,광희동,606058
1647,U,관광특구,3001494,종로?청계 관광특구,199796,452274,11110,종로구,11110615,종로1?2?3?4가동,653127
1648,U,관광특구,3001495,잠실 관광특구,210188,446334,11710,송파구,11710562,방이2동,2462734
1649,U,관광특구,3001496,강남 마이스 관광특구,205282,445736,11680,강남구,11680580,삼성1동,237892

In [164]:
area.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 아파트 apartment

In [165]:
apartment = pd.read_csv("../../data/raw data/상권/아파트/서울시 상권분석서비스(아파트-상권).csv", encoding="cp949")

In [166]:
# 아파트 - 2019년 1-3분기 데이터 없음
apartment['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194], dtype=int64)

In [167]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

In [168]:
apartment = apartment.fillna(0)
apartment.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [169]:
apartment2019 = apartment[(20191 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20194)]
apartment2020 = apartment[(20201 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20204)]
apartment2021 = apartment[(20211 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20214)]
apartment2022 = apartment[(20221 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20224)]
apartment2023 = apartment[(20231 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20234)]

In [170]:
apartment2019.shape, apartment2020.shape, apartment2021.shape, apartment2022.shape, apartment2023.shape

((1484, 20), (5936, 20), (5916, 20), (5855, 20), (2926, 20))

In [171]:
apartment = pd.concat([apartment2019, apartment2020, apartment2021, apartment2022, apartment2023])
apartment = apartment.reset_index(drop=True)

### 소득소비 money

In [172]:
money = pd.read_csv("../../data/raw data/상권/소득소비/서울시 상권분석서비스(소득소비-상권).csv", encoding="cp949")

In [173]:
money['기준_년분기_코드'].unique()

array([20231, 20232, 20191, 20193, 20192, 20194, 20201, 20202, 20203,
       20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223, 20224],
      dtype=int64)

In [174]:
money.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

In [175]:
money = money.fillna(0)
money.isnull().sum()

기준_년분기_코드       0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
여가_지출_총금액       0
문화_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
dtype: int64

In [176]:
money2019 = money[(20191 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20194)]
money2020 = money[(20201 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20204)]
money2021 = money[(20211 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20214)]
money2022 = money[(20221 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20224)]
money2023 = money[(20231 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20234)]

In [177]:
money2019.shape, money2020.shape, money2021.shape, money2022.shape, money2023.shape

((6518, 17), (6524, 17), (6524, 17), (6524, 17), (3262, 17))

In [178]:
money = pd.concat([money2019, money2020, money2021, money2022, money2023])
money = money.reset_index(drop=True)

### 생활인구 de_facto_population

In [179]:
de_facto_population = pd.read_csv("../../data/raw data/상권/생활인구/서울시 상권분석서비스(길단위인구-상권).csv", encoding="cp949")

In [180]:
de_facto_population['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194, 20193, 20192, 20191],
      dtype=int64)

In [181]:
de_facto_population.isnull().sum()

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [182]:
de_facto_population2019 = de_facto_population[(20191 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20194)]
de_facto_population2020 = de_facto_population[(20201 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20204)]
de_facto_population2021 = de_facto_population[(20211 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20214)]
de_facto_population2022 = de_facto_population[(20221 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20224)]
de_facto_population2023 = de_facto_population[(20231 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20234)]

In [183]:
de_facto_population2019.shape, de_facto_population2020.shape, de_facto_population2021.shape, de_facto_population2022.shape, de_facto_population2023.shape

((6600, 27), (6600, 27), (6600, 27), (6599, 27), (3298, 27))

In [184]:
de_facto_population = pd.concat([de_facto_population2019, de_facto_population2020, de_facto_population2021, de_facto_population2022, de_facto_population2023])
de_facto_population = de_facto_population.reset_index(drop=True)

### 상주인구 de_jure_population

In [185]:
de_jure_population = pd.read_csv("../../data/raw data/상권/상주인구/서울시 상권분석서비스(상주인구-상권).csv", encoding="cp949")

In [186]:
# 상주인구 - 2019년 1-3분기 데이터 없음
de_jure_population['기준_년분기_코드'].unique()

array([20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214,
       20221, 20222, 20223, 20224, 20231, 20232], dtype=int64)

In [187]:
de_jure_population.isnull().sum()

기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [188]:
de_jure_population2019 = de_jure_population[(20191 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20194)]
de_jure_population2020 = de_jure_population[(20201 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20204)]
de_jure_population2021 = de_jure_population[(20211 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20214)]
de_jure_population2022 = de_jure_population[(20221 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20224)]
de_jure_population2023 = de_jure_population[(20231 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20234)]

In [189]:
de_jure_population2019.shape, de_jure_population2020.shape, de_jure_population2021.shape, de_jure_population2022.shape, de_jure_population2023.shape

((1634, 29), (6536, 29), (6536, 29), (6527, 29), (3253, 29))

In [190]:
de_jure_population = pd.concat([de_jure_population2019, de_jure_population2020, de_jure_population2021, de_jure_population2022, de_jure_population2023])
de_jure_population = de_jure_population.reset_index(drop=True)

## 전체 파일 병합
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드']`
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드']`

In [191]:
# sales + facilities

In [192]:
sales.shape, facilities.shape

((365911, 55), (22092, 25))

In [193]:
facilities = facilities.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = sales.merge(facilities, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 75)

In [272]:
null_idx = temp[temp['기준_년분기_코드']>20194].isnull().index.to_list()
temp.loc[null_idx,["기준_년분기_코드","상권_구분_코드_명","상권_코드_명"]].drop_duplicates()

        기준_년분기_코드 상권_구분_코드_명                 상권_코드_명
78405       20201       전통시장          송화벽화시장(송화골목시장)
78406       20201       발달상권              동대문역사문화공원역
78407       20201       골목상권                  경동고등학교
78408       20201       골목상권                   답십리공원
78409       20201       골목상권                   서경대학교
...           ...        ...                     ...
365697      20232       관광특구  명동 남대문 북창동 다동 무교동 관광특구
365752      20232       관광특구            동대문패션타운 관광특구
365787      20232       관광특구              종로?청계 관광특구
365842      20232       관광특구                 잠실 관광특구
365882      20232       관광특구             강남 마이스 관광특구

[21773 rows x 3 columns]

In [211]:
sales[['기준_년분기_코드', '상권_구분_코드', '상권_코드']].nunique()

기준_년분기_코드      18
상권_구분_코드        4
상권_코드        1577
dtype: int64

In [207]:
facilities[['기준_년분기_코드', '상권_구분_코드', '상권_코드']].nunique()

기준_년분기_코드      14
상권_구분_코드        4
상권_코드        1578
dtype: int64

In [212]:
temp[['기준_년분기_코드', '상권_구분_코드', '상권_코드']].nunique()

기준_년분기_코드      18
상권_구분_코드        4
상권_코드        1577
dtype: int64

In [213]:
facilities[facilities['상권_코드'] == 3130292]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_코드, 집객시설_수, 관공서_수, 은행_수, 종합병원_수, 일반_병원_수, 약국_수, 유치원_수, 초등학교_수, 중학교_수, 고등학교_수, 대학교_수, 백화점_수, 슈퍼마켓_수, 극장_수, 숙박_시설_수, 공항_수, 철도_역_수, 버스_터미널_수, 지하철_역_수, 버스_정거장_수]
Index: []

In [217]:
facilities[facilities['상권_코드'] == 3130302]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_코드, 집객시설_수, 관공서_수, 은행_수, 종합병원_수, 일반_병원_수, 약국_수, 유치원_수, 초등학교_수, 중학교_수, 고등학교_수, 대학교_수, 백화점_수, 슈퍼마켓_수, 극장_수, 숙박_시설_수, 공항_수, 철도_역_수, 버스_터미널_수, 지하철_역_수, 버스_정거장_수]
Index: []

In [218]:
facilities[facilities['상권_코드'] == 3130305]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_코드, 집객시설_수, 관공서_수, 은행_수, 종합병원_수, 일반_병원_수, 약국_수, 유치원_수, 초등학교_수, 중학교_수, 고등학교_수, 대학교_수, 백화점_수, 슈퍼마켓_수, 극장_수, 숙박_시설_수, 공항_수, 철도_역_수, 버스_터미널_수, 지하철_역_수, 버스_정거장_수]
Index: []

In [195]:
cols = temp.columns
for col in cols:
    print(col, temp[col].isnull().sum())

기준_년분기_코드 0
상권_구분_코드 0
상권_구분_코드_명 0
상권_코드 0
상권_코드_명 0
서비스_업종_코드 0
서비스_업종_코드_명 0
당월_매출_금액 0
당월_매출_건수 0
주중_매출_금액 0
주말_매출_금액 0
월요일_매출_금액 0
화요일_매출_금액 0
수요일_매출_금액 0
목요일_매출_금액 0
금요일_매출_금액 0
토요일_매출_금액 0
일요일_매출_금액 0
시간대_00~06_매출_금액 0
시간대_06~11_매출_금액 0
시간대_11~14_매출_금액 0
시간대_14~17_매출_금액 0
시간대_17~21_매출_금액 0
시간대_21~24_매출_금액 0
남성_매출_금액 0
여성_매출_금액 0
연령대_10_매출_금액 0
연령대_20_매출_금액 0
연령대_30_매출_금액 0
연령대_40_매출_금액 0
연령대_50_매출_금액 0
연령대_60_이상_매출_금액 0
주중_매출_건수 0
주말_매출_건수 0
월요일_매출_건수 0
화요일_매출_건수 0
수요일_매출_건수 0
목요일_매출_건수 0
금요일_매출_건수 0
토요일_매출_건수 0
일요일_매출_건수 0
시간대_건수~06_매출_건수 0
시간대_건수~11_매출_건수 0
시간대_건수~14_매출_건수 0
시간대_건수~17_매출_건수 0
시간대_건수~21_매출_건수 0
시간대_건수~24_매출_건수 0
남성_매출_건수 0
여성_매출_건수 0
연령대_10_매출_건수 0
연령대_20_매출_건수 0
연령대_30_매출_건수 0
연령대_40_매출_건수 0
연령대_50_매출_건수 0
연령대_60_이상_매출_건수 0
집객시설_수 80671
관공서_수 80671
은행_수 80671
종합병원_수 80671
일반_병원_수 80671
약국_수 80671
유치원_수 80671
초등학교_수 80671
중학교_수 80671
고등학교_수 80671
대학교_수 80671
백화점_수 80671
슈퍼마켓_수 80671
극장_수 80671
숙박_시설_수 80671
공항_수 80671
철도_역_수 80671
버스_터미널_수 80671
지하철_역_수 80671
버스_정거장_수 80671

In [227]:
null = temp[temp.isnull().any(axis=1)]
len(null.loc[null['기준_년분기_코드'] > 20194, ['상권_코드_명']].drop_duplicates())

58

In [251]:
sales_code = list(sales['상권_코드'].drop_duplicates())
facilities_code = list(facilities['상권_코드'].drop_duplicates())

none = []

for s in sales_code:
    if s not in facilities_code:
        none.append(s)
        
print(len(none))
for n in none:
    print(n, sales.loc[sales['상권_코드'] == n, '상권_코드_명'].drop_duplicates().values, sales.loc[sales['상권_코드'] == n, '상권_구분_코드_명'].drop_duplicates().values)

58
3130247 ['우리시장'] ['전통시장']
3110965 ['언주역 6번'] ['골목상권']
3130249 ['동남상가'] ['전통시장']
3130189 ['서교시장'] ['전통시장']
3130173 ['백련시장'] ['전통시장']
3130060 ['신흥시장'] ['전통시장']
3130033 ['대림상가(청계상가)'] ['전통시장']
3130292 ['봉천현대시장'] ['전통시장']
3111048 ['천호역 1번(천호문구완구거리)'] ['골목상권']
3110977 ['논현로18길'] ['골목상권']
3130228 ['구로시장'] ['전통시장']
3130302 ['강남시장(강남구 강남시장)'] ['전통시장']
3130270 ['흑석시장'] ['전통시장']
3130178 ['이대 앞 스타트업 상점가'] ['전통시장']
3110763 ['영등포구청역 2번'] ['골목상권']
3110386 ['연산군묘'] ['골목상권']
3130269 ['강남시장(동작구 강남시장)'] ['전통시장']
3110610 ['계남근린공원'] ['골목상권']
3130224 ['개봉프라자(고척근린시장)'] ['전통시장']
3111050 ['강동구청(강동구청역 2번)'] ['골목상권']
3130250 ['삼구시장(로타리상가)'] ['전통시장']
3110946 ['청계산원터골'] ['골목상권']
3130201 ['월정로시장'] ['전통시장']
3110685 ['금강수목원아파트'] ['골목상권']
3110623 ['갈산공원'] ['골목상권']
3110044 ['관성묘'] ['골목상권']
3110239 ['중랑역 2번'] ['골목상권']
3110991 ['삼성중앙역 5번'] ['골목상권']
3110986 ['삼성중앙역 7번'] ['골목상권']
3110938 ['바우뫼공원'] ['골목상권']
3110145 ['장안초등학교'] ['골목상권']
3110937 ['방아다리근린공원(횃불트리니티신학대학원대학교)'] ['골목상권']
3110223 ['군자초등학교'] ['골목상권']
3110963 ['역삼월드메르디앙아파트'] ['골목상권']
3130211 ['신정2동 골목시장(오목교중앙시장)'] ['전통시장']
3130275 ['강남골목시장'] ['전통시장']
3130254 ['남서울상가'] ['전통시장']
3110222 ['회기역 2번'] ['골목상권']
3130142 ['강북북부시장'] ['전통시장']
3130188 ['합정시장'] ['전통시장']
3110941 ['언남고등학교'] ['골목상권']
3110808 ['신길역 1번'] ['골목상권']
3110985 ['청담근린공원'] ['골목상권']
3130218 ['신월중앙시장'] ['전통시장']
3130013 ['동대문상가A동'] ['전통시장']
3110704 ['고척중학교'] ['골목상권']
3110015 ['청와대사랑채'] ['골목상권']
3130291 ['봉천제일종합시장'] ['전통시장']
3130093 ['동서시장'] ['전통시장']
3110923 ['방배역 1번'] ['골목상권']
3110669 ['화곡보람2차아파트'] ['골목상권']
3110928 ['서초우방유쉘아파트'] ['골목상권']
3110046 ['버티고개'] ['골목상권']
3110581 ['염리초등학교'] ['골목상권']
3110013 ['체부동홍종문가옥'] ['골목상권']
3130305 ['논현종합시장'] ['전통시장']
3110914 ['내방역 6번'] ['골목상권']
3130046 ['team204(팀204)'] ['전통시장']

In [105]:
# sales + facilities + office_population

In [106]:
temp.shape, office_population.shape

((365911, 75), (29277, 26))

In [107]:
office_population = office_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(office_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 96)

In [108]:
# sales + facilities + office_population + store

In [109]:
temp.shape, store.shape

((365911, 96), (1360270, 14))

In [110]:
store = store.drop(columns=['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'])

temp = temp.merge(store, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드'])
temp.shape

(365911, 103)

In [111]:
# sales + facilities + office_population + store + area

In [112]:
temp.shape, area.shape

((365911, 103), (1650, 11))

In [113]:
area = area.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(area, how='left', on=['상권_구분_코드', '상권_코드'])
temp.shape

(365911, 110)

In [114]:
# sales + facilities + office_population + store + area + apartment

In [115]:
temp.shape, apartment.shape

((365911, 110), (22117, 20))

In [116]:
apartment = apartment.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(apartment, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 125)

In [117]:
# sales + facilities + office_population + store + area + apartment + money

In [118]:
temp.shape, money.shape

((365911, 125), (29352, 17))

In [119]:
money = money.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(money, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 137)

In [120]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population

In [121]:
temp.shape, de_facto_population.shape

((365911, 137), (29697, 27))

In [122]:
de_facto_population = de_facto_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_facto_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 159)

In [123]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population + de_jure_population

In [124]:
temp.shape, de_jure_population.shape

((365911, 159), (24486, 29))

In [125]:
de_jure_population = de_jure_population.drop(columns=['상권_구분_코드_명', '상권_코드_명'])

temp = temp.merge(de_jure_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_코드'])
temp.shape

(365911, 183)

### csv 파일로 저장

In [126]:
market_data = temp.copy()

In [127]:
market_data.shape

(365911, 183)

In [275]:
cols = market_data.columns
for col in cols:
    print(col, market_data[col].isnull().sum())

기준_년분기_코드 0
상권_구분_코드 0
상권_구분_코드_명 0
상권_코드 0
상권_코드_명 0
서비스_업종_코드 0
서비스_업종_코드_명 0
당월_매출_금액 0
당월_매출_건수 0
주중_매출_금액 0
주말_매출_금액 0
월요일_매출_금액 0
화요일_매출_금액 0
수요일_매출_금액 0
목요일_매출_금액 0
금요일_매출_금액 0
토요일_매출_금액 0
일요일_매출_금액 0
시간대_00~06_매출_금액 0
시간대_06~11_매출_금액 0
시간대_11~14_매출_금액 0
시간대_14~17_매출_금액 0
시간대_17~21_매출_금액 0
시간대_21~24_매출_금액 0
남성_매출_금액 0
여성_매출_금액 0
연령대_10_매출_금액 0
연령대_20_매출_금액 0
연령대_30_매출_금액 0
연령대_40_매출_금액 0
연령대_50_매출_금액 0
연령대_60_이상_매출_금액 0
주중_매출_건수 0
주말_매출_건수 0
월요일_매출_건수 0
화요일_매출_건수 0
수요일_매출_건수 0
목요일_매출_건수 0
금요일_매출_건수 0
토요일_매출_건수 0
일요일_매출_건수 0
시간대_건수~06_매출_건수 0
시간대_건수~11_매출_건수 0
시간대_건수~14_매출_건수 0
시간대_건수~17_매출_건수 0
시간대_건수~21_매출_건수 0
시간대_건수~24_매출_건수 0
남성_매출_건수 0
여성_매출_건수 0
연령대_10_매출_건수 0
연령대_20_매출_건수 0
연령대_30_매출_건수 0
연령대_40_매출_건수 0
연령대_50_매출_건수 0
연령대_60_이상_매출_건수 0
집객시설_수 80671
관공서_수 80671
은행_수 80671
종합병원_수 80671
일반_병원_수 80671
약국_수 80671
유치원_수 80671
초등학교_수 80671
중학교_수 80671
고등학교_수 80671
대학교_수 80671
백화점_수 80671
슈퍼마켓_수 80671
극장_수 80671
숙박_시설_수 80671
공항_수 80671
철도_역_수 80671
버스_터미널_수 80671
지하철_역_수 80671
버스_정거장_수 80671
총_직장_인구_수 805
남성_직장_인구_수 805
여성_직장_인구_수 805
연령대_10_직장_인구_수 805
연령대_20_직장_인구_수 805
연령대_30_직장_인구_수 805
연령대_40_직장_인구_수 805
연령대_50_직장_인구_수 805
연령대_60_이상_직장_인구_수 805
남성연령대_10_직장_인구_수 805
남성연령대_20_직장_인구_수 805
남성연령대_30_직장_인구_수 805
남성연령대_40_직장_인구_수 805
남성연령대_50_직장_인구_수 805
남성연령대_60_이상_직장_인구_수 805
여성연령대_10_직장_인구_수 805
여성연령대_20_직장_인구_수 805
여성연령대_30_직장_인구_수 805
여성연령대_40_직장_인구_수 805
여성연령대_50_직장_인구_수 805
여성연령대_60_이상_직장_인구_수 805
점포_수 0
유사_업종_점포_수 0
개업_율 0
개업_점포_수 0
폐업_률 0
폐업_점포_수 0
프랜차이즈_점포_수 0
엑스좌표_값 0
와이좌표_값 0
자치구_코드 0
자치구_코드_명 0
행정동_코드 0
행정동_코드_명 0
영역_면적 0
아파트_단지_수 81253
아파트_면적_66_제곱미터_미만_세대_수 81253
아파트_면적_66_제곱미터_세대_수 81253
아파트_면적_99_제곱미터_세대_수 81253
아파트_면적_132_제곱미터_세대_수 81253
아파트_면적_165_제곱미터_세대_수 81253
아파트_가격_1_억_미만_세대_수 81253
아파트_가격_1_억_세대_수 81253
아파트_가격_2_억_세대_수 81253
아파트_가격_3_억_세대_수 81253
아파트_가격_4_억_세대_수 81253
아파트_가격_5_억_세대_수 81253
아파트_가격_6_억_이상_세대_수 81253
아파트_평균_면적 81253
아파트_평균_시가 81253
월_평균_소득_금액 1121
소득_구간_코드 1121
지출_총금액 1121
식료품_지출_총금액 1121
의류_신발_지출_총금액 1121
생활용품_지출_총금액 1121
의료비_지출_총금액 1121
교통_지출_총금액 1121
여가_지출_총금액 1121
문화_지출_총금액 1121
교육_지출_총금액 1121
유흥_지출_총금액 1121
총_유동인구_수 7
남성_유동인구_수 7
여성_유동인구_수 7
연령대_10_유동인구_수 7
연령대_20_유동인구_수 7
연령대_30_유동인구_수 7
연령대_40_유동인구_수 7
연령대_50_유동인구_수 7
연령대_60_이상_유동인구_수 7
시간대_00_06_유동인구_수 7
시간대_06_11_유동인구_수 7
시간대_11_14_유동인구_수 7
시간대_14_17_유동인구_수 7
시간대_17_21_유동인구_수 7
시간대_21_24_유동인구_수 7
월요일_유동인구_수 7
화요일_유동인구_수 7
수요일_유동인구_수 7
목요일_유동인구_수 7
금요일_유동인구_수 7
토요일_유동인구_수 7
일요일_유동인구_수 7
총_상주인구_수 59858
남성_상주인구_수 59858
여성_상주인구_수 59858
연령대_10_상주인구_수 59858
연령대_20_상주인구_수 59858
연령대_30_상주인구_수 59858
연령대_40_상주인구_수 59858
연령대_50_상주인구_수 59858
연령대_60_이상_상주인구_수 59858
남성연령대_10_상주인구_수 59858
남성연령대_20_상주인구_수 59858
남성연령대_30_상주인구_수 59858
남성연령대_40_상주인구_수 59858
남성연령대_50_상주인구_수 59858
남성연령대_60_이상_상주인구_수 59858
여성연령대_10_상주인구_수 59858
여성연령대_20_상주인구_수 59858
여성연령대_30_상주인구_수 59858
여성연령대_40_상주인구_수 59858
여성연령대_50_상주인구_수 59858
여성연령대_60_이상_상주인구_수 59858
총_가구_수 59858
아파트_가구_수 59858
비_아파트_가구_수 59858

#### '상권_코드_명', '행정동_코드_명' replace
- 같은 `상권 코드`를 사용하는 `상권_코드_명`이 존재함을 발견 → 같은 이름 but, `.`이 `?`로 표시됨
- `행정동_코드_명`에서 `?`로 나타나는 값이 존재함을 발견
- 두 컬럼에서 `?`를 `?`으로 replace 작업 진행

In [85]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1578)

In [86]:
temp = market_data[['상권_코드', '상권_코드_명']].drop_duplicates()
temp

          상권_코드                 상권_코드_명
0       3120037              동대문역사문화공원역
1       3001492  명동 남대문 북창동 다동 무교동 관광특구
2       3110085                  경리단길남측
3       3110166                구의1동주민센터
4       3110161                  중곡역 3번
...         ...                     ...
240453  3130046           team204(팀204)
254243  3110017                   정독도서관
321225  3130288                신림현대종합상가
344687  3001494              종로?청계 관광특구
345579  3110119                  마장지하차도

[1578 rows x 2 columns]

In [87]:
temp[temp['상권_코드'].duplicated()]

          상권_코드     상권_코드_명
344687  3001494  종로?청계 관광특구

In [88]:
temp[temp['상권_코드'] == 3001494]

          상권_코드     상권_코드_명
93      3001494  종로·청계 관광특구
344687  3001494  종로?청계 관광특구

In [89]:
market_data['상권_코드_명'] = market_data['상권_코드_명'].str.replace('?', '·', regex=False)
market_data['행정동_코드_명'] = market_data['행정동_코드_명'].str.replace('?', '·', regex=False)

In [90]:
market_data['상권_코드'].nunique(), market_data['상권_코드_명'].nunique()

(1577, 1577)

In [91]:
market_data.to_csv('../../data/processed_data/market_full_data.csv', index=False)

## 서비스 제공 업종 선별
- **외식업(10)**: 한식음식점, 커피-음료, 분식전문점, 호프-간이주점, 치킨전문점, 중식음식점, 패스트푸드점, 제과점, 일식음식점, 양식음식점
- **소매업(4)**: 편의점, 일반의류, 화장품, 의약품
- **서비스업(3)**: 일반교습학원, 미용실, 세탁소

In [4]:
import pandas as pd

pd.set_option('display.max_columns', 500)

In [35]:
data = pd.read_csv('../../data/processed_data/market_full_data.csv')
data.shape

(365911, 183)

In [10]:
data['서비스_업종_코드_명'].unique()

array(['네일숍', '피부관리실', '세탁소', '가전제품수리', '부동산중개업', '여관', '노래방', '슈퍼마켓',
       '육류판매', '편의점', '가방', '컴퓨터및주변장치판매', '핸드폰', '미곡판매', '수산물판매', '화초',
       '청과상', '반찬가게', '시계및귀금속', '일반의류', '신발', '안경', '의약품', '의료기기', '서적',
       '문구', '화장품', '운동/경기용품', '자전거 및 기타운송장비', '섬유제품', '완구', '애완동물', '가구',
       '가전제품', '철물점', '인테리어', '조명용품', '전자상거래업', '중식음식점', '분식전문점', '커피-음료',
       '일반교습학원', '예술학원', '제과점', '치킨전문점', '자동차미용', '한식음식점', '미용실', '일식음식점',
       '양식음식점', '패스트푸드점', '호프-간이주점', '외국어학원', '스포츠 강습', '일반의원', '치과의원',
       '한의원', '당구장', '골프연습장', 'PC방', '스포츠클럽', '자동차수리', '고시원'],
      dtype=object)

In [22]:
temp = data[['서비스_업종_코드', '서비스_업종_코드_명']].drop_duplicates()

food = temp[temp['서비스_업종_코드_명'].isin(['한식음식점', '커피-음료', '분식전문점', '호프-간이주점', '치킨전문점', '중식음식점', '패스트푸드점', '제과점', '일식음식점', '양식음식점'])].reset_index(drop=True)
retail = temp[temp['서비스_업종_코드_명'].isin(['편의점', '일반의류', '화장품', '의약품'])].reset_index(drop=True)
service = temp[temp['서비스_업종_코드_명'].isin(['일반교습학원', '미용실', '세탁소'])].reset_index(drop=True)

In [23]:
food

  서비스_업종_코드 서비스_업종_코드_명
0  CS100002       중식음식점
1  CS100008       분식전문점
2  CS100010       커피-음료
3  CS100005         제과점
4  CS100007       치킨전문점
5  CS100001       한식음식점
6  CS100003       일식음식점
7  CS100004       양식음식점
8  CS100006      패스트푸드점
9  CS100009     호프-간이주점

In [24]:
retail

  서비스_업종_코드 서비스_업종_코드_명
0  CS300002         편의점
1  CS300011        일반의류
2  CS300018         의약품
3  CS300022         화장품

In [25]:
service

  서비스_업종_코드 서비스_업종_코드_명
0  CS200031         세탁소
1  CS200001      일반교습학원
2  CS200028         미용실

In [36]:
business_type_code = list(food['서비스_업종_코드']) + list(retail['서비스_업종_코드']) + list(service['서비스_업종_코드'])

service_data = data[data['서비스_업종_코드'].isin(business_type_code)]
service_data.shape

(196240, 183)

In [37]:
service_data = service_data.reset_index(drop=True)
service_data

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20191,A,골목상권,3110088,오산고등학교,CS200031,세탁소,6.263506e+07,3564,5.040343e+07,1.223164e+07,7.525904e+06,6.823102e+06,1.386988e+07,1.609433e+07,6.090209e+06,1.223164e+07,0.000000e+00,0.0,1.894831e+07,1.128999e+07,1.739012e+07,1.482306e+07,183589,3.794615e+07,2.226838e+07,187885,2396215,1.430379e+07,2.969768e+07,9.578877e+06,4.050083e+06,2736,828,478,427,814,570,447,828,0,0,825,767,952,1010,10,2241,1296,62,175,766,1620,718,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.0,101.0,104.0,2.0,56.0,88.0,33.0,14.0,12.0,0.0,27.0,40.0,17.0,11.0,6.0,2.0,29.0,48.0,16.0,3.0,6.0,2,3,0,0,0,0,1,199685,447296,11170,용산구,11170690,서빙고동,96560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2851736.0,6.0,1.192316e+09,2.979949e+08,146448508.0,89599201.0,150736234.0,206747552.0,46055960.0,35567749.0,168025554.0,51140258.0,421253.0,206631.0,214622.0,67622.0,55513.0,62082.0,85380.0,59317.0,91340.0,117009.0,90451.0,49087.0,46282.0,63591.0,54834.0,59334.0,59104.0,59845.0,59532.0,59726.0,60947.0,62764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20191,R,전통시장,3130112,사가정시장,CS200031,세탁소,3.572444e+06,92,1.008523e+06,2.563921e+06,1.562500e+05,1.704550e+05,1.420450e+05,4.971590e+05,4.261400e+04,2.563921e+06,0.000000e+00,0.0,0.000000e+00,2.840900e+04,2.414770e+05,2.500001e+06,802557,2.691762e+06,8.806820e+05,142045,142045,4.261370e+05,1.157671e+06,1.654830e+06,4.971600e+04,64,28,15,7,7,21,14,28,0,0,0,7,21,57,7,21,71,21,7,22,21,14,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254.0,88.0,166.0,0.0,47.0,61.0,63.0,56.0,27.0,0.0,9.0,19.0,23.0,19.0,18.0,0.0,38.0,42.0,40.0,37.0,9.0,3,3,0,0,0,0,0,208001,453529,11260,중랑구,11260575,면목3·8동,59114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2287001.0,5.0,7.976321e+08,2.376632e+08,94019327.0,60198729.0,115544774.0,116068448.0,28812432.0,26219194.0,86723691.0,32382354.0,1113579.0,534008.0,579571.0,131611.0,171381.0,161715.0,158558.0,178814.0,311501.0,249112.0,217459.0,130823.0,139745.0,220692.0,155746.0,159111.0,157313.0,157474.0,156553.0,155287.0,165744.0,162099.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20191,A,골목상권,3110253,중곡초등학교,CS200031,세탁소,1.005023e+07,508,5.639227e+06,4.411000e+06,1.218183e+06,1.143831e+06,1.341227e+06,1.280654e+06,6.553320e+05,4.411000e+06,0.000000e+00,0.0,8.425010e+05,2.293541e+06,3.753584e+06,3.160601e+06,0,3.677333e+06,6.372894e+06,0,635366,2.136077e+06,4.962336e+06,1.157673e+06,1.158775e+06,311,197,74,30,98,60,49,197,0,0,48,110,178,172,0,244,264,0,55,79,289,55,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,160.0,123.0,1.0,45.0,59.0,72.0,68.0,38.0,0.0,21.0,36.0,35.0,42.0,26.0,1.0,24.0,23.0,37.0,26.0,12.0,3,4,0,0,0,0,1,207294,452626,11260,중랑구,11260540,면목4동,86503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2343341.0,5.0,1.319803e+09,4.089706e+08,153070691.0,98075426.0,198772224.0,189287001.0,41672052.0,44579011.0,130879804.0,54495700.0,973547.0,459591.0,513957.0,145450.0,115208.0,154806.0,156517.0,165610.0,235957.0,286969.0,211643.0,104331.0,99790.0,143405.0,127410.0,138558.0,134713.0,135671.0,134798.0,132194.0,146589.0,151026.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20191,A,골목상권,3110295,정릉우체국,CS200031,세탁소,3.187636e+07,2016,2.285032e+07,9.026033e+06,3.358007e+06,4.175272e+06,6.152489e+06,3.913950e+06,5.250605e+06,8.997958e+06,2.807500e+04,0.0,4.601059e+06,8.267332e+06,9.476357e+06,9.531608e+06,0,1.515494e+07,1.672142e+07,248521,1424586,8.529215e+06,1.256310e+07,5.806492e+06,3.304439e+06,1460,556,269,230,394,236,331,550,6,0,393,501,622,500,0,938,1078,17,112,538,703,449,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.0,152.0,152.0,6.0,55.0,57.0,71.0,70.0,45.0,3.0,23.0,34.0,35.0,29.0,28.0,3.0,32.0,23.0,36.0,41.0,17.0,2,3,0,0,0,0,1,201097,456370,11290,성북구,11290630,정릉2동,153101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2437934.0,5.0,2.411285e+09,6.274317e+08,290596557.0,178448887.0,321564573.0,406730330.0,90841949.0,71360730.0,322933023.0,101377742.0,1056423.0,493972.0,562449.0,193769.0,131422.0,144785.0,154951.0,143769.0,287729.0,288318.0,216261.0,116539.0,117403.0,173361.0,144542.0,150819.0,149666.0,149218.0,150331.0,146131.0,152483.0,157777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20191,A,골목상권,3110404,신창초등학교,CS200031,세탁소,3.636364e+06,223,3.535354e+06,1.010100e+05,7.171720e+05,1.181819e+06,7.575760e+05,2.929290e+05,5.858580e+05,1.010100e+05,0.000000e+00,0.0,1.313130e+05,6.666660e+05,1.454546e+06,1.383839e+06,0,9.090910e+05,2.727273e+06,0,1090909,1.343435e+06,8.080810e+05,3.939390e+05,0.000000e+00,213,10,62,50,30,30,41,10,0,0,10,61,71,81,0,81,142,0,73,50,60,40,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,592.0,238.0,354.0,2.0,51.0,107.0,150.0,187.0,95.0,2.0,12.0,42.0,70.0,70.0,42.0,0.0,39.0,65.0,80.0,117.0,53.0,6,6,0,0,0,0,0,203576,459627,11320,도봉구,11320513,창3동,297142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2235249.0,5.0,4.575474e+09,1.309201e+09,535691560.0,321663371.0,650912604.0,707071584.0,156337963.0,140223266.0,568044374.0,186327828.0,3921535.0,1779069.0,2142466.0,675476.0,436464.0,470462.0,599738.0,643557.0,1095838.0,1109855.0,831147.0,432728.0,419678.0,608204.0,519926.0,565631.0,552988.0,546324.0,541163.0,539459.0,561063.0,614907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196235,20232,U,관광특구,3001496,강남 마이스 관광특구,CS200028,미용실,7.854134e+08,9162,5.426401e+08,2.427732e+08,9.631724e+07,8.849327e+07,1.004334e+08,7.556528e+07,1.818310e+08,1.640789e+08,7.869430e+07,2198704.0,1.242411e+07,1.869839e+08,2.597167e+08,2.784854e+08,45604582,3.373374e+08,4.305198e+08,1517040,35696274,1.198964e+08,3.037992e+08,1.880325e+08,1.189158e+08,6657,2505,1166,1365,1228,1063,1835,1656,849,7,275,2399,3026,3110,345,5064,4031,20,675,2173,2961,1921,1347,35.0,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,15904.0,8904.0,7000.0,59.0,3513.0,6185.0,4248.0,1596.0,303.0,25.0,1160.0,3361.0,2887.0,1246.0,225.0,34.0,2353.0,2824.0,1361.0,350.0,78.0,2,5,0,0,0,0,3,205282,445736,11680,강남구,11680580,삼성1동,237892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7010917.0,10.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111108.0,55410.0,55701.0,8166.0,22991.0,30577.0,25065.0,14072.0,10238.0,6229.0,21293.0,26819.0,27393.0,23286.0,6089.0,14719.0,16219.0,17924.0,18904.0,18166.0,13814.0,11365.0,19.0,11.0,8.0,6.0,0.0,1.0,4.0,1.0,7.0,3.0,0.0,0.0,2.0,1.0,5.0,3.0,0.0,1.0,2.0,0.0,2.0,18.0,0.0,18.0
196236,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300002,편의점,2.574472e+09,457641,2.088942e+09,4.855303e+08,3.741631e+08,3.987207e+08,4.344067e+08,4.704578e+08,4.111935e+08,2.787752e+08,2.067552e+08,47886516.0,5.880821e+08,6.471265e+08,4.975917e+08,5.518378e+08,241947555,1.284611e+09,7.910388e+08,12872813,470640087,6.655768e+08,4.866663e+08,3.024033e+08,1.374905e+08,369033,88608,65991,71751,76426,81066,73799,49604,39004,6506,123038,110385,95493,92530,29689,242396,179520,3833,108571,142458,91683,55283,20089,35.0,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,15904.0,8904.0,7000.0,59.0,3513.0,6185.0,4248.0,1596.0,303.0,25.0,1160.0,3361.0,2887.0,1246.0,225.0,34.0,2353.0,2824.0,1361.0,350.0,78.0,0,14,7,1,0,0,14,205282,445736,11680,강남구,11680580,삼성1동,237892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7010917.0,10.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111108.0,55410.0,55701.0,8166.0,22991.0,30577.0,25065.0,14072.0,10238.0,6229.0,21293.0,26819.0,27393.0,23286.0,6089.0,14719.0,16219.0,17924.0,18904.0,18166.0,13814.0,11365.0,19.0,11.0,8.0,6.0,0.0,1.0,4.0,1.0,7.0,3.0,0.0,0.0,2.0,1.0,5.0,3.0,0.0,1.0,2.0,0.0,2.0,18.0,0.0,18.0
196237,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300011,일반의류,9.266594e+10,1127017,5.730190e+10,3.536404e+10,1.004467e+10,1.065554e+10,9.804044e+09,1.242704e+10,1.437060e+10,1.834219e+10,1.702185e+10,0.0,1.912526e+09,1.956565e+10,2.990374e+10,3.634438e+10,4939640065,2.646750e+10,6.593342e+10,528147675,16087856975,2.665551e+10,2.472351e+10,1.671031e+10,7.695579e+09,724451,402566,125059,126053,125749,169802,177788,208751,193815,0,18559,238760,355244,451389,63065,281724,844665,8630,228704,334995,286304,180225,87533,35.0,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,15904.0,8904.0,7000.0,59.0,3513.0,6185.0,4248.0,1596.0,303.0,25.0,1160.0,3361.0,2887.0,1246.0,225.0,34.0,2353.0,2824.0,1361.0,350.0,78.0,247,247,0,1,3,7,0,205282,445736,11680,강남구,11680580,삼성1동,237892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7010917.0,10.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111108.0,55410.0,55701.0,8166.0,22991.0,30577.0,25065.0,14072.0,10238.0,6229.0,21293.0,26819.0,27393.0,23286.0,6089.0,14719.0,16219.0,17924.0,18904.0,18166.0,13814.0,11365.0,19.0,11.0,8.0,6.0,0.0,1.0,4.0,1.0,7.0,3.0,0.0,0.0,2.0,1.0,5.0,3.0,0.0,1.0,2.0,0.0,2.0,18.0,0.0,18.0
196238,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300018,의약품,7.446218e+09,270217,6.737015e+09,7.092032e+08,5.774585e+08,1.429235e+09,1.847461e+09,1.420565e+09,1.462296e+09,4.166837e+08,2.925196e+08,0.0,1.308303e+09,2.910725e+09,2.223912e+09,9.961566e+08,7121779,5.226555e+09,2.110987e+09,8510527,431265743,8.569045e+08,3.343177e+09,1.961904e+09,7.357798e+08,209179,61038,42890,40859,40604,42402,42424,34072,26966,0,38374,90352,80957,60310,224,128706,138773,1367,48345,85633,60655,41069,30410,35.0,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,15904.0,8904.0,7000.0,59.0,3513.0,6185.0,4248.0,1596.0,303.0,25.0,1160.0,3361.0,2887.0,1246.0,225.0,34.0,2353.0,2824.0,1361.0,350.0,78.0,7,8,0,0,0,0,1,205282,445736,11680,강남구,11680580,삼성1동,237892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7010917.0,10.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111108.0,55410.0,55701.0,8166.0,22991.0,30577.0,25065.0,14072.0,10238.0,6229.0,21293.0,26819.0,27393.0,23286.0,6089.0,14719.0,16219.0,17924.0,18904.0,18166.0,13814.0,11365.0,19.0,11.0,8.0,6.0,0.0,1.0,4.0,1.0,7.0,3.0,0.0,0.0,2.0,1.0,5.0,3.0,0.0,1.0,2.0,0.0,2.0,18.0,0.0,18.0
196239,20232,U,관광특구,3001496,강남 마이스 관광특구,CS300022,화장품,3.465515e+10,780687,2.760224e+10,7.052911e+09,5.481102e+09,5.029309e+09,5.541158e+09,5.833787e+09,5.716881e+09,5.068672e+09,1.984238e+09,0.0,2.885425e+09,1.012724e+10,1.241847e+10,8.435700e+09,788302777,1.106769e+10,2.174194e+10,160443104,4126695246,5.671901e+09,9.038449e+09,8.964071e+09,4.848076e+09,570788,209899,105840,106734,112405,121154,124655,124812,85087,0,40054,210826,237322,258892,33593,202193,572277,8135,191821,201128,169084,141148,63153,35.0,1.0,8.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,15904.0,8904.0,7000.0,59.0,3513.0,6185.0,4248.0,1596.0,303.0,25.0,1160.0,3361.0,2887.0,1246.0,225.0,34.0,2353.0,2824.0,1361.0,350.0,78.0,45,52,0,0,2,1,7,205282,445736,11680,강남구,11680580,삼성1동,237892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7010917.0,10.0,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111108.0,55410.0,55701.0,8166.0,22991.0,30577.0,25065.0,14072.0,10238.0,6229.0,21293.0,26819.0,27393.0,23286.0,6089.0,14719.0,16219.0,17924.0,18904.0,18166.0,13814.0,11365.0,19.0,11.0,8.0,6.0,0.0,1.0,4.0,1.0,7.0,3.0,0.0,0.0,2.0,1.0,5.0,3.0,0.0,1.0,2.0,0.0,2.0,18.0,0.0,18.0

In [42]:
service_data.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
                      ...
여성연령대_50_상주인구_수       31995
여성연령대_60_이상_상주인구_수    31995
총_가구_수                31995
아파트_가구_수              31995
비_아파트_가구_수            31995
Length: 183, dtype: int64

In [ ]:
service_data.to_csv('../../data/processed_data/market_service_data.csv')