In [ ]:

# 행정동 데이터 전처리요~

In [2]:
import numpy as np
import pandas as pd
import os
from glob import glob

In [4]:


df_total=pd.DataFrame()

df_거주인구=pd.DataFrame()
df_상주인구=pd.DataFrame()
df_생활인구=pd.DataFrame()
df_소득소비=pd.DataFrame()
df_아파트=pd.DataFrame()
df_영역=pd.DataFrame()
df_점포=pd.DataFrame()
df_직장인구=pd.DataFrame()
df_집객시설=pd.DataFrame()
df_추정매출=pd.DataFrame()
df_학교=pd.DataFrame()

In [5]:
path='C:/Users/user/big_proj/data/raw data/행정동/'

In [6]:

dfs_거주인구=[]
# 거주인구
for f_name in glob(path+'거주인구/*.csv'):
    temp=pd.read_csv(f_name)
    dfs_거주인구.append(temp)
    # df_거주인구=pd.concat([df_거주인구,temp],)
a,b,c,d=dfs_거주인구

print(a.shape,b.shape,c.shape,d.shape)

(452, 15) (453, 15) (454, 15) (454, 15)

In [22]:
a.isna().sum()

동별(1)      0
동별(2)      0
동별(3)      0
2019       0
2019.1     0
2019.2     0
2019.3     0
2019.4     0
2019.5     0
2019.6     0
2019.7     0
2019.8     0
2019.9     0
2019.10    0
2019.11    0
dtype: int64

In [23]:
b.isna().sum()

동별(1)      0
동별(2)      0
동별(3)      0
2020       0
2020.1     0
2020.2     0
2020.3     0
2020.4     0
2020.5     0
2020.6     0
2020.7     0
2020.8     0
2020.9     0
2020.10    0
2020.11    0
dtype: int64

In [24]:
c.isna().sum()

동별(1)      0
동별(2)      0
동별(3)      0
2021       0
2021.1     0
2021.2     0
2021.3     0
2021.4     0
2021.5     0
2021.6     0
2021.7     0
2021.8     0
2021.9     0
2021.10    0
2021.11    0
dtype: int64

In [25]:
d.isna().sum()

동별(1)      0
동별(2)      0
동별(3)      0
2022       0
2022.1     0
2022.2     0
2022.3     0
2022.4     0
2022.5     0
2022.6     0
2022.7     0
2022.8     0
2022.9     0
2022.10    0
2022.11    0
dtype: int64

In [8]:
dfs_상주인구=[]
# 상주인구
for f_name in glob(path+'상주인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_상주인구.append(temp)
df_상주인구,=dfs_상주인구

df_상주인구.head()

,기준_년분기_코드,행정동_코드,행정동_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,...,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20191,11110515,청운효자동,13047,6111,6936,2248,1648,1879,2304,...,1235,1052,821,1020,1283,1062,1698,5384,314,5070
1,20191,11110530,사직동,9224,4169,5055,1387,1095,1383,1558,...,1021,697,603,781,856,810,1308,4352,163,4189
2,20191,11110540,삼청동,2831,1344,1487,340,336,422,399,...,383,156,171,220,201,253,486,1413,0,1413
3,20191,11110550,부암동,10055,4850,5205,1490,1394,1277,1647,...,1137,689,633,672,905,909,1397,4243,74,4169
4,20191,11110560,평창동,18615,8775,9840,3018,2691,2303,2848,...,1976,1472,1272,1231,1592,1757,2516,7463,459,7004

In [9]:
df_상주인구.shape

(7629, 27)

In [10]:
df_상주인구.dtypes

기준_년분기_코드              int64
행정동_코드                 int64
행정동_코드_명              object
총_상주인구_수               int64
남성_상주인구_수              int64
여성_상주인구_수              int64
연령대_10_상주인구_수          int64
연령대_20_상주인구_수          int64
연령대_30_상주인구_수          int64
연령대_40_상주인구_수          int64
연령대_50_상주인구_수          int64
연령대_60_이상_상주인구_수       int64
남성연령대_10_상주인구_수        int64
남성연령대_20_상주인구_수        int64
남성연령대_30_상주인구_수        int64
남성연령대_40_상주인구_수        int64
남성연령대_50_상주인구_수        int64
남성연령대_60_이상_상주인구_수     int64
여성연령대_10_상주인구_수        int64
여성연령대_20_상주인구_수        int64
여성연령대_30_상주인구_수        int64
여성연령대_40_상주인구_수        int64
여성연령대_50_상주인구_수        int64
여성연령대_60_이상_상주인구_수     int64
총_가구_수                 int64
아파트_가구_수               int64
비_아파트_가구_수             int64
dtype: object

In [11]:
temp=df_상주인구.loc[df_상주인구['행정동_코드']==11110515]
temp

,기준_년분기_코드,행정동_코드,행정동_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,...,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20191,11110515,청운효자동,13047,6111,6936,2248,1648,1879,2304,...,1235,1052,821,1020,1283,1062,1698,5384,314,5070
418,20192,11110515,청운효자동,13030,6109,6921,2288,1641,1883,2314,...,1228,1070,812,1023,1293,1049,1674,5395,316,5079
836,20193,11110515,청운효자동,13030,6109,6921,2288,1641,1883,2314,...,1228,1070,812,1023,1293,1049,1674,5395,316,5079
1254,20194,11110515,청운효자동,12817,5963,6854,2171,1630,1765,2276,...,1259,1035,836,946,1277,1040,1720,5388,0,5388
1679,20201,11110515,청운효자동,12817,5963,6854,2171,1630,1765,2276,...,1259,1035,836,946,1277,1040,1720,5388,0,5388
2239,20202,11110515,청운효자동,12817,5963,6854,2171,1630,1765,2276,...,1259,1035,836,946,1277,1040,1720,5388,0,5388
2529,20203,11110515,청운효자동,12817,5963,6854,2171,1630,1765,2276,...,1259,1035,836,946,1277,1040,1720,5388,0,5388
2954,20204,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
3379,20211,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
3533,20212,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
3958,20213,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
4060,20214,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
4485,20221,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
4910,20222,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352
5335,20224,11110515,청운효자동,13009,6104,6905,1650,1622,1661,2151,...,1608,783,778,877,1196,1202,2069,5352,0,5352
6179,20232,11110515,청운효자동,13009,6104,6905,1650,1622,1661,2151,...,1608,783,778,877,1196,1202,2069,5352,0,5352
6583,20231,11110515,청운효자동,13009,6104,6905,1650,1622,1661,2151,...,1608,783,778,877,1196,1202,2069,5285,0,5285
6603,20223,11110515,청운효자동,12434,5780,6654,1993,1594,1697,2148,...,1275,947,801,917,1181,1060,1748,5352,0,5352

In [12]:
df_상주인구['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20224, 20231, 20232, 20223],
      dtype=int64)

In [19]:
df_상주인구.isna().sum()

기준_년분기_코드             0
행정동_코드                0
행정동_코드_명              0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [13]:
df_total=df_상주인구.copy()
df_total.shape

(7629, 27)

In [17]:
dfs_생활인구=[]
# 생활인구
for f_name in glob(path+'생활인구/*.csv'):
    temp=pd.read_csv(f_name,encoding='cp949')
    dfs_생활인구.append(temp)
df_생활인구,=dfs_생활인구

In [18]:
df_생활인구.shape

(7650, 25)

In [26]:
df_생활인구['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224, 20231, 20232],
      dtype=int64)

In [27]:
df_생활인구.isna().sum()

기준_년분기_코드           0
행정동_코드              0
행정동_코드_명            0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64