### 예측 단위 : 현재 추정 매출, 다음 분기 매출

In [1]:
# Import the module
import pandas as pd

pd.set_option('display.max_columns', 500)

## 개별 파일 병합

### 추정매출 sales

In [2]:
sales2019 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2019년.csv", encoding="cp949")
sales2020 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2020년.csv", encoding="cp949")
sales2021 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2021년.csv", encoding="cp949")
sales2022 = pd.read_csv("../../data/raw data/상권/추정매출/서울시_상권분석서비스(추정매출-상권)_2022년.csv", encoding="cp949")

In [3]:
sales2019.shape, sales2020.shape, sales2021.shape, sales2022.shape

((78405, 55), (79988, 55), (81826, 55), (83573, 55))

In [4]:
sales = pd.concat([sales2019, sales2020, sales2021, sales2022])
sales = sales.reset_index(drop=True)

In [5]:
sales['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224], dtype=int64)

In [6]:
sales.isnull().sum().sum()

0

### 집객시설 facilities

In [7]:
facilities = pd.read_csv("../../data/raw data/상권/집객시설/서울시 상권분석서비스(집객시설-상권).csv", encoding="cp949")

In [8]:
# 집객시설 - 2019년 1-4분기, 2022년 1-3분기 데이터 없음
facilities['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204], dtype=int64)

In [9]:
facilities.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

In [10]:
facilities = facilities.fillna(0)
facilities.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [11]:
facilities2019 = facilities[(20191 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20194)]
facilities2020 = facilities[(20201 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20204)]
facilities2021 = facilities[(20211 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20214)]
facilities2022 = facilities[(20221 <= facilities['기준_년분기_코드']) & (facilities['기준_년분기_코드'] <= 20224)]

In [12]:
facilities2019.shape, facilities2020.shape, facilities2021.shape, facilities2022.shape

((0, 25), (1578, 25), (6312, 25), (6312, 25))

In [13]:
facilities = pd.concat([facilities2019, facilities2020, facilities2021, facilities2022])
facilities = facilities.reset_index(drop=True)

### 직장인구 office_population

In [14]:
# 직장인구 데이터 load
office_population = pd.read_csv("../../data/raw data/상권/직장인구/서울시 상권분석서비스(직장인구-상권).csv", encoding="cp949")

In [15]:
# 직장인구 - 2019년 2-3분기 데이터 없음
office_population['기준_년분기_코드'].unique()

array([20191, 20212, 20194, 20213, 20221, 20222, 20223, 20224, 20202,
       20231, 20214, 20232, 20201, 20203, 20204, 20211], dtype=int64)

In [16]:
office_population.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [17]:
office_population2019 = office_population[(20191 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20194)]
office_population2020 = office_population[(20201 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20204)]
office_population2021 = office_population[(20211 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20214)]
office_population2022 = office_population[(20221 <= office_population['기준_년분기_코드']) & (office_population['기준_년분기_코드'] <= 20224)]

In [18]:
office_population2019.shape, office_population2020.shape, office_population2021.shape, office_population2022.shape

((3267, 26), (6492, 26), (6492, 26), (6492, 26))

In [19]:
# 2019년 2,3분기 데이터 생성(= 2019년 1분기 copy)
office_population20191 = office_population2019[office_population2019['기준_년분기_코드']==20191]
office_population20192 = office_population20191.copy()
office_population20193 = office_population20191.copy()
office_population20194 = office_population2019[office_population2019['기준_년분기_코드']==20194]

In [20]:
office_population20192['기준_년분기_코드'] = 20192
office_population20193['기준_년분기_코드'] = 20193

print(office_population20191['기준_년분기_코드'].unique())
print(office_population20192['기준_년분기_코드'].unique())
print(office_population20193['기준_년분기_코드'].unique())
print(office_population20194['기준_년분기_코드'].unique())

[20191]
[20192]
[20193]
[20194]

In [21]:
office_population2019 = pd.concat([office_population20191, office_population20192, office_population20193, office_population20194])
office_population2019 = office_population2019.reset_index(drop=True)

In [22]:
office_population = pd.concat([office_population2019, office_population2020, office_population2021, office_population2022])
office_population = office_population.reset_index(drop=True)

In [23]:
office_population['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20202, 20201, 20203, 20204, 20212,
       20213, 20214, 20211, 20221, 20222, 20223, 20224], dtype=int64)

### 점포 store

In [24]:
store2019 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2019년.csv", encoding="cp949")
store2020 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2020년.csv", encoding="cp949")
store2021 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2021년.csv", encoding="cp949")
store2022 = pd.read_csv("../../data/raw data/상권/점포/서울시_상권분석서비스(점포-상권)_2022년.csv", encoding="cp949")

In [25]:
store2019.shape, store2020.shape, store2021.shape, store2022.shape

((298601, 14), (301143, 14), (303483, 14), (304755, 14))

In [26]:
store = pd.concat([store2019, store2020, store2021, store2022])
store = store.reset_index(drop=True)

In [27]:
store['기준_년분기_코드'].unique()

array([20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211,
       20212, 20213, 20214, 20221, 20222, 20223, 20224], dtype=int64)

In [28]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 영역 area

In [29]:
area = pd.read_csv("../../data/raw data/상권/영역/서울시 상권분석서비스(영역-상권).csv", encoding="cp949")
area

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093,453418,11110,종로구,11110515,청운효자동,149264
1,A,골목상권,3110009,자하문터널,196991,455057,11110,종로구,11110550,부암동,178306
2,A,골목상권,3110010,평창동서측,197064,456643,11110,종로구,11110560,평창동,369415
3,A,골목상권,3110017,정독도서관,198581,453781,11110,종로구,11110600,가회동,83855
4,A,골목상권,3110018,중앙고등학교,198883,453690,11110,종로구,11110600,가회동,166872
...,...,...,...,...,...,...,...,...,...,...,...
1645,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,198397,451614,11140,중구,11140520,소공동,983618
1646,U,관광특구,3001493,동대문패션타운 관광특구,200996,451976,11140,중구,11140590,광희동,606058
1647,U,관광특구,3001494,종로?청계 관광특구,199796,452274,11110,종로구,11110615,종로1?2?3?4가동,653127
1648,U,관광특구,3001495,잠실 관광특구,210188,446334,11710,송파구,11710562,방이2동,2462734
1649,U,관광특구,3001496,강남 마이스 관광특구,205282,445736,11680,강남구,11680580,삼성1동,237892

In [30]:
area.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 아파트 apartment

In [31]:
apartment = pd.read_csv("../../data/raw data/상권/아파트/서울시 상권분석서비스(아파트-상권).csv", encoding="cp949")

In [32]:
# 아파트 - 2019년 1-3분기 데이터 없음
apartment['기준_년분기_코드'].unique()

array([20232, 20231, 20224, 20223, 20222, 20221, 20214, 20213, 20212,
       20211, 20204, 20203, 20202, 20201, 20194], dtype=int64)

In [33]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

In [34]:
apartment = apartment.fillna(0)
apartment.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
아파트_단지_수                  0
아파트_면적_66_제곱미터_미만_세대_수    0
아파트_면적_66_제곱미터_세대_수       0
아파트_면적_99_제곱미터_세대_수       0
아파트_면적_132_제곱미터_세대_수      0
아파트_면적_165_제곱미터_세대_수      0
아파트_가격_1_억_미만_세대_수        0
아파트_가격_1_억_세대_수           0
아파트_가격_2_억_세대_수           0
아파트_가격_3_억_세대_수           0
아파트_가격_4_억_세대_수           0
아파트_가격_5_억_세대_수           0
아파트_가격_6_억_이상_세대_수        0
아파트_평균_면적                 0
아파트_평균_시가                 0
dtype: int64

In [35]:
apartment2019 = apartment[(20191 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20194)]
apartment2020 = apartment[(20201 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20204)]
apartment2021 = apartment[(20211 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20214)]
apartment2022 = apartment[(20221 <= apartment['기준_년분기_코드']) & (apartment['기준_년분기_코드'] <= 20224)]

In [36]:
apartment2019.shape, apartment2020.shape, apartment2021.shape, apartment2022.shape

((1484, 20), (5936, 20), (5916, 20), (5855, 20))

In [37]:
apartment = pd.concat([apartment2019, apartment2020, apartment2021, apartment2022])
apartment = apartment.reset_index(drop=True)

### 소득소비 money

In [38]:
money = pd.read_csv("../../data/raw data/상권/소득소비/서울시 상권분석서비스(소득소비-상권).csv", encoding="cp949")

In [39]:
money['기준_년분기_코드'].unique()

array([20231, 20232, 20191, 20193, 20192, 20194, 20201, 20202, 20203,
       20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223, 20224],
      dtype=int64)

In [40]:
money.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

In [41]:
money = money.fillna(0)
money.isnull().sum()

기준_년분기_코드       0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
여가_지출_총금액       0
문화_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
dtype: int64

In [42]:
money2019 = money[(20191 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20194)]
money2020 = money[(20201 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20204)]
money2021 = money[(20211 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20214)]
money2022 = money[(20221 <= money['기준_년분기_코드']) & (money['기준_년분기_코드'] <= 20224)]

In [43]:
money2019.shape, money2020.shape, money2021.shape, money2022.shape

((6518, 17), (6524, 17), (6524, 17), (6524, 17))

In [44]:
money = pd.concat([money2019, money2020, money2021, money2022])
money = money.reset_index(drop=True)

### 생활인구 de_facto_population

In [45]:
de_facto_population = pd.read_csv("../../data/raw data/상권/생활인구/서울시 상권분석서비스(길단위인구-상권).csv", encoding="cp949")

In [46]:
de_facto_population.isnull().sum()

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [47]:
de_facto_population2019 = de_facto_population[(20191 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20194)]
de_facto_population2020 = de_facto_population[(20201 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20204)]
de_facto_population2021 = de_facto_population[(20211 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20214)]
de_facto_population2022 = de_facto_population[(20221 <= de_facto_population['기준_년분기_코드']) & (de_facto_population['기준_년분기_코드'] <= 20224)]

In [48]:
de_facto_population2019.shape, de_facto_population2020.shape, de_facto_population2021.shape, de_facto_population2022.shape

((6600, 27), (6600, 27), (6600, 27), (6599, 27))

In [49]:
de_facto_population = pd.concat([de_facto_population2019, de_facto_population2020, de_facto_population2021, de_facto_population2022])
de_facto_population = de_facto_population.reset_index(drop=True)

In [50]:
de_facto_population['기준_년분기_코드'].unique()

array([20194, 20193, 20192, 20191, 20204, 20203, 20202, 20201, 20214,
       20213, 20212, 20211, 20224, 20223, 20222, 20221], dtype=int64)

### 상주인구 de_jure_population

In [51]:
de_jure_population = pd.read_csv("../../data/raw data/상권/상주인구/서울시 상권분석서비스(상주인구-상권).csv", encoding="cp949")

In [52]:
de_jure_population.isnull().sum()

기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [53]:
de_jure_population2019 = de_jure_population[(20191 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20194)]
de_jure_population2020 = de_jure_population[(20201 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20204)]
de_jure_population2021 = de_jure_population[(20211 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20214)]
de_jure_population2022 = de_jure_population[(20221 <= de_jure_population['기준_년분기_코드']) & (de_jure_population['기준_년분기_코드'] <= 20224)]

In [54]:
de_jure_population2019.shape, de_jure_population2020.shape, de_jure_population2021.shape, de_jure_population2022.shape

((1634, 29), (6536, 29), (6536, 29), (6527, 29))

In [55]:
de_jure_population = pd.concat([de_jure_population2019, de_jure_population2020, de_jure_population2021, de_jure_population2022])
de_jure_population = de_jure_population.reset_index(drop=True)

In [56]:
# 상주인구 - 2019년 1-3분기 데이터 없음
de_jure_population['기준_년분기_코드'].unique()

array([20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214,
       20221, 20222, 20223, 20224], dtype=int64)

## 전체 파일 병합
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명']`
- `on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명']`

In [57]:
# sales + facilities

In [58]:
sales.shape, facilities.shape

((323792, 55), (14202, 25))

In [59]:
temp = sales.merge(facilities, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 75)

In [60]:
# sales + facilities + office_population

In [61]:
temp.shape, office_population.shape

((323792, 75), (26031, 26))

In [62]:
temp = temp.merge(office_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 96)

In [63]:
# sales + facilities + office_population + store

In [64]:
temp.shape, store.shape

((323792, 96), (1207982, 14))

In [65]:
temp = temp.merge(store, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명'])
temp.shape

(323792, 103)

In [66]:
# sales + facilities + office_population + store + area

In [67]:
temp.shape, area.shape

((323792, 103), (1650, 11))

In [68]:
temp = temp.merge(area, how='left', on=['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 110)

In [69]:
# sales + facilities + office_population + store + area + apartment

In [70]:
temp.shape, apartment.shape

((323792, 110), (19191, 20))

In [71]:
temp = temp.merge(apartment, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 125)

In [72]:
# sales + facilities + office_population + store + area + apartment + money

In [73]:
temp.shape, money.shape

((323792, 125), (26090, 17))

In [74]:
temp = temp.merge(money, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 137)

In [75]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population

In [76]:
temp.shape, de_facto_population.shape

((323792, 137), (26399, 27))

In [77]:
temp = temp.merge(de_facto_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 159)

In [78]:
# sales + facilities + office_population + store + area + apartment + money + de_facto_population + de_jure_population

In [79]:
temp.shape, de_jure_population.shape

((323792, 159), (21233, 29))

In [80]:
temp = temp.merge(de_jure_population, how='left', on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'])
temp.shape

(323792, 183)

### csv 파일로 저장

In [81]:
market_data = temp.copy()

In [82]:
market_data.shape

(323792, 183)

In [83]:
market_data

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20191,D,발달상권,3120037,동대문역사문화공원역,CS200029,네일숍,20393290,208,17051978,3341312,10079574,0,3251302,1736638,1984464,596831,2744481,0,0,2806361,1883718,14209451,1493760,0,20393290,0,3494505,2724832,0,13673767,500186,176,32,73,0,49,36,18,14,18,0,0,56,39,86,27,0,208,0,56,21,0,123,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24669.0,11144.0,13525.0,121.0,5870.0,6287.0,5470.0,4916.0,2005.0,33.0,3089.0,3776.0,2577.0,1142.0,527.0,88.0,2781.0,2511.0,2893.0,3774.0,1478.0,5,5,20,1,0,0,0,200652.0,451769.0,11140.0,중구,11140590.0,광희동,370638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2688737.0,6.0,9.873022e+08,275271809.0,121299062.0,76154978.0,133831877.0,150375379.0,36172390.0,33470319.0,116952567.0,43773858.0,3851161.0,1907535.0,1943625.0,228466.0,771943.0,808888.0,668940.0,615824.0,757099.0,614916.0,731480.0,648028.0,682626.0,758525.0,415585.0,566663.0,555936.0,577869.0,605507.0,606096.0,512007.0,427082.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20191,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,CS200029,네일숍,73147711,2136,57025458,16122253,11704014,9926780,13925573,11094589,10374502,12816251,3306002,0,71676,13593203,18551907,39329730,1601195,3011932,70135779,0,20258941,34029326,8219377,7853565,2786502,1757,379,286,364,457,391,259,284,95,0,5,264,562,1270,35,59,2077,0,715,995,236,157,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174313.0,82227.0,92086.0,916.0,43472.0,57809.0,42869.0,23136.0,6111.0,265.0,13774.0,25049.0,23672.0,15400.0,4067.0,651.0,29698.0,32760.0,19197.0,7736.0,2044.0,24,25,4,1,0,0,1,198397.0,451614.0,11140.0,중구,11140520.0,소공동,983618.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3005013.0,7.0,7.990605e+08,198543079.0,109338730.0,65537299.0,100540265.0,145153295.0,47266880.0,23816404.0,73392736.0,35471786.0,7851811.0,3804599.0,4047212.0,295027.0,1475672.0,1880623.0,1607428.0,1168018.0,1425044.0,414813.0,1541004.0,1912999.0,1997410.0,1573937.0,411649.0,1218293.0,1204925.0,1259889.0,1340506.0,1317245.0,875006.0,635949.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20191,A,골목상권,3110085,경리단길남측,CS200029,네일숍,3000000,40,2337081,662919,0,604671,294118,705882,732410,477734,185185,0,555556,185185,826252,1026528,406479,0,3000000,0,479303,1604958,915739,0,0,32,8,0,5,6,12,9,6,2,0,1,2,14,14,9,0,40,0,8,28,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1411.0,785.0,626.0,5.0,198.0,283.0,240.0,256.0,429.0,2.0,78.0,166.0,139.0,144.0,256.0,3.0,120.0,117.0,101.0,112.0,173.0,3,3,33,1,0,0,0,199260.0,448806.0,11170.0,용산구,11170660.0,이태원2동,181830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3245859.0,7.0,2.188939e+09,532674185.0,267634384.0,172710621.0,263791507.0,380360414.0,90076581.0,66482790.0,323715693.0,91493020.0,1330864.0,643730.0,687134.0,129195.0,255831.0,303997.0,234386.0,155716.0,251738.0,347714.0,273693.0,160366.0,160197.0,220472.0,168423.0,183780.0,186297.0,187357.0,187176.0,189988.0,200127.0,196141.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20191,A,골목상권,3110166,구의1동주민센터,CS200029,네일숍,8443798,153,4984275,3459523,0,0,1306931,2370413,1306931,2754805,704718,0,0,1153174,1588818,4420501,1281305,128130,8315668,0,1716948,5445545,1281305,0,0,89,64,0,0,25,38,26,38,26,0,0,26,50,64,13,13,140,0,52,88,13,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,528.0,289.0,239.0,0.0,69.0,136.0,156.0,99.0,68.0,0.0,23.0,78.0,102.0,52.0,34.0,0.0,46.0,58.0,54.0,47.0,34.0,3,3,0,0,33,1,0,207558.0,449057.0,11215.0,광진구,11215850.0,구의1동,131620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2791685.0,6.0,2.785503e+09,762006977.0,341828888.0,217844956.0,358080105.0,455938856.0,98214096.0,93114258.0,334904378.0,123570902.0,1756188.0,820875.0,935312.0,222392.0,344480.0,308972.0,256852.0,243790.0,379699.0,541899.0,361314.0,173555.0,167784.0,261895.0,249741.0,248896.0,248459.0,247780.0,248307.0,247488.0,255121.0,260135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20191,A,골목상권,3110161,중곡역 3번,CS200029,네일숍,20756990,305,16694436,4062554,245090,565445,3744146,3384050,8755705,3355372,707182,0,0,2372621,3714210,12054755,2615404,419890,20337100,0,4348966,3810679,6738272,4159712,1699361,244,61,7,18,46,47,126,52,9,0,0,36,37,196,36,4,301,0,79,28,68,91,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,461.0,243.0,218.0,1.0,64.0,117.0,83.0,109.0,87.0,1.0,27.0,61.0,45.0,55.0,54.0,0.0,37.0,56.0,38.0,54.0,33.0,3,3,0,0,0,0,0,207394.0,452066.0,11215.0,광진구,11215760.0,중곡3동,141901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2546792.0,6.0,2.220721e+09,624702020.0,259988797.0,156914936.0,307668930.0,348186461.0,74115481.0,68527141.0,289778771.0,90838127.0,1313881.0,618158.0,695722.0,169439.0,171436.0,210471.0,188950.0,233224.0,340359.0,376264.0,265754.0,140965.0,139989.0,212169.0,178739.0,185076.0,181483.0,182916.0,182490.0,177146.0,197160.0,207609.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323787,20224,R,전통시장,3130051,동화동 골목형상점가,CS100010,커피-음료,74566607,11618,46002960,28563647,6888550,8896483,9061363,8667861,12488703,9673626,18890021,0,19477214,33773830,15634962,5287095,393506,26781662,44278812,241241,6988868,11388117,18953022,19136736,14352487,7493,4125,1233,1381,1427,1463,1989,1393,2732,0,3171,5034,2546,811,56,4239,7016,41,1539,2107,2831,2696,2037,16.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,391.0,156.0,235.0,1.0,82.0,94.0,98.0,66.0,50.0,1.0,18.0,25.0,43.0,36.0,33.0,0.0,64.0,69.0,55.0,30.0,17.0,7,8,0,0,0,0,1,201543.0,451430.0,11140.0,중구,11140665.0,동화동,60206.0,8.0,41.0,39.0,7.0,0.0,0.0,1.0,32.0,14.0,23.0,11.0,5.0,1.0,60.0,286545597.0,2915118.0,6.0,1.082408e+09,253317699.0,137462928.0,82279467.0,129290528.0,188572657.0,54220764.0,30618753.0,162788802.0,43856371.0,1326137.0,637217.0,688919.0,132403.0,192788.0,207136.0,208683.0,257395.0,327732.0,278789.0,257418.0,183324.0,192818.0,256222.0,157563.0,194159.0,190652.0,193330.0,192178.0,190278.0,184807.0,180731.0,1605.0,799.0,806.0,163.0,177.0,268.0,257.0,255.0,485.0,85.0,85.0,134.0,130.0,143.0,222.0,78.0,92.0,134.0,127.0,112.0,263.0,683.0,0.0,683.0
323788,20224,A,골목상권,3110121,한양대역 4번,CS100010,커피-음료,496341232,74976,343713652,152627580,69315709,73849753,72567043,58950905,69030242,77055692,75571888,41427233,25001171,102446489,120403016,143669294,63394029,242544309,252937137,46431059,290772811,46144242,40548964,62151484,9432886,52425,22551,10575,11518,11110,9025,10197,11167,11384,5781,4678,14949,17765,22056,9747,37372,37498,6632,45799,6409,5767,9168,1094,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,45.0,30.0,15.0,0.0,3.0,10.0,8.0,11.0,13.0,0.0,2.0,5.0,5.0,7.0,11.0,0.0,1.0,5.0,3.0,4.0,2.0,3,5,0,0,0,0,2,203699.0,450806.0,11200.0,성동구,11200550.0,사근동,29267.0,8.0,58.0,11.0,0.0,0.0,0.0,46.0,16.0,6.0,1.0,0.0,0.0,0.0,35.0,121020492.0,2656203.0,6.0,4.513821e+08,95104416.0,69051929.0,26095044.0,54203215.0,37414010.0,16531715.0,21728469.0,102784947.0,28468312.0,187745.0,95975.0,91772.0,26841.0,68543.0,27596.0,21106.0,19945.0,23714.0,51966.0,40607.0,22574.0,21642.0,27937.0,23020.0,27036.0,28004.0,28163.0,28290.0,27416.0,24911.0,23925.0,712.0,413.0,299.0,34.0,186.0,246.0,56.0,63.0,127.0,15.0,89.0,183.0,37.0,36.0,53.0,19.0,97.0,63.0,19.0,27.0,74.0,771.0,0.0,771.0
323789,20224,A,골목상권,3110163,성자초등학교,CS100010,커피-음료,60999234,10668,39994099,21005135,6442356,7478408,6236560,9338456,10498319,11736075,9269060,0,8264684,19249803,19200891,12358695,1925161,26777473,31591325,1759271,13866873,12676409,15245431,7852159,6968656,7306,3362,1195,1417,1162,1770,1762,1962,1400,0,1945,3348,2821,2205,349,5054,5440,212,2459,2483,2900,1459,980,14.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,284.0,143.0,141.0,0.0,39.0,46.0,67.0,77.0,55.0,0.0,14.0,27.0,32.0,31.0,39.0,0.0,25.0,19.0,35.0,46.0,16.0,7,9,11,1,11,1,2,207457.0,447914.0,11215.0,광진구,11215830.0,자양2동,66483.0,70.0,489.0,80.0,9.0,3.0,0.0,18.0,216.0,259.0,69.0,14.0,5.0,0.0,51.0,224542581.0,2717384.0,6.0,1.416070e+09,348676748.0,174191167.0,103662623.0,172050753.0,244148892.0,57398123.0,41861412.0,214684023.0,59396328.0,571046.0,273085.0,297962.0,113792.0,65234.0,93528.0,93916.0,77471.0,127104.0,155677.0,123101.0,65849.0,63043.0,88357.0,75019.0,82534.0,82090.0,82034.0,82391.0,82441.0,80051.0,79507.0,2989.0,1434.0,1555.0,410.0,341.0,449.0,590.0,469.0,730.0,186.0,169.0,219.0,310.0,217.0,333.0,224.0,172.0,230.0,280.0,252.0,397.0,1278.0,0.0,1278.0
323790,20224,A,골목상권,3110110,상왕십리역 6번,CS100010,커피-음료,35826724,4681,17309483,18517241,5314656,3331034,3698276,0,4965517,9129309,9387932,0,5211208,14676724,12990517,2948275,0,14405172,21421552,0,14599137,14301724,5115517,931035,879311,2405,2276,723,465,518,0,699,1112,1164,0,724,1888,1708,361,0,1811,2870,0,1966,1784,672,155,104,10.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,87.0,54.0,33.0,1.0,12.0,16.0,24.0,18.0,16.0,1.0,7.0,11.0,13.0,10.0,12.0,0.0,5.0,5.0,11.0,8.0,4.0,5,6,0,0,0,0,1,202454.0,451618.0,11200.0,성동구,11200520.0,왕십리2동,51942.0,12.0,77.0,39.0,0.0,0.0,0.0,5.0,41.0,54.0,16.0,0.0,0.0,0.0,53.0,208434870.0,2722217.0,6.0,1.025524e+09,287452225.0,123829487.0,77704687.0,139607769.0,155779852.0,41248196.0,32666343.0,125724576.0,41510898.0,983718.0,432506.0,551214.0,127959.0,173645.0,193999.0,155946.0,138109.0,194060.0,247348.0,192583.0,112671.0,124511.0,184278.0,122326.0,132883.0,131305.0,131320.0,131555.0,131865.0,157208.0,167581.0,2125.0,1045.0,1080.0,140.0,212.0,432.0,357.0,332.0,652.0,75.0,111.0,198.0,196.0,165.0,300.0,65.0,101.0,234.0,161.0,167.0,352.0,1159.0,0.0,1159.0
323791,20224,D,발달상권,3120065,회기역,CS100010,커피-음료,340596205,67496,206793777,133802428,43748492,33290528,41681155,42157184,45916418,71510636,62291792,0,42395036,96629651,100395110,88316784,12859624,160395118,170671945,5064572,135343508,83976438,41388194,43791177,21503173,44099,23397,9088,8147,8999,8312,9553,12548,10849,0,12437,18780,17569,16780,1930,33303,33800,1141,29609,16899,8442,8130,2883,38.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,12.0,323.0,205.0,118.0,3.0,48.0,55.0,87.0,76.0,54.0,1.0,27.0,39.0,48.0,49.0,41.0,2.0,21.0,16.0,39.0,27.0,13.0,13,20,5,1,0,0,7,205089.0,454430.0,11230.0,동대문구,11230720.0,휘경1동,127203.0,5.0,24.0,23.0,1.0,0.0,0.0,1.0,24.0,1.0,22.0,0.0,0.0,0.0,57.0,242213333.0,2965108.0,6.0,7.627389e+08,173507849.0,100959563.0,59706047.0,87538298.0,122205500.0,38462527.0,24754914.0,121864355.0,33739895.0,1366552.0,609146.0,757406.0,139681.0,597015.0,172609.0,131623.0,130012.0,195611.0,285393.0,283812.0,170446.0,177644.0,267003.0,182254.0,193547.0,193523.0,193085.0,192722.0,194430.0,201792.0,197453.0,1539.0,736.0,803.0,97.0,215.0,499.0,234.0,160.0,334.0,49.0,79.0,257.0,121.0,83.0,147.0,48.0,136.0,242.0,113.0,77.0,187.0,1486.0,0.0,1486.0

In [84]:
market_data.to_csv('../../data/market_data.csv', index=False)